<!-- <div ngForm="generalForm" #generalForm="ngForm"> -->
<!-- <pre>{{childData | json}}</pre> -->
<section class="box box-default">
  <div class="box-body">
    <div *ngIf="childData">
      <div class="form-group row">
        <div class="col-12 col-md-3">
          <md-input-container class="full-width">
            <input mdInput placeholder="Codice Virtual Desk" name="ID" disabled value="{{childData.ID}}">
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container class="full-width">
            <input mdInput placeholder="Codice Riferimento" value="{{childData.ReferralCode}}">
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-error *ngIf="Status.hasError('required')" class="inline">Specificare lo stato.</md-error>
          <md-select #Status="ngModel" name="Status" [(ngModel)]="status" ng-model-options="{trackBy: '$value'}" placeholder="Stato"
            required>
            <md-option [value]="1">Notizia</md-option>
            <md-option [value]="2">In Essere</md-option>
            <md-option [value]="3">Chiuso</md-option>
            <md-option [value]="4">Scaduto</md-option>
            <md-option [value]="5">Chiuso per Penale</md-option>
            <!-- <md-option [value]="6">Sospeso</md-option> -->
            <md-option [value]="7">Venduto</md-option>
            <!-- <md-option [value]="8">Val</md-option> -->
            <!-- <md-option [value]="9">Ad Personam</md-option> -->
            <md-option [value]="10">Cancellato</md-option>
            <!-- <md-option [value]="11">Web</md-option> -->
          </md-select>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker" mdInput [(ngModel)]="childData.InsertDate" name="DataInserimento" placeholder="Data Inserimento"
              disabled>
            <button mdSuffix [mdDatepickerToggle]="picker" disabled></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker></md-datepicker>
        </div>
      </div>
      <!-- <div class="form-group row publish" *ngIf="showAdvertisementPortals()">
        <label>Pubblicazione:</label>
        <div class="col-6 col-md-2">
          <md-checkbox name="sendGrimaldi" value="537" [(ngModel)]="childData.PublishedToGrimaldi" (change)="onPublishPortalChange($event)">
            <img src="../assets/images/logo.png">
          </md-checkbox>
        </div>
        <div class="col-6 col-md-2">
          <md-checkbox name="sendWikicasa" value="2276" [(ngModel)]="childData.PublishedToWikiCasa" (change)="onPublishPortalChange($event)">
            <img src="../assets/images/wikicasa.png">
          </md-checkbox>
        </div>
      </div> -->
    </div>
  </div>
</section>

<section class="box box-inline">
  <div class="box-header bg-color-info">Dati Immobile</div>
  <div class="box-body bg-color-white">
    <div *ngIf="childData">
      <div class="form-group row">
        <div class="col-12">
          <md-error *ngIf="Area.hasError('required')">Specificare la superficie.</md-error>
        </div>
        <div class="col-12 col-md-2">
          <md-input-container>
            <input mdInput number-only allowNegative="false" allowDecimals="false" [(ngModel)]="area" #Area="ngModel" name="Area" placeholder="m²"
              required>
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-error *ngIf="Typology.hasError('required')">Specificare la tipologia.</md-error>
          <md-select md-option-empty #Typology="ngModel" name="Typology" [(ngModel)]="typology" (change)="onTypologyChanged()" placeholder="Tipologia"
            required>
            <md-option [value]="typology.IdTipologia" *ngFor="let typology of typologiesLookup">{{ typology.Descrizione }}</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-3">
          <md-error *ngIf="Subtypology.hasError('required')">Specificare la sottotipologia.</md-error>
          <md-select md-option-empty #Subtypology="ngModel" name="Subtypology" [(ngModel)]="subtypology" (ngModelChange)="onSubTypologyChanged()"
            placeholder="Sottotipologia" [required]="isSubTypologyRequired()">
            <md-option [value]="subTypology?.IdSottotipologia" *ngFor="let subTypology of subTypologiesLookup">{{ subTypology?.Descrizione }}</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-4" style="padding-top: 10px">
          <md-error *ngIf="IntendedUseBitmask.hasError('required')" class="inline">Specificare la destinazione d'uso.</md-error>
          <input type="hidden" [(ngModel)]="intendedUseBitmask" #IntendedUseBitmask="ngModel" name="IntendedUseBitmask" required>
          <md-checkbox [value]="iu.IdDestinazioneUso" [checked]="isIntendedUseSelected(iu.IdDestinazioneUso)" *ngFor="let iu of availableIntendedUseList"
            (change)="onIntendedUsesChange($event)">{{iu.Descrizione}}</md-checkbox>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <md-error *ngIf="Address.hasError('required') || CivicNumber.hasError('required')">Specificare l'indirizzo completo.</md-error>
          <md-error *ngIf="Latitude.hasError('required') || Longitude.hasError('required')">Geolocalizzare l'indirizzo.</md-error>
        </div>
        <md-input-container class="col-12 col-md-4">
          <input mdInput [(ngModel)]="address" #Address="ngModel" name="Address" placeholder="Indirizzo" required>
        </md-input-container>
        <md-input-container class="col-6 col-md-1">
          <input mdInput [(ngModel)]="civicNumber" #CivicNumber="ngModel" name="CivicNumber" placeholder="Civico" required>
        </md-input-container>
        <md-input-container class="col-6 col-md-2">
          <input type="text" mdInput number-only allowNegative="false" allowDecimals="false" [(ngModel)]="postalCode" name="PostalCode"
            #PostalCode="ngModel" maxlength="5" placeholder="CAP" required>
          <md-hint align="end">{{(PostalCode.value) ? PostalCode.value.toString().length : 0}} / 5</md-hint>
        </md-input-container>
        <md-input-container class="col-8 col-md-4">
          <input mdInput placeholder="Comune" [mdAutocomplete]="cityAuto" [formControl]="citiesCtrl" [ngModel]="childData.Address?.Municipality"
            (ngModelChange)="onMunicipalityChanged($event)" required>
        </md-input-container>
        <md-autocomplete #cityAuto="mdAutocomplete" [displayWith]="displayFn">
          <md-option *ngFor="let option of filteredCities | async" [value]="option">
            <span>{{ option.Name }}</span>
          </md-option>
        </md-autocomplete>
        <div class="col-1">
          <input type="hidden" [(ngModel)]="latitude" #Latitude="ngModel" name="Latitude" required>
          <input type="hidden" [(ngModel)]="longitude" #Longitude="ngModel" name="Longitude" required>
          <span mdTooltip="Localizza" mdTooltipPosition="above">
            <button md-fab mat-primary (click)="goToLocalizeTab()">
              <md-icon class="material-icons">location_on</md-icon>
            </button>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <md-error *ngIf="ContractType.hasError('required')" class="inline">Specificare il tipo di contratto.</md-error>
          <input type="hidden" [(ngModel)]="contractType" #ContractType="ngModel" name="ContractType" required>
          <md-checkbox class="full-width-box" name="IsSell" [(ngModel)]="isForSell">
            <h5>Vendita</h5>
            <ul>
              <li>
                <label>Prezzo:</label>
                <md-input-container>
                  <input mdInput name="SellPrice" [(ngModel)]="sellPrice" [disabled]="isNew">
                </md-input-container>
              </li>
              <div class="toolbox-inline">
                <button (click)="showNewPrice = !showNewPrice" *ngIf="!showNewPrice" md-button class="btn-w-md">Effettua Ribasso</button>
                <label *ngIf="showNewPrice">Nuovo prezzo:</label>
                <md-input-container *ngIf="showNewPrice">
                  <input mdInput name="nuovo-prezzo">
                </md-input-container>
              </div>
              <li *ngIf="childData.Assignment">
                <label>Provvigione %:</label>
                <md-input-container>
                  <input mdInput name="SellCommission" [(ngModel)]="childData.Assignment.SellCommission">
                </md-input-container>
              </li>
              <li *ngIf="childData.Assignment">
                <label>Provvigione €:</label>
                <md-input-container>
                  <input mdInput value="{{calculateCommission(childData.SellInformation.Price, childData.Assignment?.SellCommission)}}">
                </md-input-container>
              </li>
            </ul>
          </md-checkbox>
          <md-checkbox class="full-width-box" name="IsRent" [(ngModel)]="isForRent">
            <h5>Locazione</h5>
            <ul>
              <li>
                <label>Prezzo:</label>
                <md-input-container>
                  <input mdInput name="RentPrice" [(ngModel)]="rentPrice" [disabled]="isNew">
                </md-input-container>
              </li>
              <li *ngIf="childData.Assignment">
                <label>Provvigione %:</label>
                <md-input-container>
                  <input mdInput name="RentCommission" [ngModel]="childData.Assignment?.RentCommission">
                </md-input-container>
              </li>
              <li *ngIf="childData.Assignment">
                <label>Provvigione €:</label>
                <md-input-container>
                  <input mdInput value="{{calculateCommission(childData.RentInformation.Price, childData.Assignment?.RentCommission)}}">
                </md-input-container>
              </li>
            </ul>
          </md-checkbox>
          <md-checkbox class="full-width-box" name="IsBareOwnership" [(ngModel)]="isBareOwnership">
            <h5>Nuda Proprietà</h5>
            <ul>
              <li>
                <label>Prezzo:</label>
                <md-input-container>
                  <input mdInput name="BareOwnershipPrice" [(ngModel)]="bareOwnershipPrice" [disabled]="isNew">
                </md-input-container>
              </li>
              <li *ngIf="childData.Assignment">
                <label>Provvigione %:</label>
                <md-input-container>
                  <input mdInput name="BareOwnershipCommission" [ngModel]="childData.Assignment?.BareOwnershipCommission">
                </md-input-container>
              </li>
              <li *ngIf="childData.Assignment">
                <label>Provvigione €:</label>
                <md-input-container>
                  <input mdInput value="{{calculateCommission(childData.BareOwnershipInformation.Price, childData.Assignment?.BareOwnershipCommission)}}">
                </md-input-container>
              </li>
            </ul>
          </md-checkbox>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <md-input-container class="full-width">
            <textarea mdInput [(ngModel)]="childData.DescriptionShort" name="DescriptionShort" #DescriptionShort placeholder="Descrizione Sintetica"
              maxlength="100" rows="2"></textarea>
            <md-hint align="end">{{DescriptionShort.value.length}} / 100</md-hint>
          </md-input-container>
        </div>
        <div class="col-12">
          <md-input-container class="full-width">
            <textarea mdInput [(ngModel)]="childData.Description" name="Description" #Description placeholder="Descrizione" maxlength="250"
              rows="5"></textarea>
            <md-hint align="end">{{Description.value.length}} / 250</md-hint>
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="box box-transparent box-inline">
  <div class="box-header bg-color-info">Clienti</div>
  <div class="box-body">
    <div *ngIf="childData">
      <form>
        <div class="form-group row">
          <div class="col-12">
            <md-input-container class="md-icon-left">
              <md-icon class="material-icons">person_add</md-icon>
              <input mdInput placeholder="Aggiungi nuovo cliente" [mdAutocomplete]="customersAutocomplete" [formControl]="customersCtrl"
                (input)="onCustomerSearchChanged($event)" [ngModel]="selectedCustomer" (ngModelChange)="onCustomerSelected($event)">
            </md-input-container>
            <md-autocomplete #customersAutocomplete="mdAutocomplete" [displayWith]="displayCustomerFn">
              <md-option *ngFor="let customer of filteredCustomers" [value]="customer">{{ customer.Description }}</md-option>
            </md-autocomplete>
            <div class="table-box table-flip-scroll">
              <table class="mdl-data-table table-bordered table-striped cf no-margin full-width">
                <thead class="cf">
                  <tr>
                    <th class="numeric">Codice</th>
                    <th>Descrizione</th>
                    <th class="numeric">Telefono</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of childData.Customers">
                    <td class="numeric">
                      <a [routerLink]="['/app/customers/lista/', customer.ID]">{{customer.ID}}</a>
                    </td>
                    <td>{{customer.Description}}</td>
                    <td class="numeric">
                      <ul>
                        <li *ngFor="let pn of customer?.PhoneNumbers">
                          <!-- <span>{{pn.Type}}</span> -->
                          <a href="tel:{{pn.Number}}">{{pn.Number}}</a>
                        </li>
                      </ul>
                    </td>
                    <td>
                      <a href="mailto:{{customer.Email}}">{{customer.Email}}</a>
                    </td>
                    <td>
                      <a class="delete" (click)="onDeleteCustomer(customer.ID)">
                        <i class="nav-icon material-icons">delete_forever</i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12 col-md-6">
            <md-input-container class="full-width">
              <textarea mdInput [(ngModel)]="childData.Notes.Private" name="NotesPrivate" #note placeholder="Note private" maxlength="150"
                rows="3"></textarea>
              <md-hint align="end">{{note.value.length}} / 150</md-hint>
            </md-input-container>
          </div>
          <div class="col-12 col-md-6">
            <md-input-container class="full-width">
              <textarea mdInput [(ngModel)]="childData.Notes.Public" name="NotesPublic" #note placeholder="Note pubbliche" maxlength="150"
                rows="3"></textarea>
              <md-hint align="end">{{note.value.length}} / 150</md-hint>
            </md-input-container>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- </div> -->