<form #realEstateForm="ngForm" (ngSubmit)="onSave(realEstateForm)" novalidate>
  <!-- <pre>{{ realEstateForm.errors | json }}</pre>
  <hr/>
  <pre>{{realEstate | json}}</pre>
  <hr/>-->
  <section class="container-fluid with-maxwidth no-breadcrumbs chapter real-estate detail">
    <article class="article">
      <div class="toolbox">
        <a md-icon-button (click)="location.back()">
          <md-icon class="material-icons">arrow_back</md-icon>
        </a>
        <!-- <button md-icon-button (click)="location.back()">
          <md-icon class="material-icons">arrow_back</md-icon>
        </button> -->
        <!-- <button md-raised-button (click)="onSave(); isClicked=true" [class.disabled]="isClicked" color="accent" class="btn-save-lg">Salva</button> -->
        <button type="submit" md-raised-button [class.disabled]="isClicked" color="accent" class="btn-save-lg">Salva</button>
      </div>
      <div *ngIf="realEstate && !isNew">
        <detail-resume [TypologyDescription]="realEstate.TypologyDescription" [SubTypologyDescription]="realEstate.SubTypologyDescription"
          [Area]="realEstate.Area" [AddressDescription]="realEstate.Address.Description" [MunicipalityName]="realEstate.Address.Municipality.Name"
          [ContractType]="contractType" [Price]="contractType == 'rent' ? realEstate.RentInformation.Price : realEstate.SellInformation.Price">
        </detail-resume>
      </div>

      <!-- ADVERTISEMENT PORTALS -->
      <section class="box box-default" *ngIf="realEstate && showPublicationControls">
        <div class="box-body">
          <div class="form-group row publish">
            <!-- <label>Pubblicazione:</label> -->
            <div class="col-6 col-md-2">
              <md-checkbox name="sendGrimaldi" value="537" [(ngModel)]="realEstate.PublishedToGrimaldi" (change)="onPublishPortalChange($event)">
                <img src="../assets/images/logo.png">
              </md-checkbox>
            </div>
            <div class="col-6 col-md-2">
              <md-checkbox name="sendWikicasa" value="2276" [(ngModel)]="realEstate.PublishedToWikiCasa" (change)="onPublishPortalChange($event)">
                <img src="../assets/images/wikicasa.png">
              </md-checkbox>
            </div>
            <div class="col-6 col-md-2">
              <a target="blank" href="{{multiInvioUrl}}">
                MULTI INVIO<img src="">
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- /ADVERTISEMENT PORTALS -->

      <div *ngIf="realEstate">
        <md-tab-group (selectChange)="tabChanged($event)" [selectedIndex]="selectedTab">
          <md-tab label="Generali">
            <app-detail-general name="generalData" [(ngModel)]="realEstate"></app-detail-general>
          </md-tab>

          <md-tab label="Localizzazione">
            <app-detail-geolocal [childData]="realEstate"></app-detail-geolocal>
          </md-tab>

          <md-tab label="Incarico">
            <div>
              <app-detail-assignment [childData]="realEstate.Assignment"></app-detail-assignment>
            </div>
          </md-tab>

          <md-tab label="Immagini">
            <app-detail-images [childData]="realEstate"></app-detail-images>
          </md-tab>

          <md-tab label="Attività">
            <div *ngIf="activities">
              <app-detail-activity [childData]="activities"></app-detail-activity>
            </div>
          </md-tab>

          <!-- Tipologia -->
          <md-tab label="Appartamento">
            <app-detail-tipology [childData]="realEstate"></app-detail-tipology>
          </md-tab>

        </md-tab-group>
        <!-- <button md-raised-button (click)="onSave()" color="accent" class="btn-lg btn-save-xs">Salva</button> -->
        <button type="submit" md-raised-button color="accent" class="btn-lg btn-save-xs">Salva</button>
      </div>
      <!-- <ng-template #loading>Loading User Data...</ng-template> -->
    </article>
  </section>
</form>