<div class="summary-header">
  <h4>{{TypologyDescription}}
    <span *ngIf="SubTypologyDescription != TypologyDescription">
      - {{SubTypologyDescription}}</span>
  </h4>
  <span>{{Area}}m². {{AddressDescription}} - {{MunicipalityName}}</span>
  <span>
    <b *ngIf="ContractType == 'rent'">{{Price | currency:'EUR':'symbol-narrow'}}</b>
    <b *ngIf="ContractType == 'sell'">{{Price | currency:'EUR':'symbol-narrow'}}</b>
  </span>
</div>