<div class="app-overlay">
  <form #customerSearchForm="ngForm" (ngSubmit)="onSearch(customerSearchForm)" novalidate>
    <input type="hidden">
    <section class="box box-transparent box-inline">
      <div class="app-overlay-inner">
        <div class="overlay-header">
          <a class="overlay-close" (click)="closeSearchOverlay()">
            <i class="material-icons">close</i>
          </a>
        </div>
        <div class="overlay-content detail">
          <h4><i class="material-icons">search</i> Cerca clienti</h4>
          <div class="form-group row">
            <div class="col-12">
              <mat-form-field>
                <input matInput name="Description" [(ngModel)]="searchParams.Description" autocomplete="off" placeholder="Nome, cognome o ragione sociale">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="box box-default">
      <div class="app-overlay-inner">
        <div class="overlay-content detail">
          <div class="text-small text-muted">
            <span>Puoi cercare anche per:</span>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <mat-form-field>
                <input matInput name="Email" [(ngModel)]="searchParams.Email" placeholder="Email">
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field>
                <input matInput name="PhoneNumber" [(ngModel)]="searchParams.PhoneNumber" placeholder="Numero di telefono">
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-radio-group name="Type" [(ngModel)]="searchParams.Type" class="mat-radio-group-spacing">
                <mat-radio-button value="persona-fisica">Persona fisica</mat-radio-button>
                <mat-radio-button value="company">Società</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-12">
              <mat-checkbox name="WithActiveAssignment" [(ngModel)]="searchParams.WithActiveAssignment">Con incarico di vendita/locazione attivo</mat-checkbox>
              <mat-checkbox name="WithOpenRequest" [(ngModel)]="searchParams.WithOpenRequest">Con richiesta aperta</mat-checkbox>
            </div>
          </div>
          <button type="submit" md-raised-button color="accent" class="btn-lg btn-save-xs">Cerca</button>
        </div>
      </div>
    </section>
  </form>
</div>