<div class="app-overlay">
  <form #realEstateSearchForm="ngForm" (ngSubmit)="onSearch(realEstateSearchForm)" novalidate>
    <!-- @{{realEstateSearchForm.value|json}}@ -->
    <input type="hidden" name="ContractType" [(ngModel)]="searchParams.ContractType">
    <section class="box box-transparent box-inline">
      <div class="app-overlay-inner">
        <div class="overlay-header">
          <a class="overlay-close" (click)="closeSearchOverlay()">
            <i class="material-icons">close</i>
          </a>
        </div>
        <div class="overlay-content detail">
          <h4>
            <i class="material-icons">search</i> Cerca immobili
          </h4>
          <div class="text-small text-muted">
            <span>Compila i seguenti parametri per affinare la ricerca</span>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <md-input-container>
                <input mdInput id="RealEstateID" name="RealEstateID" [(ngModel)]="searchParams.RealEstateID" placeholder="Codice">
              </md-input-container>
            </div>
            <div class="col-12">
              <md-select name="Status" [(ngModel)]="searchParams.Status" placeholder="Stato">
                <md-option [value]="0">Tutti</md-option>
                <md-option [value]="1">Notizia</md-option>
                <md-option [value]="2">In Essere</md-option>
                <md-option [value]="3">Chiuso</md-option>
                <md-option [value]="4">Scaduto</md-option>
                <md-option [value]="5">Chiuso per Penale</md-option>
                <md-option [value]="6">Sospeso</md-option>
                <md-option [value]="7">Venduto</md-option>
                <md-option [value]="8">Val</md-option>
                <md-option [value]="9">Ad Personam</md-option>
                <md-option [value]="10">Cancellato</md-option>
                <md-option [value]="11">Web</md-option>
              </md-select>
            </div>
          </div>
        </div>
      </div>
    </section>

    <md-tab-group>
      <md-tab label="Generica">
        <section class="box box-default">
          <div class="app-overlay-inner">
            <div class="overlay-content detail">
              <div class="form-group row" style="margin-bottom: 0">
                <div class="col-12">
                  <md-select md-option-empty #Typology="ngModel" name="Typology" [(ngModel)]="searchParams.Typology" (change)="onTypologyChanged($event)"
                    placeholder="Tipologia">
                    <md-option [value]="0">Tutti</md-option>
                    <md-option [value]="typology.IdTipologia" *ngFor="let typology of typologiesLookup">{{ typology.Descrizione }}</md-option>
                  </md-select>
                  <md-radio-group name="IntendedUseBitmask" [(ngModel)]="searchParams.IntendedUseBitmask" class="md-radio-group">
                    <md-radio-button [value]="iu.IdDestinazioneUso" *ngFor="let iu of availableIntendedUseList">{{iu.Descrizione}}</md-radio-button>
                  </md-radio-group>
                </div>
              </div>
              <div class="form-group row multi" ngModelGroup="Price">
                <div class="col-4">
                  <md-input-container>
                    <input mdInput number-only allowNegative="false" id="PriceMin" name="Min" [(ngModel)]="searchParams.Price.Min" placeholder="Prezzo min">
                  </md-input-container>
                </div>
                <div class="col-4">
                  <md-input-container>
                    <input mdInput number-only allowNegative="false" id="PriceMax" name="Max" [(ngModel)]="searchParams.Price.Max" placeholder="Prezzo max">
                  </md-input-container>
                </div>
                <div class="col-4">
                  <md-checkbox>Orientativo
                    <span class="text-small text-muted" style="display: block; margin: -3px 0 0 0;">+/- 20%</span>
                  </md-checkbox>
                </div>
              </div>
              <div class="form-group row multi" ngModelGroup="Area">
                <div class="col-4">
                  <md-input-container>
                    <input mdInput number-only allowNegative="false" id="AreaMin" name="Min" [(ngModel)]="searchParams.Area.Min" placeholder="M² min">
                  </md-input-container>
                </div>
                <div class="col-4">
                  <md-input-container>
                    <input mdInput number-only allowNegative="false" id="AreaMax" name="Max" [(ngModel)]="searchParams.Area.Max" placeholder="M² max">
                  </md-input-container>
                </div>
                <div class="col-4">
                  <md-checkbox>Orientativo
                    <span class="text-small text-muted" style="display: block; margin: -3px 0 0 0;">+/- 20%</span>
                  </md-checkbox>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <md-checkbox value="1" name="RoomNumber1" ngModel (change)="onRoomNumberFilterChange($event)">1</md-checkbox>
                  <md-checkbox value="2" name="RoomNumber2" ngModel (change)="onRoomNumberFilterChange($event)">2</md-checkbox>
                  <md-checkbox value="3" name="RoomNumber3" ngModel (change)="onRoomNumberFilterChange($event)">3</md-checkbox>
                  <md-checkbox value="4" name="RoomNumber4" ngModel (change)="onRoomNumberFilterChange($event)">4</md-checkbox>
                  <md-checkbox value="5" name="RoomNumber5" ngModel (change)="onRoomNumberFilterChange($event)">5</md-checkbox>
                  <md-checkbox value="5+" name="RoomNumberGT5" ngModel (change)="onRoomNumberFilterChange($event)">5+</md-checkbox>
                </div>
              </div>
            </div>
          </div>
        </section>
      </md-tab>
      <md-tab label="Cliente">
        <section class="box box-default">
          <div class="app-overlay-inner">
            <div class="overlay-content detail">
              <div class="form-group row">
                <div class="col-12">
                  <div class="text-small text-muted">
                    <span>Cerca un immobile per cliente compilando il campo sottostante</span>
                  </div>
                  <!-- 
                    @{{selectedCustomer}}@
                  <md-input-container class="md-icon-left">
                    
                    <md-icon class="material-icons">person_add</md-icon>
                    <input mdInput 
                    name="CustomerId" 
                    placeholder="Nome, cognome o ragione sociale" 
                    [mdAutocomplete]="customersAutocomplete" 
                    [formControl]="customersCtrl"
                    (input)="onCustomerSearchChanged($event)" 
                    [ngModel]="selectedCustomer" 
                    (ngModelChange)="onCustomerSelected($event)">
                  </md-input-container>
                  <md-autocomplete #customersAutocomplete="mdAutocomplete" [displayWith]="displayCustomerFn">
                    <md-option *ngFor="let customer of filteredCustomers" [value]="customer">{{ customer.Description }}</md-option>
                  </md-autocomplete> -->

                  <md-input-container class="md-icon-left">
                    <md-icon class="material-icons">person_add</md-icon>
                    <input mdInput 
                    name="CustomerId" 
                    placeholder="Nome, cognome o ragione sociale" 
                    [mdAutocomplete]="customersAutocomplete" 
                    [formControl]="customersCtrl" 
                    [ngModel]="selectedCustomer"
                    (ngModelChange)="selectedCustomer = $event" 
                    (input)="onCustomerSearchChanged($event)">
                  </md-input-container>
                  <md-autocomplete #customersAutocomplete="mdAutocomplete" [displayWith]="displayCustomerFn">
                    <md-option *ngFor="let customer of filteredCustomers" [value]="customer">
                      <span>{{ customer.Description }}</span>
                    </md-option>
                  </md-autocomplete>
                </div>
              </div>
            </div>
          </div>
        </section>
      </md-tab>
      <md-tab label="Pubblicazione">
        <section class="box box-default publics">
          <div class="app-overlay-inner">
            <div class="overlay-content detail">
              <div class="form-group row">
                <div class="col-12">
                  <span>Multinvio</span>
                  <md-radio-group name="publicMultinvio" class="md-radio-group-spacing">
                    <md-radio-button [value]="1">Pubblicato</md-radio-button>
                    <md-radio-button [value]="2">Non pubblicato</md-radio-button>
                  </md-radio-group>
                </div>
                <div class="col-12">
                  <img src="../assets/images/logo.png">
                  <md-radio-group name="publicGrimaldi" class="md-radio-group-spacing">
                    <md-radio-button [value]="3">Pubblicato</md-radio-button>
                    <md-radio-button [value]="4">Non pubblicato</md-radio-button>
                  </md-radio-group>
                </div>
                <div class="col-12">
                  <img src="../assets/images/wikicasa.png">
                  <md-radio-group name="publicWikicasa" class="md-radio-group-spacing">
                    <md-radio-button [value]="5">Pubblicato</md-radio-button>
                    <md-radio-button [value]="6">Non pubblicato</md-radio-button>
                  </md-radio-group>
                </div>
              </div>
            </div>
          </div>
        </section>
      </md-tab>
    </md-tab-group>
    <div class="bottom-search-toolbox">
      <button md-raised-button class="btn-w-md reset-search" (click)="resetSearch()" [disabled]="!hasCustomFilters"><i class="material-icons">cached</i>Rimuovi filtri</button>
      <button type="submit" md-raised-button color="accent" class="btn-lg btn-save-xs">Cerca</button>
    </div>

  </form>
</div>