﻿<div class="w90" id="prodActivate" tabindex="-1" role="dialog" aria-labelledby="prodActivate">
    <div class="" role="document">
        <div class="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Promuovi Annuncio</h4>
                <span class="hidden-xs">Aumenta la visibilità del tuo annuncio <strong>{{listing.externalId}}</strong> scegliendo tra i tuoi prodotti di visibilità</span>
            </div>
            <div class="modal-body">
                <span class="subtitle">Prodotti acquistati</span>
                <div class="choose_product">
                    <div class="col-md-12 no-gutter" ng-repeat="product in activables.bought" ng-class="{'unavailable': product.isActivable==false}">
                        <div class="col-xs-12 col-sm-12 col-md-12 selectPrd">
                            <input type="radio" id="depth_{{product.type+'_'+$index}}" name="depth_{{product.type+'_'+$index}}" ng-model="$parent.SelectedProduct" ng-value="{{product}}" />
                            <div class="abb_box">
                                <label for="{{ product.isActivable==true ? 'depth_'+product.type+'_'+$index : ''}}">
                                    <div class="col-xs-6 col-sm-6 col-md-6 text-center"><img ng-src="/Content/img/products/big/{{product.image}}" /></div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 dailyprice">
                                        <span ng-show="product.id != 483"><i class="hidden-xs icon-clock icon-xsmall"></i><label class="padT15">Durata <span>{{product.duration}}</span></label></span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="product in activables.gifts">
                    <span class="subtitle">Prodotti in omaggio</span>
                    <div class="choose_product">
                        <div class="col-md-6" ng-class="{'unavailable': product.isActivable==false}">
                            <div class="col-xs-12 col-sm-12 col-md-12 selectPrd">
                                <input type="radio" id="depth_{{product.type}}" name="Depth" ng-model="$parent.SelectedProduct" />
                                <div class="abb_box">
                                    <!--<label for="depth_{{product.type}}">-->
                                    <label for="{{ product.isActivable==true ? 'depth_'+product.type : ''}}">
                                        <div class="col-xs-6 col-sm-6 col-md-6 text-center"><img ng-src="/Content/img/products/big/{{product.image}}" /></div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 dailyprice">
                                            <span ng-show="product.id != 483"><i class="hidden-xs icon-clock icon-xsmall"></i><label>Durata <span>{{product.duration}}</span></label></span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer distance">
                <button type="button" class="btn-light pull-left" data-dismiss="modal" ng-click="cancel()">Torna alla Pagina</button>
                <button type="button" class="btn pull-right" ng-click="ok()">Promuovi</button>
            </div>
        </div>
    </div>
</div>