﻿<div data-mcs-theme="minimal-dark" data-mcs-position="outside">
    <section class="content property-list">
        <!-- center content -->
        <div class="general-content">
            <!-- listing -->
            <div class="panel panel-default">
                <!-- panel heading -->
                <div class="panel-heading padL25">
                    <h3 class="panel-title pull-left">
                        <i class="icon-annuncio"></i> Gestisci Annunci
                    </h3>
                    <a id="new_listing" ui-sref="Root.ListingEdit.EstateData" class="text-btn pull-right" analytics-on="click">
                        <i class="icon-plus pull-right btn"></i>
                        <span class="hidden-sm hidden-xs">Nuovo Annuncio</span>
                    </a>
                </div>
                <!-- List group -->
                <ul class="list-group container-fluid">
                    <li class="list-group-item row" ng-repeat="item in propertyListCollection">
                        <div class="list-status col-md-3 col-lg-3 col-xs-12">
                            <div>
                                <p class="counters">
                                    <span ng-hide="item.status==0 || item.isVisible" class="pull-left color-gray-light status">Nascosto</span>
                                    <span ng-show="item.status==0" class="pull-left color-blue status">Incompleto</span>
                                    <span class="requests" ng-class="{'visible-lg-block visible-md-block visible-sm-inline visible-xs-inline': item.status==1 || item.status==2}">Richieste: {{item.specificRequestCounter}}</span>
                                    <span class="visitsListing">Visite: {{item.listingViewsCounter}}</span>
                                    <span class="telListing">Telefono: {{item.phoneViewsCounter}}</span>
                                </p>
                                <p class="color-lime start-date" ng-show="item.status==1 || item.status==2">Pubblicato il: <span ng-bind="item.publicationStartDate | date:'dd/MM/yyyy'"></span></p>
                                <p class="color-lime start-date" ng-show="item.status==2">In scadenza</p>
                                <p class="color-lime start-date" ng-show="item.status==3">Scaduto</p>
                                <p ng-show="item.status==1 || item.status==2" class="end-date">Scade il: <span ng-bind="item.publicationEndDate | date:'dd/MM/yyyy'"></span></p>
                                <button ng-show="item.status==1 && HasDepthActive(item) == false && item.isVisible" class="btn hidden-sm hidden-xs" ng-click="openUpgradeModal({{item}})">Acquista Visibilità</button>

                                <div ng-show="item.status==0" class="clear"></div>
                                <a ng-if="item.status == 0 && !item.isInCart" class="btn-light hidden-sm hidden-xs" ng-click="goToFinalizeListing(item.id)">Completa annuncio</a>
                                <a ng-if="item.status == 0 && item.isInCart" class="btn-light hidden-sm hidden-xs" ng-click="goToCart()">Vai al carrello</a>
                                <a ng-show="(item.status==2 || item.status==3) && item.isVisible" class="btn hidden-sm hidden-xs" ui-sref="Root.ListingEdit.ProductsCatalog({listingId: item.id})">
                                    Rinnova
                                </a>
                            </div>
                        </div>
                        <div class="list-img col-md-2 col-lg-2 col-xs-12">
                            <div>
                                <span class="flash_prod hidden-lg hidden-md">
                                    <img ng-repeat="product in item.activeDepthProducts" ng-src="./Content/img/products/icons/{{applicationGlobals.productConfigurations[product.id].image}}" width="145" height="115" />
                                </span>
                                <div class="thumbnail-desktop">
                                    <img ng-if="item.mainImage != null" class="thumbnail_img" ng-src="{{appHelper.getImageUrl(item.mainImage, item.externalId, 160, 120)}}" />
                                    <a ng-if="item.mainImage == null" ui-sref="Root.ListingEdit.GeoAndPicture({listingId: item.id})"><img class="thumbnail_img" title="Carica Foto" ng-src="./Content/img/listings/carica-foto.svg" /></a>
                                </div>
                                <img class="label_img" ng-src="./Content/img/products/decorations/{{applicationGlobals.productConfigurations[item.activeSubscriptionProduct.id].image}}" />
                                <p ng-hide="item.status==0" class="hidden-xs hidden-sm">Annuncio: <span ng-bind="item.externalId"></span></p>
                            </div>
                        </div>
                        <div class="list-info col-md-4 col-lg-4 col-xs-12">
                            <div>
                                <p ng-bind="item | addressFormat"></p>
                                <p>{{ item.category }} - {{ item.contractType }}</p>
                                <p>{{ item.tipology }} - {{item.surface}} mq</p>
                                <p>
                                    Prezzo: <span ng-bind="item.price"></span> €
                                </p>
                                <p class="hidden-lg hidden-md"><strong>Annuncio: <span ng-bind="item.externalId"></span></strong></p>
                            </div>
                            <div>
                                <!-- desktop buttons-->
                                <a ng-if="item.externalId && item.isVisible && item.status != 0 && item.consumerSiteLink" rel="tooltip noopener noreferrer" class="btn-actions" ng-href="{{item.consumerSiteLink}}" target="_blank" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Vai all'annuncio"><i class="icon-prew_ann icon-medium"></i></a>
                                <a id="listing-edit-{{item.id}}" rel="tooltip" class="btn-actions hidden-md hidden-sm hidden-xs" ui-sref="Root.ListingEdit.EstateData({listingId: item.id})" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Modifica"><i class="icon-edit icon-medium"></i></a>
                                <a id="listing-delete-{{item.id}}" data-target="#deleteListing" data-toggle="modal" ng-click="openDeleteListing(item.id)" rel="tooltip" class="btn-actions hidden-md hidden-sm hidden-xs" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Elimina"><i class="icon-trash icon-medium"></i></a>
                                <a id="{{item.isVisible? 'listing-hide-'+item.id:'listing-show-'+item.id}}" rel="tooltip" ng-click="hideToggle($index)" ng-hide="item.activeSubscriptionProduct.length == 0 || item.status == 0" class="btn-actions hidden-md hidden-sm hidden-xs" tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{item.isVisible? 'Nascondi':'Pubblica'}}"><i ng-class="{'icon-no_visual': item.isVisible, 'icon-ceck': !item.isVisible}" class="icon-medium"></i></a>
                                <!-- /desktop buttons-->
                                <!-- mobile buttons-->
                                <a class="btn-actions hidden-lg" ui-sref="Root.ListingEdit.EstateData({listingId: item.id})"><i class="icon-edit icon-medium"></i></a>
                                <a data-target="#deleteListing" data-toggle="modal" ng-click="openDeleteListing(item.id)" class="btn-actions hidden-lg"><i class="icon-trash icon-medium"></i></a>
                                <a ng-click="hideToggle($index)" ng-hide="item.activeSubscriptionProduct.length == 0 || item.status == 0" class="btn-actions hidden-lg"><i ng-class="{'icon-no_visual': item.isVisible, 'icon-ceck': !item.isVisible}" class="icon-medium"></i></a>
                                <!-- /mobile buttons-->
                            </div>
                        </div>
                        <div class="list-upgrade col-md-3 col-lg-3 col-xs-12">
                            <p ng-hide="item.activeDepthProducts.length == 0" class="hidden-sm hidden-xs">Promosso a:</p>
                            <span ng-repeat="product in item.activeDepthProducts">
                                <img class="hidden-xs hidden-sm" ng-src="./Content/img/products/icons/{{applicationGlobals.productConfigurations[product.id].image}}" />
                                <span class="hidden-xs hidden-sm">{{applicationGlobals.productConfigurations[product.id].shortname}}<br /> Scade il {{product.expirationDate | date:'dd/MM/yyyy'}}</span>
                            </span>
                            <a href="#" ng-hide="({{item.status==0 || item.status==3 || HasTopActive(item) || HasSuperTopActive(item) || HasPremiereActive(item)}} || item.activableProductsCounter == 0)" class="btn-light hidden-xs" data-toggle="modal" ng-click="openActivateProductModal({{item}})"><i class="icon-associa_prodotto"></i>Attiva prodotti</a>
                            <a href="#" ng-hide="({{item.status==0 || item.status==3 || HasTopActive(item) || HasSuperTopActive(item) || HasPremiereActive(item)}} || item.activableProductsCounter == 0)" class="hidden-sm hidden-md hidden-lg" data-toggle="modal" ng-click="openActivateProductModal({{item}})"><i class="icon-associa_prodotto"></i><span class="underline">Attiva prodotti</span></a>
                        </div>

                        <button ng-show="item.status==1 && HasDepthActive(item) == false && item.isVisible" class="btn buy_vis hidden-lg hidden-md" data-toggle="modal" data-target="#basicModal" ng-click="openUpgradeModal({{item}})">
                            Acquista Visibilità
                        </button>

                        <a ng-if="item.status==0 && !item.isInCart" class="btn-light buy_vis hidden-lg hidden-md" ng-click="goToFinalizeListing(item.id)">Completa annuncio</a>
                        <a ng-if="item.status == 0 && item.isInCart" class="btn-light buy_vis hidden-lg hidden-md" ng-click="goToCart()">Vai al carrello</a>

                        <a ng-show="(item.status==2 || item.status==3) && item.isVisible" class="btn-light buy_vis hidden-lg hidden-md" ui-sref="Root.ListingEdit.ProductsCatalog({listingId: item.id})">
                            Rinnova
                        </a>

                        <div class="modal fade" id="previewListing" tabindex="-1" role="dialog" aria-labelledby="previewListing">
                            <div class="modal-dialog mobile-modal" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Anteprima Annuncio</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img class="preview_img" ng-if="item.activeProducts.length == 0" ng-src="./Content/img/listings/placeholder_gratis.jpg" />
                                        <img class="preview_img" ng-if="HasSubscriptionActive(item)" ng-src="./Content/img/listings/placeholder_gratis.jpg" />
                                        <img class="preview_img" ng-if="HasTopActive(item)" ng-src="./Content/img/listings/placeholder_top.jpg" />
                                        <img class="preview_img" ng-if="HasSuperTopActive(item)" ng-src="./Content/img/listings/placeholder_supertop.jpg" />
                                        <img class="preview_img" ng-if="HasPremiereActive(item)" ng-src="./Content/img/listings/placeholder_premiere.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item row text-center no-border" ng-show="propertyListCollection.length == 0">
                        <p class="padT15">Nessun annuncio inserito.</p>
                        <p><a class="btn" ui-sref="Root.ListingEdit.EstateData" title="Nuovo Annuncio">Nuovo Annuncio</a></p>
                    </li>
                </ul>
                <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModal">
                    <div class="modal-dialog mobile-modal modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Attiva Flash</h4>
                                <span class="hidden-xs"><strong>Porta il tuo anuncio in cima ai risultati</strong></span>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-light pull-left" data-dismiss="modal">Non Ora</button>
                                <button type="button" class="btn pull-right">Attiva</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="topModal" tabindex="-1" role="dialog" aria-labelledby="topModal">
                    <div class="modal-dialog mobile-modal modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Attiva Annuncio Top</h4>
                                <span class="hidden-xs"><strong>Porta il tuo anuncio in cima ai risultati</strong></span>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-light pull-left" data-dismiss="modal">Non Ora</button>
                                <button type="button" class="btn pull-right">Attiva</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteListing" tabindex="-1" role="dialog" aria-labelledby="deleteListing">
                    <div class="modal-dialog mobile-modal modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Elimina Annuncio</h4>
                            </div>
                            <div class="modal-body">
                                Sei sicuro di voler eliminare questo anuncio definitivamente?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-light pull-left" data-dismiss="modal">Non Ora</button>
                                <button type="button" ng-click="delete()" class="btn pull-right">Elimina</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix  text-center no-border" ng-show="collectionOthersExists">
                    <a href="#" class="btn-dark" ng-click="loadMore()">Mostra Altri <span ng-bind="elementsToGet"></span></a>
                </div>
            </div>
            <!-- end listing -->
        </div>
        <!-- end center content -->
        <!-- adv and widget column -->
        <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol"></div>
        <!-- end adv and widget column -->
    </section>
</div>

