﻿
<div class="" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal">
    <div class="" role="document">
        <div class="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Associa un prodotto</h4>
                <span class="hidden-xs">Aumenta la visibilità dell'annuncio <strong>{{listing.externalId}}</strong> scegliendo tra i prodotti di visibilità disponibili</span>
            </div>
            <div class="modal-body">
                <span class="subtitle">Associa un prodotto</span>
                <div class="choose_product">
                    <div class="col-md-12 no-gutter" ng-repeat="product in catalog.depthProducts" ng-class="{'unavailable': product.isAvailable==false}">
                        <span class="info-point" ng-show="product.isAvailable==false"><i class="icon-circle icon-info icon-xsmall"></i></span>
                        <div class="col-xs-12 col-sm-12 col-md-12 selectPrd no-gutter">
                            <input type="radio" id="depth_{{product.type}}" name="Depth" ng-model="$parent.SelectedProduct" ng-value="(product.options.length > 1)? product._childSelected : product.options[0]" />
                            <div class="abb_box">
                                <!--<label for="depth_{{product.type}}">-->
                                <label for="{{ product.isAvailable==true ? 'depth_'+product.type : ''}}">
                                    <div class="col-xs-6 col-sm-4 col-md-4 text-center"><img ng-src="/Content/img/products/big/{{product.image}}" /></div>
                                    <div class="col-sm-4 col-md-4 abb_claim hidden-xs">
                                        <h3>{{product.name}}</h3>
                                        <p>{{product.description}}</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 dailyprice">
                                        <i ng-hide="product.id === 7" class="hidden-xs icon-clock icon-xsmall"></i><label ng-hide="product.id === 7">Durata <span ng-show="product.options.length == 1">{{product.options[0].duration}}</span></label>
                                        <select ng-show="product.options.length > 1" ng-disabled="product.isAvailable==false" id="{{product.type}}_durations" name="{{product.type}}_durations" ng-init="product._childSelected=product.options[0]" ng-options="bc as bc.duration for bc in product.options | filter: {isAvailable: 'true'}" ng-model="product._childSelected" ng-change="$parent.SelectedProduct = product._childSelected"></select>
                                        <span class="priceText">
                                            <span ng-show="product.options.length === 1">€ {{product.priceInclVAT}}</span>
                                            <span ng-show="product.options.length > 1">€ {{product._childSelected.priceInclVAT}}</span>
                                        </span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="choose_product">
                    <div class="col-md-12 no-gutter flashProduct" ng-repeat="product in catalog.flashProducts" ng-class="{'unavailable': product.isAvailable==false}">
                        <span class="info-point" ng-show="product.isAvailable==false"><i class="icon-circle icon-info icon-xsmall"></i></span>
                        <div class="col-xs-12 col-sm-12 col-md-12 selectPrd no-gutter">
                            <input type="radio" id="depth_{{product.type}}" name="Depth" ng-model="$parent.SelectedProduct" ng-value="product" />
                            <div class="abb_box">
                                <!--<label for="depth_{{product.type}}">-->
                                <label for="{{ product.isAvailable==true ? 'depth_'+product.type : ''}}">
                                    <div class="col-xs-6 col-sm-4 col-md-4 text-center"><img ng-src="/Content/img/products/big/{{product.image}}" /></div>
                                    <div class="col-sm-4 col-md-4 abb_claim hidden-xs">
                                        <h3>{{product.name}}</h3>
                                        <p>Riporta in alto il tuo annuncio in un click.</p>
                                    </div>
                               
                                    <div class="col-xs-6 col-sm-4 col-md-4 dailyprice">
                                        <!--<i class="hidden-xs fa fa-clock-o"></i><label>Durata <span ng-show="product.options.length == 1">{{product.options[0].duration}}</span></label>-->
                                        <select required ng-show="product.options.length > 1" data-key-event="true" id="{{product.type}}_durations" name="{{product.type}}_durations" ng-options="bc as bc.duration for bc in product.options | filter: {isAvailable: 'true'}" ng-model="$parent.SelectedProduct"></select>
                                        <span class="priceText padT15">€ {{product.priceInclVAT}}</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="small padT9" ng-show="ContainsUnavailableProducts == true"><i class="icon-circle icon-info icon-xsmall"></i>Acquistabile alla scadenza dell'attuale promozione.</p>
            </div>
            <div class="modal-footer distance">
                <button type="button" class="btn-light pull-left" data-dismiss="modal" ng-click="cancel()">Torna alla Pagina</button>
                <button type="button" class="btn pull-right" ng-click="ok()">Vai al Carrello</button>
            </div>
        </div>
    </div>
</div>
