﻿<div>
    <section class="content">
        <!-- center content -->
        <div class="general-content">
            <div class="panel panel-default panel-pad">
                <div>
                    <h1 class="top-buffer"><i class="icon-warning icon-xsmall icon-circle text-red"></i>Siamo spiacenti, la transazione non è andata a buon fine.</h1><br />
                    <p>
                        Per ulteriori informazioni contatta il gestore della tua carta di credito.<br />
                        Per concludere l'acquisto riprova più tardi, torna ai <a ui-sref="Root.Home" class="text-black" title="Torna ai tuoi annunci">tuoi annunci.</a>
                    </p>
                    <p class="panel-footer bg-white no-border clearfix">
                        <a class="btn-light pull-left" ui-sref="Root.Cart" title="Torna al Carrello">Torna al carrello</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol">

        </div>
    </section>
</div>
