﻿<div>
    <section class="content">
        <!-- center content -->
        <div class="general-content">
            <!-- OK -->
            <div class="panel panel-default panel-pad paymentOk">
                <!-- resume -->
                <div ng-show="Checkout.succeed" class="panel panel-default panel-pad paymentOk">
                    <!-- checkout summary -->
                    <div ng-show="Cart.total == 0">
                        <h1 class="top-buffer"><i class="icon-ceck icon-xsmall icon-circle text-green"></i>Il tuo annuncio è stato pubblicato.</h1><br />
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                                <ul>
                                    <li>
                                        <div>IMMOBILE:</div>
                                        <div>
                                            <span>Indirizzo: <b>{{Cart.items[0].listing.geoData.city.townName}}, {{Cart.items[0].listing.geoData.address}} - {{Cart.items[0].listing.geoData.postalCode}}</b></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>PRODOTTI:</div>
                                        <div>
                                            <span><b>{{Cart.items[0].products[0].name}}</b> - {{Cart.items[0].products[0].duration}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="panel-footer bg-white no-border clearfix">
                            <a class="btn-light pull-left" ui-sref="Root.Home" title="Torna ai tuoi annunci">Torna ai tuoi annunci</a>
                        </p>
                    </div>
                    <!-- cart total > 0-->
                    <div ng-show="Cart.total > 0">
                        <h1 class="top-buffer"><i class="icon-ceck icon-xsmall icon-circle text-green"></i>Grazie per il tuo acquisto!<br />La transazione è andata a buon fine.</h1><br />
                        <p>
                            Riceverai i dettagli del pagamento all'indirizzo email {{$scope.BillingInfo.email}}
                        </p>
                        <h3>RIEPILOGO PAGAMENTO:</h3>
                        <div class="row" ng-repeat="item in Cart.items">
                            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                                <div>
                                    <div>
                                        <div>Nome: <b>{{BillingInfo.firstName}}</b></div>
                                        <div>Cognome: <b>{{BillingInfo.lastName}}</b></div>
                                        <div>Email: <b>{{BillingInfo.email}}</b></div>
                                    </div>
                                </div>
                                <br />
                                <ul>
                                    <li>
                                        <div>IMMOBILE:</div>
                                        <div>
                                            <span>Indirizzo: <b>{{item.listing.geoData.city.townName}}, {{item.listing.geoData.address}} - {{item.listing.geoData.postalCode}} </b></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>PRODOTTI:</div>
                                        <div>
                                            <span ng-repeat="product in item.products"><b>{{product.name}}</b> - {{product.duration}}</span>
                                        </div>
                                    </li>
                                </ul>
                                <br />
                                <div>
                                    <div>TOTALE: <b>€ {{Cart.total}}</b></div>
                                </div>
                            </div>

                        </div>
                        <p class="panel-footer bg-white no-border clearfix">
                            <a class="btn-light pull-left" ui-sref="Root.Home" title="Torna ai tuoi annunci">Torna ai tuoi annunci</a>
                        </p>
                    </div>
                </div>

                <!-- KO -->
                <div ng-show="Checkout.succeed == false" class="panel panel-default panel-pad">
                    <div>
                        <h1 class="top-buffer"><i class="icon-warning icon-xsmall icon-circle text-red"></i>Siamo spiacenti, la transazione non è andata a buon fine.</h1><br />
                        <p>
                            Per ulteriori informazioni contatta il gestore della tua carta di credito.<br />
                            Per concludere l'acquisto riprova più tardi, torna ai <a ui-sref="Root.Home" class="text-black" title="Torna ai tuoi annunci">tuoi annunci.</a>
                        </p>
                        <p class="panel-footer bg-white no-border clearfix">
                            <a class="btn-light pull-left" ui-sref="Root.Cart" title="Torna al Carrello">Torna al carrello</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol">

            </div>
    </section>
</div>
