﻿<div>
    <section class="content spec-request">
        <!-- center content -->
        <div class="general-content">
            <div class="panel panel-default">
                <!-- panel heading -->
                <div class="panel-heading padL25">
                    <h3 class="panel-title pull-left"><i class="icon-notifica_piena"></i>Richiesta per immobile:</h3>
                    <a ng-click="print()" class="text-btn pull-right" ng-hide="applicationGlobals.counters.specificRequestsCount == 0"><i class="icon-print"></i><span class="hidden-xs">Stampa</span></a>
                </div>
                <div class="panel-body request-response">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                        <div class="col-xs-12 info-request">
                            <span>{{reqList.specificRequest.town}}, {{reqList.specificRequest.address}}</span>
                        </div>      
                        <div class="col-xs-12 img-request"><img class="thumbnail_img" ng-src="{{ appHelper.getImageUrlExt(reqList.specificRequest.hash, reqList.specificRequest.url, 1, reqList.specificRequest.imageOrder, reqList.specificRequest.uploadReference, reqList.specificRequest.uploadKey, reqList.specificRequest.listingExternalId, 160, 120)}}" err-src="/Content/img/listings/foto-nd.svg" width="160" height="120" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 no-gutter">
                        <div class="box-request">
                            <div class="request-contacts">
                                <span><i class="icon-user icon-small"></i>{{reqList.specificRequest.reqFirstName}} {{reqList.specificRequest.reqLastName}}</span>
                                <span class="tel-email">
                                    <span>Tel: <span class="text-purple">{{reqList.specificRequest.reqPhoneNr}}</span></span>
                                    <span>Email: <span class="text-purple">{{reqList.specificRequest.reqEmail}}</span></span>
                                </span>
                            </div>
                            <div class="request-body">
                                <h4>RICHIESTA INFORMAZIONI <span class="text-purple">{{reqList.specificRequest.reqDate | date:'dd/MM/yyyy'}}</span></h4>
                                <p>
                                    {{reqList.specificRequest.reqMessage}} 
                                </p>
                            </div>
                        </div>
                        <div class="box-response-send">
                            <div class="your-response"><i class="icon-user icon-small color-gray"></i>TU</div>
                            <div class="your-response-text" ng-repeat="resp in reqList.responseList">
                                <h4><span class="text-purple">{{resp.resDate | date:'dd/MM/yyyy HH:mm'}}</span></h4>
                                <p>{{resp.resMessage}}</p>
                                <!--<div class="pull-right">
            <i class="fa fa-paperclip"></i>
            <a href="#" class="text-purple">planimetria.jpg</a>
        </div>-->
                                <div id="tail1"></div>
                                <div id="tail2"></div>
                            </div>
                        </div>
                        <form name="frmAnswer" novalidate>
                            <div class="box-response">
                                <div class="your-response"><i class="icon-user icon-small color-gray"></i>TU</div>
                                <textarea class="rui-input" name="answertext" required ng-model="answerText" placeholder="Scrivi qui la tua risposta..."></textarea>
                                <!--<div class="request-file"><a href="#" class="act-prod" data-toggle="modal" data-target="#prodActivate"><i class="fa fa-plus btn-actions"></i>Allega file</a>Max 20 MB</div>-->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer bg-white no-border clearfix">
                    <button ng-click="goBack()" class="btn-light pull-left" id="">Torna Indietro</button>
                    <button id="send-reply-specific-request" ng-click="answer(reqList.specificRequest.id)" class="btn pull-right">Invia</button>
                </div>
            </div>
        </div>
        <!-- end center content -->
        <!-- adv and widget column -->
        <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol">

        </div>
        <!-- end adv and widget column -->
    </section>
</div>
