﻿<div>
    <section class="content spec-request">
        <!-- center content -->
        <div class="general-content">
            <!-- listing -->
            <div class="panel panel-default">
                <!-- panel heading -->
                <div class="panel-heading padL25 hidden-print">
                    <h3 class="panel-title pull-left"><i class="icon-notifica_piena"></i>Richieste Specifiche</h3>
                    <a ng-click="print()" class="text-btn pull-right" ng-hide="reqList.length == 0"><i class="icon-print"></i><span class="hidden-xs">Stampa</span></a>
                </div>
                <div class="filter-pagination row rui-form rui-form-compact hidden-xs hidden-print" ng-hide="reqList.length == 0">
                    <div class="col-xs-6 col-md-6 col-lg-6 filters no-gutter">
                        Vedi
                        <a href="#" ng-click="filterList('all')" title="Tutte" ng-class="{'active' : filter == 'all'}">Tutte</a>
                        <a href="#" ng-click="filterList('answered')" title="Risposte Inviate" ng-class="{'active' : filter == 'answered'}">Risposte Inviate</a>
                        <a href="#" ng-click="filterList('read')" title="Lette" ng-class="{'active' : filter == 'read'}">Lette</a>
                        <a href="#" ng-click="filterList('toRead')" title="Da Leggere" ng-class="{'active' : filter == 'toRead'}">Da Leggere</a>
                    </div>
                    <div class="col-xs-2 col-md-2 col-lg-2 no-gutter">
                        <label ng-class="{'ie-select': isIE9}">
                            <span>Ordina Per</span>
                            <select select-rui ng-model="selPred" ng-selected="orderList()" required class="rui-input" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="orderBy" name="orderBy">
                                <option value="-reqDate">Più recenti</option>
                                <option value="reqDate">Più vecchie</option>
                            </select>
                        </label>
                    </div>
                    <!--{{req.selPred}}-->
                    <div class="col-xs-4 col-md-4 col-lg-4 no-gutter text-right">
                        <ul class="rui-pagination rui-clearfix">
                            <li class="rui-pagination-links rui-pagination-previous">
                                <a ng-show="pageLeftArrow" ng-click="pageNumber=pageNumber-1" title="Pagina Precedente" rel="prev" class="rui-icon rui-icon-left rui-icon-arrow-left">
                                </a>
                            </li>
                            <li ng-repeat="page in pageList()"><a ng-click="goToPage(page)" href="#" class="rui-pagination-number" ng-class="{'rui-pagination-active' : pageNumber == page}" title="Page Number {{page}}">{{page}}</a></li>
                            <li class="rui-pagination-links rui-pagination-next">
                                <a ng-show="pageRightArrow" ng-click="pageNumber=pageNumber+1" rel="next" title="Pagina Successiva">
                                    <span class="rui-icon rui-icon-arrow-right"></span>
                                </a>
                            </li>
                            <!--<li class="rui-pagination-links rui-pagination-previous">
                        <a href="#" title="Pagina Precedente" rel="prev" class="rui-icon rui-icon-left rui-icon-arrow-left">
                        </a>
                    </li>
                    <li ng-click="pageNumber=1" ng-show="reqList.length > (itemPerPage * 0)" ng-class="{'rui-pagination-active' : pageNumber == 1}"><a href="#" class="rui-pagination-number" title="Page Number 1">1</a></li>
                    <li ng-click="pageNumber=2" ng-show="reqList.length > (itemPerPage * 1)" ng-class="{'rui-pagination-active' : pageNumber == 2}"><a href="#" class="rui-pagination-number" title="Page Number 2">2</a></li>
                    <li ng-click="pageNumber=3" ng-show="reqList.length > (itemPerPage * 2)" ng-class="{'rui-pagination-active' : pageNumber == 3}"><a href="#" class="rui-pagination-number" title="Page Number 3">3</a></li>
                    <li class="rui-pagination-links rui-pagination-next">
                        <a href="#" rel="next" title="Pagina Successiva">
                            <span class="rui-icon rui-icon-arrow-right"></span>
                        </a>
                    </li>-->
                        </ul>
                    </div>
                </div>
                <div class="filter-pagination-mobile row rui-form rui-form-compact hidden-sm hidden-md hidden-lg hidden-print">
                    <div class="col-xs-6">
                        <label>
                            <span>Vedi</span>
                            <select select-rui required class="rui-input rui-select" data-key-event="true" id="orderBy" name="orderBy" ng-model="requestFilter">
                                <option value="all" ng-click="filterList('all')">Tutte</option>
                                <option value="answered" ng-click="filterList('answered')">Risposte Inviate</option>
                                <option value="read" ng-click="filterList('read')">Lette</option>
                                <option value="toRead" ng-click="filterList('toRead')">Da leggere</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-xs-6 text-right">
                        <label>
                            <span>Ordina Per</span>
                            <select select-rui ng-model="selPred" ng-selected="orderList()" required class="rui-input" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="orderBy" name="orderBy">
                                <option value="-reqDate">Più recenti</option>
                                <option value="reqDate">Più vecchie</option>
                            </select>
                        </label>
                    </div>
                </div>
                <ul class="list-group container-fluid">
                    <li class="list-group-item row" ng-class="{'unread' : !req.hasBeenRead}" ng-repeat="req in reqList | orderBy:predicate:reverse | limitTo: pageNumber*itemPerPage | limitTo: -1*itemPerPage">
                        <div class="list-status col-md-3 col-lg-3 col-xs-6">
                            <div>
                                <p>Ricevuta il {{req.reqDate | date:'dd/MM/yyyy'}}</p>
                                <p ng-show="req.hasBeenRead && !req.isAnswered" class="color-blue"><strong>Letta</strong></p>
                                <p ng-show="req.hasBeenRead && req.isAnswered" class="color-lime"><strong>Risposta inviata</strong></p>
                                <p ng-show="!req.hasBeenRead"><strong><i class="icon-mail icon-small"></i> Da leggere</strong></p>
                            </div>
                            <div class="actions-container hidden-print hidden-xs">
                                <a id="reply-specific-request" rel="tooltip" class="btn-actions" ng-click="goToResponse(req.id)" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Rispondi"><i class="icon-replay icon-medium"></i></a>
                                <!--<a ng-click="delete(req.id)" rel="tooltip" class="btn-actions" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Elimina"><i class="icon-trash icon-medium"></i></a>-->
                                <a data-target="#deleteRequest" data-toggle="modal" ng-click="openDeleteRequest(req.id)" rel="tooltip" class="btn-actions" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Elimina"><i class="icon-trash icon-medium"></i></a>
                            </div>
                        </div>
                        <div class="list-img col-md-3 col-lg-3 col-xs-6 hidden-print">
                            <div>
                                <div class="thumbnail-desktop">
                                    <img class="thumbnail_img" ng-src="{{ appHelper.getImageUrlExt(req.hash, req.url, 1, req.imageOrder, req.uploadReference, req.uploadKey, req.listingExternalId, 160, 120)}}" err-src="/Content/img/listings/foto-nd.svg" width="160" height="120" />
                                </div>
                            </div>
                        </div>
                        <div class="list-info col-md-6 col-lg-6 col-xs-12">
                            <div>
                                <p>{{req.town}}, {{req.address}}</p>
                                <p><i class="icon-user icon-xsmall user-status"></i>{{req.reqFirstName}} {{req.reqLastName}}</p>
                                <p class="tel-email"><span>Tel: {{req.reqPhoneNr}}</span> <span>Email: {{req.reqEmail}}</span></p>
                                <p class="hidden-print"><a id="read-specific-request" ng-click="goToResponse(req.id)" title=" leggi richiesta" class="read-request"><i class="icon-bubble icon-small"></i><u>LEGGI RICHIESTA</u></a></p>
                            </div>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm mobile-footer-req">
                            <p class="hidden-print pull-left"><a id="read-specific-request" ng-click="goToResponse(req.id)" title=" leggi richiesta" class="read-request"><i class="icon-bubble icon-small"></i><u>LEGGI RICHIESTA</u></a></p>
                            <span class="pull-right">
                                <a id="reply-specific-request" class="btn-actions" ng-click="goToResponse(req.id)"><i class="icon-replay icon-medium"></i></a>
                                <a data-target="#deleteRequest" data-toggle="modal" ng-click="openDeleteRequest(req.id)"  class="btn-actions"><i class="icon-trash icon-medium"></i></a>
                            </span>
                        </div>
                    </li>
                    <li ng-show="reqList.length == 0" class="text-center padT15 marT22">Nessun risultato trovato</li>

                </ul>
                <div class="panel-pad" ng-show="reqList.length == 0">
                    <p class="padT15">Non hai ancora ricevuto alcuna richiesta.</p>
                    <p class="panel-footer bg-white no-border clearfix">
                        <a class="btn-light pull-left" ui-sref="Root.Home" title="Torna indietro">Torna Indietro</a>
                    </p>
                </div>
                <div class="modal fade" id="deleteRequest" tabindex="-1" role="dialog" aria-labelledby="deleteRequest">
                    <div class="modal-dialog mobile-modal modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Elimina Richiesta</h4>
                            </div>
                            <div class="modal-body">
                                Vuoi eliminare definitivamente questa richiesta specifica?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-light pull-left" data-dismiss="modal">Non Ora</button>
                                <button type="button" ng-click="delete()" class="btn pull-right">Elimina</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end listing -->
            </div>
        </div>
        <!-- end center content -->
        <!-- adv and widget column -->
        <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol">

        </div>
        <!-- end adv and widget column -->
    </section>
</div>

