﻿<div class="mCustomScrollbar" data-mcs-theme="minimal-dark" data-mcs-position="outside">
    <section class="content">
        <!-- center content -->
        <div class="general-content">
            <div class="panel panel-default panel-pad">
                <div class="clear"></div>
                <ng-form name="CartForm" class="rui-form">
                    <fieldset>
                        <legend>Annunci e prodotti associati</legend>
                        <div class="row" ng-hide="Cart.items.length > 0">
                            <div class="col-md-12 no-gutter">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="padT15">Non sono presenti elementi nel carrello.</p>
                                        <p class="panel-footer bg-white no-border clearfix">
                                            <a class="btn-light pull-left" ui-sref="Root.Home" title="Torna indietro">Torna Indietro</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ListingProducts row" ng-repeat="item in Cart.items">
                            <div class="col-md-5 no-gutter">
                                <div class="row">
                                    <div class="col-md-12 no-gutter-md">
                                        <div class="listing_cart">
                                            <img ng-if="item.listing.mainImage != null" class="col-xs-3 col-sm-3 col-md-3" ng-src="{{appHelper.getImageUrl(item.listing.mainImage, item.listing.sites[0].listingExternalId, 160, 120)}}" alt="" />
                                            <a ng-if="item.listing.mainImage == null" ui-sref="Root.ListingEdit.GeoAndPicture({listingId: item.listing.id})"><img class="col-xs-3 col-sm-3 col-md-3" title="Carica Foto" ng-src="./Content/img/listings/carica-foto.svg" /></a>
                                            <div class="col-xs-9 col-sm-9 col-md-9 no-gutter">
                                                <span>{{item.listing.geoData.city.townName}}, {{item.listing.geoData.address}} - {{item.listing.geoData.postalCode}} {{item.listing.geoData.region}}</span>
                                                <!--<span>{{item.listing.category}} - {{item.listing.contractType}} - {{item.listing.tipology}} - {{item.listing.surface}}</span>-->
                                                <span>{{ {lookupName: 'buildingCategory', lookupId: item.listing.category} | lookupDescription }} - {{ {lookupName: 'contractType', lookupId: item.listing.contractType} | lookupDescription }}</span>
                                                <span>{{ {lookupName: 'buildingType', lookupId: item.listing.tipology} | lookupDescription }} - {{item.listing.surface}} Mq</span>
                                                <span>{{item.listing.price}} €</span>
                                                <div class="listing_actions">
                                                    <a class="pull-left" ui-sref="Root.ListingEdit.EstateData({listingId: item.listing.id})" title="Modifica">Modifica</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 no-gutter">
                                <div class="row">
                                    <div class="col-md-12 no-gutter">
                                        <div class="prod_cart">
                                            <div class="row prodChoose" ng-repeat="product in item.products">
                                                <div class="col-xs-6 col-sm-6 col-md-6 prodImg">
                                                    <label for="radio1">
                                                        <img class="cartImg hidden-xxs" ng-src="Content/img/products/big/{{product.image}}" alt="" />
                                                        <img class="cartImg show-xxs hidden-xs hidden-md hidden-sm hidden-lg" ng-src="Content/img/products/big/{{product.image}}" alt="" />
                                                    </label>
                                                    <span class="durata" ng-show="product.id != 7"><i class="icon-clock icon-xsmall hidden-md"></i><span><span class="hidden-md">Durata</span> {{product.duration}}</span></span>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 no-gutter prod_price">
                                                    <span class="costo">Costo € {{product.priceInclVAT}}</span>
                                                    <div class="pull-right">
                                                        <a ng-show="product.canBeDeleted" ng-click="removeItemFromCart(product.productSiteId, item.listing.id)" rel="tooltip" class="btn-actions" href="#" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Elimina"><i class="icon-trash icon-medium"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="row prodChange">
                                                <div class="col-md-12 no-gutter">
                                                    <div class="col-xs-6 col-sm-5 col-md-5 no-gutter">
                                                        <input type="radio" id="radio2" name="prodRadio" value="1" />
                                                        <label for="radio2">
                                                            <span></span>
                                                            <img class="cartImg hidden-xxs" src="Content/img/products/big/smart.png" alt="" />
                                                            <img class="cartImg show-xxs hidden-xs hidden-md hidden-sm hidden-lg" src="Content/img/products/normal/smart.png" alt="" />
                                                        </label>
                                                        <span class="durata hidden-sm hidden-md hidden-lg"><i class="icon-clock icon-xsmall"></i><span>Durata 12 mesi</span></span>
                                                    </div>
                                                    <div class="col-xs-3 col-sm-3 col-md-3 no-gutter hidden-xs">
                                                        <span class="durata"><i class="icon-clock icon-xsmall"></i><span>Durata 12 mesi</span></span>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-4 no-gutter text-right">
                                                        <span class="costo">Costo € 120.00</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 btn-content no-gutter">
                                                    <button class="btn-dark pull-right" value="Sostituisci">Sostituisci</button>
                                                </div>
                                            </div>-->
                                        </div>
                                        <!--<div class="prod_cart">
                                            <div class="row prodChoose">
                                                <div class="col-xs-6 col-sm-6 col-md-6 prodImg">
                                                    <input type="radio" id="radio1" name="prodRadio" value="1" />
                                                    <label for="radio1">
                                                        <span></span>
                                                        <img class="cartImg hidden-xxs" src="Content/img/products/big/gratis.png" alt="" />
                                                        <img class="cartImg show-xxs hidden-xs hidden-md hidden-sm hidden-lg" src="Content/img/products/normal/gratis.png" alt="" />
                                                    </label>
                                                    <span class="durata"><i class="icon-clock icon-xsmall"></i><span>Durata 12 mesi</span></span>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 no-gutter prod_price">
                                                    <span class="costo">Costo € 120.00</span>
                                                    <div class="pull-right">
                                                        <a rel="tooltip" class="btn-actions" href="#" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Modifica"><i class="icon-edit icon-medium"></i></a>
                                                        <a rel="tooltip" class="btn-actions" href="#" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Elimina"><i class="icon-trash icon-medium"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="previewListing" tabindex="-1" role="dialog" aria-labelledby="previewListing">
                                <div class="modal-dialog mobile-modal" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Anteprima Annuncio</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img class="preview_img" ng-src="./Content/img/listings/placeholder_gratis.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="ListingProducts row">
                            <div class="col-md-5 no-gutter">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="listing_cart">
                                            <img class="col-xs-3 col-sm-3 col-md-3" src="Content/img/Cart/prod_img_PROVA.jpg" alt="" />
                                            <div class="col-xs-9 col-sm-9 col-md-9 no-gutter">
                                                <span>Milano, Via Porretta 123 - 20144 Lombardia</span>
                                                <span>Residenziale - Vendita - Bilocale - 78 Mq</span>
                                                <span>144.000 €</span>
                                                <div class="listing_actions">
                                                    <a class="pull-left" href="#" title="Modifica">Modifica</a>
                                                    <a rel="tooltip" class="btn-actions pull-right" href="#" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Visualizza"><i class="icon-prew_ann icon-medium"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 no-gutter">
                                <div class="row">
                                    <div class="col-md-12 no-gutter">
                                        <div class="prod_cart">
                                            <div class="row prodChoose">
                                                <div class="col-xs-6 col-sm-6 col-md-6 prodImg">
                                                    <input type="radio" id="radio1" name="prodRadio" value="1" />
                                                    <label for="radio1">
                                                        <span></span>
                                                        <img class="cartImg hidden-xxs" src="Content/img/products/big/gold.png" alt="" />
                                                        <img class="cartImg show-xxs hidden-xs hidden-md hidden-sm hidden-lg" src="Content/img/products/normal/gold.png" alt="" />
                                                    </label>
                                                    <span class="durata"><i class="icon-clock icon-xsmall"></i><span>Durata 12 mesi</span></span>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 no-gutter prod_price">
                                                    <span class="costo">Costo € 120.00</span>
                                                    <div class="pull-right">
                                                        <a rel="tooltip" class="btn-actions" href="#" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Modifica"><i class="icon-edit icon-medium"></i></a>
                                                        <a rel="tooltip" class="btn-actions" href="#" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Elimina"><i class="icon-trash icon-medium"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row prodChange">
                                                <div class="col-md-12 no-gutter">
                                                    <div class="col-xs-6 col-sm-5 col-md-5 no-gutter">
                                                        <input type="radio" id="radio2" name="prodRadio" value="1" />
                                                        <label for="radio2">
                                                            <span></span>
                                                            <img class="cartImg hidden-xxs" src="Content/img/products/big/smart.png" alt="" />
                                                            <img class="cartImg show-xxs hidden-xs hidden-md hidden-sm hidden-lg" src="Content/img/products/normal/smart.png" alt="" />
                                                        </label>
                                                        <span class="durata hidden-sm hidden-md hidden-lg"><i class="icon-clock icon-xsmall"></i><span>Durata 12 mesi</span></span>
                                                    </div>
                                                    <div class="col-xs-3 col-sm-3 col-md-3 no-gutter hidden-xs">
                                                        <span class="durata"><i class="icon-clock icon-xsmall"></i><span>Durata 12 mesi</span></span>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-4 no-gutter text-right">
                                                        <span class="costo">Costo € 120.00</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 btn-content no-gutter">
                                                    <button class="btn-dark pull-right" value="Sostituisci">Sostituisci</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prod_cart">
                                            <div class="row prodChoose">
                                                <div class="col-xs-6 col-sm-6 col-md-6 prodImg">
                                                    <input type="radio" id="radio1" name="prodRadio" value="1" />
                                                    <label for="radio1">
                                                        <span></span>
                                                        <img class="cartImg hidden-xxs" src="Content/img/products/big/gratis.png" alt="" />
                                                        <img class="cartImg show-xxs hidden-xs hidden-md hidden-sm hidden-lg" src="Content/img/products/normal/gratis.png" alt="" />
                                                    </label>
                                                    <span class="durata"><i class="icon-clock icon-xsmall"></i><span>Durata 12 mesi</span></span>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 no-gutter prod_price">
                                                    <span class="costo">Costo € 120.00</span>
                                                    <div class="pull-right">
                                                        <a rel="tooltip" class="btn-actions" href="#" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Modifica"><i class="icon-edit icon-medium"></i></a>
                                                        <a rel="tooltip" class="btn-actions" href="#" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Elimina"><i class="icon-trash icon-medium"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row top-buffer blackLinks" ng-hide="Cart.items.length == 0">
                            <div class="row">
                                <div ng-show="hasErrors" class="error-message" ng-class="{'rui-message': hasErrors, 'rui-error': hasErrors }">
                                    <ul>
                                        <li ng-repeat="alert in Alerts">
                                            {{alert.msg}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-5 no-gutter">
                                <div class="col-md-12" ng-hide="Cart.total == 0">
                                    <label class="codPromo">
                                        <span>Codice Promozione</span>
                                        <input class="rui-input" id="PromoCode" name="PromoCode" ng-model="PromoCode" placeholder="Inserisci Codice">
                                    </label>
                                    <a ng-click="applyDiscount()" class="col-xs-12 col-sm-12 col-md-12 text-right no-gutter" href="#" title="Applica Sconto">Applica Sconto</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-7 no-gutter">
                                <div class="col-md-12 no-gutter">
                                    <div class="total-price">Totale € {{Cart.total}}</div>
                                    <a ng-click="emptyCart()" class="col-xs-12 col-sm-12 col-md-12 text-right no-gutter" href="#" title="Svuota Carrello">Svuota Carrello</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </ng-form>
                <ng-form name="BillingInfoForm" class="rui-form rui-form-compact billing-info" ng-hide="Cart.items.length == 0 || Cart.total == 0">
                    <div class="offset">
                        <fieldset>
                            <legend>Dati di fatturazione<span class="hidden-xs">Tutti i campi sono obbligatori</span><i ng-click="showHide=!showHide" ng-class="{'rui-icon rui-icon-arrow-right': showHide == false, 'rui-icon rui-icon-arrow-down': showHide == true }"></i></legend>
                            <div class="row clear">
                                <div ng-show="showBillingInfoValidationErrors" class="error-message" ng-class="{'rui-message': BillingInfoForm.$invalid, 'rui-error': BillingInfoForm.$invalid }">
                                    <ul>
                                        <li ng-show="BillingInfoForm.$invalid">Compila correttamente tutti i campi obbligatori</li>
                                        <li ng-show="taxCodeIsPersonal==null">Inserisci un Codice Fiscale / Partita IVA valido</li>
                                        <li ng-show="BillingInfoForm.BillingEMail.$error.pattern">Inserisci un indirizzo email valido</li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="showHide">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4" ng-class="{'rui-input-error': (BillingInfoForm.BilingFirstName.$error.required && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span>Nome</span>
                                            <input id="BilingFirstName" name="BilingFirstName" placeholder="Nome" ng-model="BillingInfo.firstName" ng-required="BillingDataMandatory" ng-disabled="BillingDataBlocked" class="rui-input" />
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4" ng-class="{'rui-input-error': (BillingInfoForm.BillingLastName.$error.required && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span>Cognome</span>
                                            <input id="BillingLastName" name="BillingLastName" placeholder="Cognome" ng-model="BillingInfo.lastName" ng-required="BillingDataMandatory" ng-disabled="BillingDataBlocked" class="rui-input" />
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 no-gutter" ng-class="{'rui-input-error': ((BillingInfoForm.BillingEMail.$error.pattern || BillingInfoForm.BillingEMail.$error.required) && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span>Indirizzo email</span>
                                            <input id="BillingEMail" name="BillingEMail" placeholder="Indirizzo email" ng-model="BillingInfo.email" ng-pattern="email_validator" ng-required="BillingDataMandatory" ng-disabled="BillingDataBlocked" class="rui-input" />
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4" ng-class="{'rui-input-error': (BillingInfoForm.BillingTaxCode.$error.required && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span ng-hide="taxCodeIsPersonal">Codice Fiscale</span><span ng-show="taxCodeIsPersonal">Partita IVA</span>
                                            <input id="BillingTaxCode" name="BillingTaxCode" placeholder="Codice Fiscale / Partita IVA" ng-model="taxCode" ng-required="BillingDataMandatory" ng-disabled="BillingDataBlocked" class="rui-input" />
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4" ng-class="{'rui-input-error': (BillingInfoForm.BillingCompanyName.$error.required && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span>Ragione Sociale</span>
                                            <input id="BillingCompanyName" name="BillingCompanyName" placeholder="Ragione Sociale" ng-model="BillingInfo.companyName" ng-disabled="taxCodeIsPersonal == null || taxCodeIsPersonal == true || BillingDataBlocked == true" ng-required="taxCodeIsPersonal == false && BillingDataMandatory" class="rui-input" />
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 no-gutter" ng-class="{'rui-input-error': (BillingInfoForm.BillingCity.$error.required && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span>Città</span>
                                            <!--<input class="rui-input" id="BillingCity" name="BillingCity" placeholder="Città" ng-model="BillingInfo.geoTownId" ng-required="BillingDataMandatory" />-->
                                            <input required id="BillingCity" name="BillingCity" type="text" ng-model="BillingInfo.geoData.city" placeholder="Città" typeahead="city as city.townName for city in GetCitiesByName($viewValue) | filter:{description:$viewValue}" typeahead-loading="loadingCities" ng-disabled="BillingDataBlocked" class="rui-input" />
                                            <i ng-show="loadingCities" class="icon-refresh icon-medium"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" ng-class="{'rui-input-error': (BillingInfoForm.BillingAddress.$error.required && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span>Via</span>
                                            <input id="BillingAddress" name="BillingAddress" placeholder="Via" ng-model="BillingInfo.geoData.address" ng-required="BillingDataMandatory" ng-disabled="BillingDataBlocked" class="rui-input" />
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" ng-class="{'rui-input-error': (BillingInfoForm.BillingAddressNumber.$error.required && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span>Numero</span>
                                            <input id="BillingAddressNumber" name="BillingAddressNumber" placeholder="Numero" ng-model="BillingInfo.geoData.addressNr" ng-required="BillingDataMandatory" ng-disabled="BillingDataBlocked" class="rui-input" />
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 no-gutter" ng-class="{'rui-input-error': (BillingInfoForm.BillingPostalCode.$error.required && showBillingInfoValidationErrors) }">
                                        <label>
                                            <span>CAP</span>
                                            <input id="BillingPostalCode" name="BillingPostalCode" placeholder="CAP" ng-model="BillingInfo.geoData.postalCode" ng-required="BillingDataMandatory" ng-disabled="BillingDataBlocked" class="rui-input" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="offset">
                        <fieldset>
                            <legend>Tipologia di pagamento</legend>
                            <div class="row clear">
                                <div ng-show="paymentMethodNotSelected && !PaymentMethod" class="error-message rui-message rui-error">
                                    <ul>
                                        <li>Selezionare un metodo di pagamento</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row paymentMode">
                                <div class="rui-form-element col-xs-6 col-sm-9 col-md-9 no-gutter">
                                    <input checked type="radio" id="CreditCardPaymentMethod" name="PaymentMethod" value="GestPayGateway" ng-model="PaymentMethod" />
                                    <label for="CreditCardPaymentMethod">
                                        <span></span>
                                        Carta di credito
                                        <label class="paymentMethodSubLabel">Tramite circuito Banca Sella</label>
                                        <img class="hidden-xs" src="Content/img/credit_cards.png" alt="" />
                                    </label>
                                    <input type="radio" id="PayPalPaymentMethod" name="PaymentMethod" value="PayPalGateway" ng-model="PaymentMethod" />
                                    <label for="PayPalPaymentMethod">
                                        <span></span>
                                        PayPal
                                        <img class="hidden-xs" src="Content/img/paypal.png" alt="" />
                                    </label>
                                    <p class="hidden-xs col-md-12 paymentConditions">Effettuando il pagamento dichiaro di aver letto ed accettato <a href="http://www.casa.it/casait/privacy-privati" target="_blank" title="Informativa Privacy">l’informativa privacy</a> e le <a href="http://www.casa.it/TermOfUse.aspx" target="_blank" title="Condizioni generali">Condizioni generali del servizio.</a></p>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 no-gutter">
                                    <div class="total-price">Totale € {{Cart.total}}</div>
                                </div>
                            </div>
                            <div class="row hidden-sm hidden-md hidden-lg">
                                <div class="col-xs-12"><p class="col-md-12 paymentConditions">Effettuando il pagamento dichiaro di aver letto ed accettato <a href="http://www.casa.it/casait/privacy-privati" target="_blank" title="Informativa Privacy">l’informativa privacy</a> e le <a href="http://www.casa.it/TermOfUse.aspx" target="_blank" title="Condizioni generali">Condizioni generali del servizio.</a></p></div>
                            </div>
                            <div class="row">
                                <div id="checkout" class="col-md-12 no-gutter">
                                    <button class="btn-big btn-yellow pull-right" value="Acquista" ng-click="PreCheckout()" >Acquista</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </ng-form>
                <p class="panel-footer bg-white no-border clearfix" ng-show="Cart.total==0 && Cart.items.length > 0">
                    <!--<span id="checkout"><button class="btn-big btn-yellow pull-right" value="Acquista" ng-click="Checkout()" ng-show="Cart.total>0" ng-disabled="!PaymentMethod">Acquista</button></span>-->
                    <span id="free_checkout"><button class="btn-big btn-yellow pull-right" value="Acquista" ng-click="PreCheckout()">Pubblica Gratis</button></span>
                </p>
            </div>
            <div ng-show="PhoneValStatus > 0 && PhoneValStatus != 4" class="modal fade" id="PLVcontrol" tabindex="-1" role="dialog" aria-labelledby="PLVcontrol" ng-class="{'PLVstatus2' : PhoneValStatus == 2}">
                <div class="modal-dialog mobile-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Verifica numero di cellulare</h4>
                            <span>
                                Così il tuo annuncio sarà considerato sicuro.
                            </span>
                        </div>
                        <div class="modal-body">
                            <form class="rui-form" name="PLVform">
                                <!-- Caso 1 -->
                                <div ng-show="PhoneValStatus == 1">
                                    <p>
                                        Prima di proseguire inserisci il tuo numero di cellulare
                                        <small>(non è possibile inserire un numero di telefono fisso)</small>
                                    </p>
                                    <div ng-show="showPlvErrors" class="error-message" ng-class="{'rui-message': PLVform.$invalid || showPlvErrors, 'rui-error': showPlvErrors }">
                                        <ul>
                                            <li ng-show="PLVform.plvPhoneNumber.$error.pattern">
                                                Inserire un numero di cellulare valido
                                            </li>
                                            <li ng-show="showPlvErrorsNr == 11">Il numero inserito risulta già utilizzato</li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="rui-form-icon">
                                        <label class="form-group rui-form-element" ng-class="{'rui-input-error': (PLVform.$invalid && showPlvErrors && PLVform.plvPhoneNumber.$dirty) || (showPlvErrorsNr == 11)}">
                                            <span></span>
                                            <i class="rui-icon bg-gray">+39</i>
                                            <input ng-model="plvPhoneNumber" name="plvPhoneNumber" class="rui-input validateNumber" maxlength="10" ng-pattern="/^3\d{2}\d{6,7}$/" is-number />
                                        </label>
                                    </div>
                                    <input type="checkbox" id="HideNumberOnline" ng-model="plvPhoneHidden" />
                                    <label for="HideNumberOnline">
                                        <span></span><small>Non mostrare il <i class="hidden-xs" style="font-style: normal">numero di</i> telefono negli annunci</small>
                                    </label>
                                </div>
                                <!-- Fine Caso 1 -->
                                <!-- Caso 2 -->
                                <div ng-show="PhoneValStatus == 2">
                                    <p>
                                        Numero da verificare: <b>+39 <span ng-bind="phoneNr"></span></b>
                                    </p>
                                    <p>
                                        Seleziona la casella sottostante per ricevere il codice di verifica via SMS
                                    </p>
                                </div>
                                <!-- Fine Caso 2 -->
                                <div ng-show="PhoneValStatus > 1">
                                    <phone-validator data-site="admin" data-callback="callbackPhoneValidatorCompact" data-mode="compact" style="position: relative;" class="phone-validator"></phone-validator>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer no-border" ng-show="PhoneValStatus == 1">
                            <button type="button" ng-click="PhoneIsAvailable()" class="btn pull-left">Verifica numero</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
