<section class="box box-default box-inline">
  <div class="box-header bg-color-info">Classe Energetica
    <span>Nuova regolamentazione Ottobre 2015</span>
  </div>
  <div class="box-body">
    <div class="form-group row">
      <div class="col-12 col-md-2" style="padding-top: 15px">
        <md-error *ngIf="">E' necessario compilare tutti i campi.</md-error>
      </div>
      <div class="col-12 col-md-2" style="padding-top: 15px">
        <md-checkbox name="ZeroEnergy" #ZeroEnergy="ngModel" [(ngModel)]="zeroEnergy" [required]="allFieldRequired()">Energia quasi zero</md-checkbox>
      </div>
      <div class="col-12 col-md-3">
        <md-select placeholder="Classe Energetica" name="EnergeticClass" #EnergeticClass="ngModel" [(ngModel)]="energeticClass" [required]="allFieldRequired()">
          <md-option [value]="1">A4</md-option>
          <md-option [value]="2">A3</md-option>
          <md-option [value]="3">A2</md-option>
          <md-option [value]="4">A1</md-option>
          <md-option [value]="5">B</md-option>
          <md-option [value]="6">C</md-option>
          <md-option [value]="7">D</md-option>
          <md-option [value]="8">E</md-option>
          <md-option [value]="9">F</md-option>
          <md-option [value]="10">G</md-option>
          <md-option [value]="11">ND</md-option>
          <md-option [value]="12">NS</md-option>
        </md-select>
        <!-- <md-error *ngIf="generalForm.submitted && (!energeticClass)">Specificare lo stato.</md-error> -->
      </div>
      <div class="col-12 col-md-3">
        <md-input-container class="full-width">
          <input mdInput name="EPGlobale" [(ngModel)]="globalEP" [required]="allFieldRequired()" placeholder="EP Globale (kWh/m2anno)">
        </md-input-container>
      </div>
      <div class="col-12 col-md-4">
        <md-input-container class="full-width">
          <input mdInput name="IndiceRinnovabile" [(ngModel)]="renewableIndex" [required]="allFieldRequired()" placeholder="Indice prestazione energetica rinnovabile (kWh/m2anno)">
        </md-input-container>
      </div>
      <div class="col-12">
        <p>
          <strong style="display: inline-block; width: 100px;">Inverno</strong>
          <md-radio-group name="WinterSatisfaction" [(ngModel)]="winterSatisfaction" class="md-radio-group-spacing" [required]="allFieldRequired()">
            <md-radio-button [value]="" md-radio-checked>ND</md-radio-button>
            <md-radio-button [value]="1">
              <i class="nav-icon material-icons">sentiment_very_satisfied</i>
            </md-radio-button>
            <md-radio-button [value]="2">
              <i class="nav-icon material-icons">sentiment_neutral</i>
            </md-radio-button>
            <md-radio-button [value]="3">
              <i class="nav-icon material-icons">sentiment_very_dissatisfied</i>
            </md-radio-button>
          </md-radio-group>
        </p>
      </div>
      <div class="col-12">
        <p>
          <strong style="display: inline-block; width: 100px;">Estate</strong>
          <md-radio-group name="SummerSatisfaction" [(ngModel)]="summerSatisfaction" class="md-radio-group-spacing" [required]="allFieldRequired()">
            <md-radio-button [value]="" md-radio-checked>ND</md-radio-button>
            <md-radio-button [value]="1">
              <i class="nav-icon material-icons">sentiment_very_satisfied</i>
            </md-radio-button>
            <md-radio-button [value]="2">
              <i class="nav-icon material-icons">sentiment_neutral</i>
            </md-radio-button>
            <md-radio-button [value]="3">
              <i class="nav-icon material-icons">sentiment_very_dissatisfied</i>
            </md-radio-button>
          </md-radio-group>
        </p>
      </div>
    </div>
  </div>
</section>