﻿
    <div class="tutorial" id="tutorialModal" tabindex="-1" aria-labelledby="tutorialModal">
        <div class="" role="document">
            <div class="tutorial-content-0" ng-hide="applicationGlobals.tutorialStepNumber != 0">
                <img src="/Content/img/tutorial/tutorial.jpg" />
                <div class="tutorial-body">
                    <p>
                        Benvenuto <br />
                        nella tua nuova Area Riservata! <br />
                        Vuoi scoprire tutte le funzionalità?
                    </p>
                    <div class="tutorial-footer">
                        <a href="" class="pull-left padT9" data-dismiss="modal" ng-click="cancel()">Non ora</a>
                        <a href="" class="pull-right btn-light" ng-click="applicationGlobals.tutorialStepNumber=1">Si grazie</a>
                    </div>
                </div>
            </div>
            <div class="tutorial-content-1" ng-hide="applicationGlobals.tutorialStepNumber != 1">
                <div class="tutorial-body">
                    <h3>Menù principale</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <p>Qui puoi inserire un nuovo annuncio, controllare e modificare lo stato degli annunci già inseriti, scoprire e acquistare prodotti di visibilità.</p>
                    <div class="tutorial-footer">
                        <ul class="pull-left padT9">
                            <li><a href="#" title="Step 1" class="active"></a></li>
                            <li><a href="#" title="Step 2" ng-click="applicationGlobals.tutorialStepNumber=2"></a></li>
                            <li><a href="#" title="Step 3" ng-click="applicationGlobals.tutorialStepNumber=3"></a></li>
                            <li><a href="#" title="Step 4" ng-click="applicationGlobals.tutorialStepNumber=4"></a></li>
                        </ul>
                        <a href="" class="pull-right btn-light continua" ng-click="applicationGlobals.tutorialStepNumber=2">Continua</a>
                    </div>
                </div>
            </div>
            <div class="tutorial-content-2" ng-hide="applicationGlobals.tutorialStepNumber != 2">
                <div class="tutorial-body">
                    <h3>Statistiche e Prodotti</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <p>Qui hai sempre sottocchio le statistiche delle visite e il numero delle richieste ricevute, il numero e lo stato dei prodotti acquistati.</p>
                    <div class="tutorial-footer">
                        <ul class="pull-left padT9">
                            <li><a href="#" title="Step 1" ng-click="applicationGlobals.tutorialStepNumber=1"></a></li>
                            <li><a href="#" title="Step 2" class="active"></a></li>
                            <li><a href="#" title="Step 3" ng-click="applicationGlobals.tutorialStepNumber=3"></a></li>
                            <li><a href="#" title="Step 4" ng-click="applicationGlobals.tutorialStepNumber=4"></a></li>
                        </ul>
                        <a href="" class="pull-right btn-light continua" ng-click="applicationGlobals.tutorialStepNumber=3">Continua</a>
                    </div>
                </div>
            </div>
            <div class="tutorial-content-3" ng-hide="applicationGlobals.tutorialStepNumber != 3">
                <div class="tutorial-body">
                    <h3>Profilo utente e Carrello</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <p>Usa questo menu per controllare o modificare il tuo profilo e lo stato del carrello acquisti.</p>
                    <div class="tutorial-footer">
                        <ul class="pull-left padT9">
                            <li><a href="#" title="Step 1" ng-click="applicationGlobals.tutorialStepNumber=1"></a></li>
                            <li><a href="#" title="Step 2" ng-click="applicationGlobals.tutorialStepNumber=2"></a></li>
                            <li><a href="#" title="Step 3" class="active"></a></li>
                            <li><a href="#" title="Step 4" ng-click="applicationGlobals.tutorialStepNumber=4"></a></li>
                        </ul>
                        <a href="" class="pull-right btn-light continua" ng-click="applicationGlobals.tutorialStepNumber=4">Continua</a>
                    </div>
                </div>
            </div>
            <div class="tutorial-content-4" ng-hide="applicationGlobals.tutorialStepNumber != 4">
                <div class="tutorial-body">
                    <h3>Tutorial</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <p>Se vuoi rifare il tour mi trovi qui!</p>
                    <div class="tutorial-footer">
                        <ul class="pull-left padT9">
                            <li><a href="#" title="Step 1" ng-click="applicationGlobals.tutorialStepNumber=1"></a></li>
                            <li><a href="#" title="Step 2" ng-click="applicationGlobals.tutorialStepNumber=2"></a></li>
                            <li><a href="#" title="Step 3" ng-click="applicationGlobals.tutorialStepNumber=3"></a></li>
                            <li><a href="#" title="Step 4" class="active"></a></li>
                        </ul>
                        <a href="" class="pull-right btn-light" ng-click="cancel()">Chiudi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

