<section class="container-fluid with-maxwidth no-breadcrumbs chapter lista customer">

  <!-- <customer-search (search)="search($event)"></customer-search> -->

  <button id="NewCustomerButton" [routerLink]="['/app/customers/new']" md-raised-button color="accent" class="btn-lg btn-save-xs new">Nuovo Cliente</button>
  <div class="row" *ngIf="hasCustomFilters">
    <div class="col-12">
      <button md-button class="btn-w-md reset-search"(click)="resetSearch()"><i class="material-icons">cached</i>Rimuovi filtri</button>
    </div>
  </div>
  <article class="article">
    <div class="infinite-wrapper" data-infinite-scroll>
      <div class="item-card card__horizontal" *ngFor="let customer of customers">
        <div [routerLink]="['/app/customers/lista/', customer.ID]">
          <div class="card__body card-white">
            <div class="row">
              <div class="card__title col-sm-12 col-md-8">
                <h4>{{customer.Denominazione}}</h4>
                <h6>{{customer.Referente}}</h6>
              </div>
              <div class="card__price col-sm-12 col-md-4 text-md-right">
                <ul>
                  <li *ngFor="let phoneNumber of customer.PhoneNumbers">
                    <a (click)="$event.stopPropagation()" href="tel:{{phoneNumber.Number}}">{{phoneNumber.Number}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card__desc">
              <p *ngFor="let email of customer.Emails">
                <a (click)="$event.stopPropagation()" href="mailto:{{email}}">{{email}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </article>
</section>