﻿<div>
    <section class="content">
        <!-- center content -->
        <div class="general-content">
            <div class="panel panel-default panel-pad">
                <div class="clear"></div>
                <form class="rui-form rui-form-compact">
                    <fieldset>
                        <legend>Visibilità</legend>
                        <h4>Aumenta la visibilità dei tuoi annunci per vendere o affittare prima.</h4>
                    </fieldset>
                    <div class="products-box">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
                            <div class="annuncio-premiere">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 no-gutter">
                                    <h2>ANNUNCIO PREMIERE</h2>
                                    <h3>In cima ai risultati, il più grande e visibile di tutti.</h3>
                                    <ul class="top-buffer">
                                        <li><i class="icon-check text-green icon-small"></i><b>Durata:</b> 30 giorni.</li>
                                        <li><i class="icon-check text-green icon-small"></i><b>Posizione:</b> 15 volte più visibile di un annuncio standard.</li>
                                        <li><i class="icon-check text-green icon-small"></i><b>Evidenza:</b> foto grandi il doppio e massima evidenza</li>
                                    </ul>
                                    <div class="buy-now">
                                        <img src="/Content/img/products/big/premiere.png" />
                                        <img class="visibility hidden-xs" src="/Content/img/products/decorations/x15.png" />
                                    </div>
                                </div>
                                <div class="hidden-xs col-md-7 col-lg-6 no-gutter text-right">
                                    <img src="/Content/img/products/decorations/annuncio-premiere.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-box">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
                            <div class="annuncio-supertop">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 no-gutter">
                                    <h2>ANNUNCIO SUPERTOP</h2>
                                    <h3>Più in alto e più visibile dell’Annuncio TOP.</h3>
                                    <ul class="top-buffer">
                                        <li><i class="icon-check text-green icon-small"></i><b>Durata:</b> 30 giorni.</li>
                                        <li><i class="icon-check text-green icon-small"></i><b>Posizione:</b> 8 volte più visibile di un annuncio standard.</li>
                                        <li><i class="icon-check text-green icon-small"></i><b>Evidenza:</b> foto più grandi e maggiore evidenza.</li>
                                    </ul>
                                    <div class="buy-now">
                                        <img src="/Content/img/products/big/supertop.png" />
                                        <img class="visibility hidden-xs" src="/Content/img/products/decorations/x8.png" />
                                    </div>
                                </div>
                                <div class="hidden-xs col-md-7 col-lg-6 no-gutter text-right">
                                    <img src="/Content/img/products/decorations/annuncio-supertop.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-box">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
                            <div class="annuncio-top">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 no-gutter">
                                    <h2>ANNUNCIO TOP</h2>
                                    <h3>Al di sopra e più visibile dell’annuncio standard.</h3>
                                    <ul class="top-buffer">
                                        <li><i class="icon-check text-green icon-small"></i><b>Durata:</b> Scegli tu tra 3, 7, 15 e 30 giorni.</li>
                                        <li><i class="icon-check text-green icon-small"></i><b>Posizione:</b> 3 volte più visibile di un annuncio standard.</li>
                                        <li><i class="icon-check text-green icon-small"></i><b>Evidenza:</b> foto e sfondo differenziati dall’annuncio standard.</li>
                                    </ul>
                                    <div class="buy-now">
                                        <img src="/Content/img/products/big/top.png" />
                                        <img class="visibility hidden-xs" src="/Content/img/products/decorations/x3.png" />
                                    </div>
                                </div>
                                <div class="hidden-xs col-md-7 col-lg-6 no-gutter text-right">
                                    <img src="/Content/img/products/decorations/annuncio-top.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-box">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
                            <div class="annuncio-flash">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 no-gutter">
                                    <h2>ANNUNCIO FLASH</h2>
                                    <h3>Riporta in alto il tuo annuncio in un click.</h3>
                                    <ul class="top-buffer">
                                        <li><i class="icon-check text-green icon-small"></i><b>Efficacia:</b> Immediata.</li>
                                        <li><i class="icon-check text-green icon-small"></i><b>Posizione:</b> Come appena pubblicato.</li>
                                        <li><i class="icon-check text-green icon-small"></i><b>Evidenza:</b> Annuncio standard.</li>
                                    </ul>
                                    <div class="buy-now">
                                        <img src="/Content/img/products/big/flash.png" />
                                        <img class="visibility hidden-xs" src="/Content/img/products/decorations/in_cima.png" />
                                    </div>
                                </div>
                                <div class="hidden-xs col-md-7 col-lg-6 no-gutter text-right">
                                    <img src="/Content/img/products/decorations/annuncio-flash.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset>
                        <legend>Annunci</legend>
                        <h4>Scegli l'annuncio più adatto alle tue esigenze.</h4>
                    </fieldset>
                    <div class="abbonamenti">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
                            <div class="gratis">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-gutter">                       
                                    <div class="prod-detail">
                                        <img class="pull-left" src="/Content/img/products/normal/gratis.png" />
                                        <h2>Gratis</h2>
                                        <p><b>Validità:</b> 3 Mesi</p>
                                        <p><span class="hidden-xs"><b>Caratteristiche:</b></span> 10 foto e 4 planimetrie</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 offer bg-gray">
                                    <h2>Cosa comprende:</h2>
                                    <p>Nessun prodotto di visibilità incluso. Potrai acquistare un prodotto acquistandolo dalla tua sezione "Annunci".</p>
                                    <p class="small">Attenzione: Puoi selezionarlo solo se non hai pubblicato altri annunci gratis negli ultimi 12 mesi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="abbonamenti">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
                            <div class="gratis">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-gutter">
                                    <div class="prod-detail">
                                        <img class="pull-left" src="/Content/img/products/normal/smart.png" />
                                        <h2>Smart <span class="pull-right">19.00 €</span></h2>
                                        <p><b>Validità:</b> 3 Mesi</p>
                                        <p><span class="hidden-xs"><b>Caratteristiche:</b></span> 10 foto e 4 planimetrie</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 offer bg-gray">
                                    <h2>Cosa comprende:</h2>
                                    <p>1 Annuncio SuperTop 30 giorni* + 1 Annuncio Flash*</p>
                                    <p class="small">*I prodotti di visibilità compresi sono attivabili dalla tua Area Riservata entro il periodo di validità dell'annuncio. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="abbonamenti">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
                            <div class="gold" name="gold">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-gutter">
                                    <div class="prod-detail">
                                        <img class="pull-left" src="/Content/img/products/normal/gold.png" />
                                        <h2>Gold <span class="pull-right">49.00 €</span></h2>
                                        <p><b>Validità:</b> 6 Mesi</p>
                                        <p><span class="hidden-xs"><b>Caratteristiche:</b></span> 10 foto e 4 planimetrie</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 offer bg-gray">
                                    <h2>Cosa comprende:</h2>
                                    <p>1 Annuncio Flash* + 2 Annuncio SuperTOP 30 giorni* + Guida “Vendere casa con successo”</p>
                                    <p class="small">*tutti i prodotti di visibilità compresi nell’annuncio Smart e Gold sono attivabili da Area Riservata entro il periodo di validità dell’annuncio. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- adv and widget column -->
        <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol">

        </div>
        <!-- end adv and widget column -->
    </section>
</div>