<section class="box box-default">
	<div class="box-body">
		<div *ngIf="childData">
			<div class="form-group row">
				<div class="col-12">
					<div class="table-box table-flip-scroll">
						<table class="mdl-data-table table-bordered table-striped cf no-margin full-width">
							<thead class="cf">
								<tr>
									<th class="numeric">ID</th>
									<th class="numeric">Data Inizio</th>
									<th class="numeric">Data Fine</th>
									<th>Tipo</th>
									<th>Esito</th>
									<th>Note</th>
									<th>Commento</th>
									<th class="numeric">Clienti</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="numeric" *ngFor="let activity of childData">
										<a href="">{{activity.ID}}</a>
									</td>
									<td class="numeric">{{activity.StartDate}}</td>
									<td class="numeric">{{activity.EndDate}}</td>
									<td>{{activity.ActivityType}}</td>
									<td>{{activity.ResultType}}</td>
									<td>{{activity.Notes}}</td>
									<td>{{activity.Comment}}</td>
									<td>{{activity.Customers}}</td>
								</tr>

								<!-- <tr>
									<td class="numeric">
										<a href="">4570292</a>
									</td>
									<td class="numeric">29/11/2017</td>
									<td class="numeric">30/11/2017</td>
									<td>Contatto di Acquisizione</td>
									<td>Appuntamento</td>
									<td></td>
									<td></td>
									<td>Pina Quaranta</td>
								</tr>
								<tr>
									<td class="numeric">
										<a href="">4570301</a>
									</td>
									<td class="numeric">12/10/2017</td>
									<td class="numeric">30/11/2017</td>
									<td>Contatto di Acquisizione</td>
									<td>Incarico</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam</td>
									<td>Da richiamare</td>
									<td>Umberto Smaila</td>
								</tr>
								<tr>
									<td class="numeric">
										<a href="">4570298</a>
									</td>
									<td class="numeric">30/11/2017</td>
									<td class="numeric">01/12/2017</td>
									<td>Appuntamento di Acquisizione</td>
									<td>Incarico</td>
									<td></td>
									<td></td>
									<td>Pina Quaranta</td>
								</tr> -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>