﻿<div class="widget-box hidden-print">
    <div class="widget-title">
        <span>I TUOI DATI</span>
    </div>
    <div class="widget-body">
        <ul>
            <li>
                <i class="icon-notifica_piena icon-small" ng-class="{'padL6': applicationGlobals.counters.specificRequestsCount == 0 || applicationGlobals.counters.expiringListingCount == 0}"></i>
                <span ng-show="applicationGlobals.counters.specificRequestsCount != 0" class="label" ng-bind="applicationGlobals.counters.specificRequestsCount"></span>
                <a ng-class="{'marL7': applicationGlobals.counters.specificRequestsCount == 0 || applicationGlobals.counters.expiringListingCount == 0}" ui-sref="Root.SpecificRequests" title="Vedi Richieste">
                    Richieste
                </a>
            </li>
        </ul>
        <div class="separator"></div>
        <ul>
            <li>
                <span class="badge pull-left" ng-bind="applicationGlobals.counters.totalListingViewsNr"></span>
                <span class="cnt padT9">Totale visite</span>
            </li>
            <li>
                <span class="badge pull-left" ng-bind="applicationGlobals.counters.totalPhoneViewsNr"></span>
                <span class="cnt">Visualizzazioni telefono</span>
            </li>
        </ul>
    </div>
</div>
<div class="widget-box">
    <div class="widget-title">
        <span>PRODOTTI ATTIVABILI</span>
    </div>
    <div class="widget-body">
        <ul>
            <li ng-repeat="depthProduct in availableDepthProducts" ng-show="availableDepthProducts != null">
                <span class="badge pull-left" ng-bind="depthProduct.count"></span>
                <span class="cnt"><img ng-src="./Content/img/products/xsmall/{{depthProduct.iconImage}}" />{{depthProduct.productName}}</span>
            </li>
            <li ng-show="availableDepthProducts == null || availableDepthProducts.length == 0">Nessun prodotto attivabile</li>
            <!--<li>
                <span class="badge pull-left">3</span>
                <span class="cnt"><img src="./Content/img/products/xsmall/premiere.png" />Annunci Premiere</span>
            </li>-->
        </ul>
    </div>
</div>