﻿<div>
    <section class="content">
        <!-- center content -->
        <div class="general-content">
            <div class="panel panel-default panel-pad">
                <div class="clear"></div>
                <form class="rui-form rui-form-compact">
                    <div ng-show="isGold === true">
                        <fieldset>
                            <legend>Servizi Extra</legend>
                            <p>Potenzia l’efficacia del tuo annuncio Gold con il servizio Casa Card</p>
                            <!--<div>
                                <h3>Scarica la guida</h3>
                                <p><a href="/App/Download/vendere_affittare_casa_con_successo.pdf" target="_blank" title="Scarica la guida" class="btn">Download</a></p>
                            </div>-->
                            <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs"><img src="./Content/img/Extra/casacard.jpg" /></div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-gutter">
                                <h3>Casa Card</h3>
                                <p>CASA Card è il servizio SMS studiato per fornire maggiori informazioni all’utente interessato ai tuoi annunci. <br />Cogli l’occasione per distinguerti, migliorare il servizio offerto ai tuoi potenziali clienti e moltiplicare i contatti.</p>
                                <div>
                                    <span>Tanti vantaggi:</span>
                                    <ul class="marB15">
                                        <li><i class="icon-ceck icon-small text-green"></i>Più riconoscibile: distinguiti dagli altri inviando maggiori informazioni sui tuoi immobili via SMS</li>
                                        <li><i class="icon-ceck icon-small text-green"></i>Più contatti: aumenti le possibilità di entrare in contatto con un maggior numero di potenziali clienti</li>
                                        <li><i class="icon-ceck icon-small text-green"></i>Più efficiente: un’occasione offrire un servizio di maggiore qualità</li>
                                    </ul>
                                    <h3><i class="icon-print icon-small"></i>Stampa i modelli CasaCard:</h3>
                                    <a class="btn" title="Cartello Vendita" target="_blank" href="/App/Download/CasaCardVende.pdf">Cartello Vendita</a>
                                    <a class="btn" title="Cartello Vendita" target="_blank" href="/App/Download/CasaCardAffitta.pdf">Cartello Affitto</a>
                                </div>
                            </div>
                        </fieldset>
                        <p class="panel-footer bg-white no-border clearfix">
                            <a class="btn-light pull-left" ui-sref="Root.Home" title="Torna indietro">Torna Indietro</a>
                        </p>
                    </div>
                    <div ng-show="isGold === false">
                        <fieldset>
                            <legend>Servizi Extra</legend>
                            <p>
                                Chi ha scelto l'annuncio Gold ha a disposizione diversi strumenti di visibilità e promozione tra cui CasaCARD, il servizio SMS studiato per fornire maggiori informazioni all'utente interessato al tuo annuncio: <br />un'occasione per migliorare il servizio offerto ai tuoi potenziali clienti e moltiplicare i contatti.
                            </p>
                            <div class="abbonamenti">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
                                    <div class="gold" name="gold">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-gutter">
                                            <div class="prod-detail">
                                                <img class="pull-left" src="/Content/img/products/normal/gold.png" />
                                                <h2>Gold <span class="pull-right">49.00 €</span></h2>
                                                <p><b>Validità:</b> 6 Mesi</p>
                                                <p><span class="hidden-xs"><b>Caratteristiche:</b></span> 10 foto e 4 planimetrie</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 offer no-gutter bg-gray">
                                            <h2>Cosa comprende:</h2>
                                            <p>1 Annuncio Flash* + 2 Annuncio SuperTOP 30 giorni* + Guida “Vendere casa con successo”</p>
                                            <p class="small">*tutti i prodotti di visibilità compresi nell’annuncio Smart e Gold sono attivabili da Area Riservata entro il periodo di validità dell’annuncio. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <p class="panel-footer bg-white no-border clearfix">
                            <a class="btn-light pull-left" ui-sref="Root.Home" title="Torna indietro">Indietro</a>
                            <a class="btn pull-right" ui-sref="Root.ListingEdit.EstateData" title="Pubblica Nuovo annuncio">Pubblica nuovo annuncio</a>
                        </p>
                    </div>          
                </form>
            </div>
        </div>
        <!-- adv and widget column -->
        <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol">

        </div>
        <!-- end adv and widget column -->
    </section>
</div>