﻿
<ng-form name="geo_form" class="rui-form-compact geo-form">
    <div class="col-sm-12 col-md-12 col-lg-7 top-buffer">
        <div class="row">
            <div ng-show="showValidationErrors" class="error-message" ng-class="{'rui-message': geo_form.$invalid || !Listing.geoData.city.id, 'rui-error': geo_form.$invalid || !Listing.geoData.city.id}">
                <ul>
                    <li ng-show="((geo_form.City.$error.required && geo_form.City.$dirty) || (geo_form.City.$error.required && geo_form.City.$pristine && showValidationErrors) || (!Listing.geoData.city.id && showValidationErrors && geo_form.City.$dirty))">Inserisci un comune esistente</li>
                    <li ng-show="((geo_form.Address.$error.required && geo_form.Address.$dirty) || (geo_form.Address.$error.required && geo_form.Address.$pristine && showValidationErrors))">Inserisci un indirizzo valido</li>
                </ul>
            </div>
            <div ng-show="Alerts.length > 0" class="error-message rui-message rui-error">
                <ul>
                    <li ng-repeat="alert in Alerts" ng-bind="alert.msg"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-7 top-buffer">
        <div class="row" ng-class="{'rui-input-error': ((geo_form.City.$error.required && geo_form.City.$dirty) || (geo_form.City.$error.required && geo_form.City.$pristine && Alerts.length > 0))}">
            <label class="geoData">
                <span>Comune*</span>
                <input required search-no-autocomplete autocomplete="off" autocorrect="off" class="rui-input" id="City" name="City" type="text" ng-model="Listing.geoData.city" ng-disabled="!canEditCity" placeholder="Comune*" typeahead="city as city.townName for city in GetCitiesByName($viewValue) | filter:{description:$viewValue}" typeahead-loading="loadingCities">
                <i ng-show="loadingCities" class="icon-refresh icon-small"></i>
            </label>
        </div>
        <div class="row" ng-class="{'rui-input-error': ((geo_form.Zone.$error.required && geo_form.Zone.$dirty) || (geo_form.Zone.$error.required && geo_form.Zone.$pristine && Alerts.length > 0))}">
            <label ng-class="{'ie-select': isIE9 }">
                <span>Zona/Frazione</span>
                <select select-rui class="rui-input rui-select-can-be-disabled select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="Zone" name="Zone" ng-disabled="!Listing.geoData.city || Lookup.Zones.length == 0" ng-model="Listing.geoData.zone" placeholder="Seleziona la zona">
                    <option value="">Seleziona la zona</option>
                    <option ng-repeat="item in Lookup.Zones" value="{{item.id}}" ng-selected="Listing.geoData.zone==item.id">{{item.zone}}</option>
                </select>
                <input type="text" class="rui-input rui-select-disabled-input" placeholder="Zone non disponibili" readonly disabled="disabled" />
            </label>
        </div>
        <div class="row" ng-class="{'rui-input-error': ((geo_form.Address.$error.required && geo_form.Address.$dirty) || (geo_form.Address.$error.required && geo_form.Address.$pristine && Alerts.length > 0))}">
            <label>
                <span>Indirizzo*</span>
                <input required class="rui-input" id="Address" name="Address" ng-model="Listing.geoData.address" placeholder="Indirizzo*">
                <span ng-show="geo_form.$submitted && geo_form.Address.$error.required">Inserisci un indirizzo corretto</span>
            </label>
        </div>
        <div class="row">
            <label>
                <span>C.A.P.</span>
                <input class="rui-input" maxlength="5" id="PostalCode" name="PostalCode" ng-model="Listing.geoData.postalCode" placeholder="C.A.P." is-number>
            </label>
        </div>
        <div class="row">
            <input type="checkbox" id="HideAddressOnline" ng-model="Listing.hideAddressOnline" ng-click="ToggleMarker()" />
            <label for="HideAddressOnline">
                <span></span>Non mostrare l'indirizzo nell'annuncio
            </label>
        </div>
        <div class="row hidden-xs">
            <button class="btn btn-block" id="VerifyAddress" ng-click="GeoCodeAddress()" type="button" ng-disabled="!Listing.geoData.address">Verifica indirizzo</button>
        </div>
    </div>
    {{foc}}
    <!-- Inizio Map-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5 no-gutter">
            <div ng-class="{'mapControlEnabled': mapControlEnabled}">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options='mapOptions' ng-click="enableMapControls()" ng-mouseleave="disableMapControls()">
                    <ui-gmap-marker coords="marker.coords" idkey='marker.id'>
                    </ui-gmap-marker>
                </ui-gmap-google-map>
                <div class="clearfix"></div>
            </div>
            <div class="row hidden-md hidden-lg hidden-sm">
                <div class="col-md-12">
                    <button class="btn-dark btn-block" id="VerifyAddress" ng-click="GeoCodeAddress()" type="button" ng-disabled="!Listing.geoData.address">Verifica</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fine Map-->
</ng-form>