﻿<div class="" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDialog">
    <div role="document">
        <div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Abbandona la pagina</h4>
            </div>
            <div class="modal-body">
                Sei sicuro di voler abbandonare la pagina?<br />
                Se lasci questa pagina i dati inseriti non verranno salvati.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-light pull-left" ng-click="cancel()">Non ora</button>
                <button type="button" ng-click="ok()" class="btn pull-right">Abbandona</button>
            </div>
        </div>
    </div>
</div>