﻿<div>
    <section id="estate_section">
        <div id="estate_section_container">
            <div class="clear"></div>
            <fieldset>
                <legend>Dati Immobile <span class="hidden-xs">* Campi Obbligatori</span></legend>
                <div class="col-md-3 hidden-xs hidden-sm hidden-md text-justify hidden-description">
                    <div class="row">
                        <div class="col-md-12 text-justify">
                            <img class="info-img" src="Content/img/listingedit.png" alt="" />
                            <p>Inserisci dati reali. Prezzo e Mq sono i primi criteri di ricerca utilizzati dagli utenti. </p>
                            <p>Scrivi una descrizione chiara che comprenda notizie sulla zona e i servizi. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-9 no-gutter col-xl-12">
                    <div class="row">
                        <div ng-show="showValidationErrors" class="error-message" ng-class="{'rui-message': ListingEditForm.$invalid, 'rui-error': ListingEditForm.$invalid }">
                            <ul>
                                <li ng-repeat="alert in Alerts">
                                    {{alert.msg}}
                                </li>
                                <li ng-show="ListingEditForm.$invalid">Compila correttamente tutti i campi obbligatori</li>
                                <li ng-show="ListingEditForm.$invalid && ListingEditForm.ListingDescriptionIT.$error.minlength || ListingEditForm.ListingDescriptionEN.$error.minlength || ListingEditForm.ListingDescriptionFR.$error.minlength || ListingEditForm.ListingDescriptionES.$error.minlength || ListingEditForm.ListingDescriptionDE.$error.minlength">Scrivi una descrizione di almeno {{LISTING_DESCRIPTION_MIN_LENGTH}} caratteri</li>
                                <li ng-show="!availability_form.$error['date-disabled']">Controlla le date</li>
                            </ul>
                        </div>
                        <div class="rui-form-element col-md-12" ng-class="{'rui-input-error': (ListingEditForm.ContractType.$error.required && ListingEditForm.ContractType.$dirty) || (ListingEditForm.ContractType.$error.required && ListingEditForm.ContractType.$pristine && showValidationErrors) }">
                            <span>Pubblica in</span>
                            <input required type="radio" id="ContractTypeSell" name="ContractType" ng-model="Listing.contractType" value="2" ng-disabled="!canEditContractType" />
                            <label for="ContractTypeSell">
                                <span></span>
                                Vendita
                            </label>
                            <input required type="radio" id="ContractTypeRent" name="ContractType" ng-model="Listing.contractType" value="1" ng-disabled="!canEditContractType" />
                            <label for="ContractTypeRent">
                                <span></span>
                                Affitto
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-class="{'rui-input-error': (ListingEditForm.Category.$error.required && ListingEditForm.Category.$dirty) || (ListingEditForm.Category.$error.required && ListingEditForm.Category.$pristine && showValidationErrors)  }">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Categoria*</span>
                                <select required select-rui class="rui-input" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" id="Category" name="Category" ng-model="Listing.category">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.Categories" value="{{item.id}}" ng-selected="Listing.category==item.id">{{item.description}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-class="{'rui-input-error': (ListingEditForm.Tipology.$error.required && ListingEditForm.Tipology.$dirty) || (ListingEditForm.Tipology.$error.required && ListingEditForm.Tipology.$pristine && showValidationErrors)  }">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Tipologia Immobiliare*</span>
                                <select required select-rui class="rui-input" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="Tipology" name="Tipology" ng-model="Listing.tipology" ng-change="OnTipologyChanged()">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.Typologies" value="{{item.id}}" ng-selected="Listing.tipology==item.id">{{item.description}}</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-class="{'rui-input-error': (ListingEditForm.Price.$error.required && ListingEditForm.Price.$dirty) || (ListingEditForm.Price.$error.required && ListingEditForm.Price.$pristine && showValidationErrors) || (ListingEditForm.Price.$viewValue < 1000 && ListingEditForm.ContractType.$viewValue == 2 && ListingEditForm.Price.$dirty) || (ListingEditForm.Price.$viewValue < 10 && ListingEditForm.ContractType.$viewValue == 1 && ListingEditForm.Price.$dirty)}">
                            <label>
                                <span>Prezzo*</span>
                                <input required type="text" id="Price" name="Price" ng-model="Listing.price" maxlength="15" class="rui-input" is-number />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 no-input">
                            <input type="checkbox" id="IsPrivateNegotiation" ng-model="Listing.isPrivateNegotiation" />
                            <label tabindex="-1" for="IsPrivateNegotiation">
                                <span tabindex="0"></span>Trattativa riservata
                            </label>
                            <a tabindex="-1" rel="tooltip" class="hidden-xs info" href="#" popover-trigger="focus" popover-placement="right" popover="{{'Gli annunci senza prezzo ricevono meno contatti. Seleziona solo se desideri che il prezzo non venga mostrato.'}}"><i class="icon-info icon-xsmall"></i></a>
                            <a tabindex="-1" rel="tooltip" class="hidden-sm hidden-md hidden-lg info" href="#" popover-trigger="focus" popover-placement="bottom" popover="{{'Gli annunci senza prezzo ricevono meno contatti. Seleziona solo se desideri che il prezzo non venga mostrato.'}}"><i class="icon-info icon-xsmall"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-class="{'rui-input-error': (ListingEditForm.Surface.$error.required && ListingEditForm.Surface.$dirty) || (ListingEditForm.Surface.$error.required && ListingEditForm.Surface.$pristine && showValidationErrors) }">
                            <label>
                                <span>Mq*</span>
                                <input required type="text" id="Surface" name="Surface" ng-model="Listing.surface" maxlength="6" ng-pattern="/^[0-9]{1,7}$/" class="rui-input" is-number />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-class="{'rui-input-error': (ListingEditForm.CurrentPhysicalCondition.$error.required && ListingEditForm.CurrentPhysicalCondition.$dirty) || (ListingEditForm.CurrentPhysicalCondition.$error.required && ListingEditForm.CurrentPhysicalCondition.$pristine && showValidationErrors)  }">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Stato Immobile</span>
                                <select select-rui id="CurrentPhysicalCondition" name="CurrentPhysicalCondition" ng-model="Listing.currentPhysicalCondition" class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.PhysicalConditions" value="{{item.id}}" ng-selected="Listing.currentPhysicalCondition==item.id">{{item.conditionTypeDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-class="{'rui-input-error': (ListingEditForm.RoomsNumber.$error.required && ListingEditForm.RoomsNumber.$dirty  && showValidationErrors) || (ListingEditForm.RoomsNumber.$error.required && ListingEditForm.RoomsNumber.$pristine && showValidationErrors)  }">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Numero Locali<i ng-show="Listing.tipology && applicationGlobals.lookups.buildingTypeConfiguration[Listing.tipology].mandatoryField">*</i></span>
                                <select select-rui ng-required="Listing.tipology && applicationGlobals.lookups.buildingTypeConfiguration[Listing.tipology].mandatoryField" id="RoomsNumber" name="RoomsNumber" ng-disabled="!Listing.tipology || !applicationGlobals.lookups.buildingTypeConfiguration[Listing.tipology].showField" ng-model="Listing.roomsNumber" class="rui-input rui-select-can-be-disabled" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE, 'select-show-placeholder': !applicationGlobals.lookups.buildingTypeConfiguration[Listing.tipology].mandatoryField}" data-key-event="true">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.RoomNumbers" value="{{item.id}}" ng-selected="Listing.roomsNumber==item.id">{{item.roomDesc}}</option>
                                </select>
                                <input type="text" class="rui-input rui-select-disabled-input" placeholder="Non disponibile" readonly disabled="disabled" />
                            </label>

                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label>
                                <span>Numero Bagni</span>
                                <input class="rui-input" id="BathroomsNumber" name="BathroomsNumber" maxlength="2" ng-model="Listing.bathroomsNumber" is-number />
                            </label>

                        </div>
                    </div>
                    <div class="row" ng-class="{'tab-focused': applicationGlobals.desc_focus}">
                        <div class="col-xs-12 description col-md-12" ng-class="{'rui-input-error': ((ListingEditForm.ListingDescriptionIT.$error.required || ListingEditForm.ListingDescriptionIT.$error.minlength) && showValidationErrors) || ListingEditForm.ListingDescriptionEN.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH && ListingEditForm.ListingDescriptionEN.$dirty ||  ListingEditForm.ListingDescriptionFR.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH && ListingEditForm.ListingDescriptionFR.$dirty ||  ListingEditForm.ListingDescriptionES.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH && ListingEditForm.ListingDescriptionES.$dirty ||  ListingEditForm.ListingDescriptionDE.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH && ListingEditForm.ListingDescriptionDE.$dirty}">
                            <tabset>
                                <tab select="areaDesc_ita = true" deselect="areaDesc_ita = false">
                                    <tab-heading><img title="Italiano" src="Content/img/Icons/flag_ita.jpg" /><span class="hidden-sm hidden-xs flag">Italiano</span></tab-heading>

                                    <textarea trim-right focus-me="areaDesc_ita" required id="ListingDescriptionIT" name="ListingDescriptionIT" ng-model="Listing.description.it" rows="2" cols="20" maxlength="{{LISTING_DESCRIPTION_MAX_LENGTH}}" ng-attr-placeholder="{{'Descrivi immobile*'}}" ng-focus="descriptionBoxFocus()" ng-blur="descriptionBoxBlur()"></textarea>

                                    <div>{{LISTING_DESCRIPTION_MAX_LENGTH - Listing.description.it.length}} caratteri disponibili</div>
                                    <div ng-show="showValidationErrors">
                                        <div ng-show="ListingEditForm.ListingDescriptionIT.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH" class="error-descr">Scrivi una descrizione di almeno {{LISTING_DESCRIPTION_MIN_LENGTH}} caratteri</div>
                                    </div>
                                </tab>

                                <tab select="areaDesc_en = true" deselect="areaDesc_en = false">
                                    <tab-heading><img title="Inglese" src="Content/img/Icons/flag_eng.jpg" /><span class="hidden-sm hidden-xs flag">Inglese</span></tab-heading>

                                    <textarea trim-right focus-me="areaDesc_en" id="ListingDescriptionEN" name="ListingDescriptionEN" ng-model="Listing.description.en" rows="2" cols="20" maxlength="{{LISTING_DESCRIPTION_MAX_LENGTH}}" ng-attr-placeholder="{{'Describe property'}}" ng-focus="descriptionBoxFocus()" ng-blur="descriptionBoxBlur()"></textarea>

                                    <div>{{LISTING_DESCRIPTION_MAX_LENGTH - Listing.description.en.length}} caratteri disponibili</div>
                                    <div ng-show="showValidationErrors">
                                        <div ng-show="ListingEditForm.ListingDescriptionEN.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH" class="error-descr">Scrivi una descrizione di almeno {{LISTING_DESCRIPTION_MIN_LENGTH}} caratteri</div>
                                    </div>
                                </tab>
                                <tab name="descrTab" select="areaDesc_fr = true" deselect="areaDesc_fr = false">
                                    <tab-heading><img title="Francese" src="Content/img/Icons/flag_fra.jpg" /><span class="hidden-sm hidden-xs flag">Francese</span></tab-heading>

                                    <textarea trim-right focus-me="areaDesc_fr" id="ListingDescriptionFR" name="ListingDescriptionFR" ng-model="Listing.description.fr" rows="2" cols="20" maxlength="{{LISTING_DESCRIPTION_MAX_LENGTH}}" ng-attr-placeholder="{{'Décrire la propriété'}}" ng-focus="descriptionBoxFocus()" ng-blur="descriptionBoxBlur()"></textarea>

                                    <div>{{LISTING_DESCRIPTION_MAX_LENGTH - Listing.description.fr.length}} caratteri disponibili</div>
                                    <div ng-show="showValidationErrors">
                                        <div ng-show="ListingEditForm.ListingDescriptionFR.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH" class="error-descr">Scrivi una descrizione di almeno {{LISTING_DESCRIPTION_MIN_LENGTH}} caratteri</div>
                                    </div>
                                </tab>

                                <tab select="areaDesc_es = true" deselect="areaDesc_es = false">
                                    <tab-heading><img title="Spagnolo" src="Content/img/Icons/flag_esp.jpg" /><span class="hidden-sm hidden-xs flag">Spagnolo</span></tab-heading>

                                    <textarea trim-right focus-me="areaDesc_es" id="ListingDescriptionES" name="ListingDescriptionES" ng-model="Listing.description.es" rows="2" cols="20" maxlength="{{LISTING_DESCRIPTION_MAX_LENGTH}}" ng-attr-placeholder="{{'Describa la propiedad'}}" ng-focus="descriptionBoxFocus()" ng-blur="descriptionBoxBlur()"></textarea>

                                    <div>{{LISTING_DESCRIPTION_MAX_LENGTH - Listing.description.es.length}} caratteri disponibili</div>
                                    <div ng-show="showValidationErrors">
                                        <div ng-show="ListingEditForm.ListingDescriptionES.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH" class="error-descr">Scrivi una descrizione di almeno {{LISTING_DESCRIPTION_MIN_LENGTH}} caratteri</div>
                                    </div>
                                </tab>

                                <tab select="areaDesc_de = true" deselect="areaDesc_de = false">
                                    <tab-heading><img title="Tedesco" src="Content/img/Icons/flag_ger.jpg" /><span class="hidden-sm hidden-xs flag">Tedesco</span></tab-heading>

                                    <textarea trim-right focus-me="areaDesc_de" id="ListingDescriptionDE" name="ListingDescriptionDE" ng-model="Listing.description.de" rows="2" cols="20" maxlength="{{LISTING_DESCRIPTION_MAX_LENGTH}}" ng-attr-placeholder="{{'Beschreiben Immobilien'}}" ng-focus="descriptionBoxFocus()" ng-blur="descriptionBoxBlur()"></textarea>

                                    <div>{{LISTING_DESCRIPTION_MAX_LENGTH - Listing.description.de.length}} caratteri disponibili</div>
                                    <div ng-show="showValidationErrors">
                                        <div ng-show="ListingEditForm.ListingDescriptionDE.$viewValue.length < LISTING_DESCRIPTION_MIN_LENGTH" class="error-descr">Scrivi una descrizione di almeno {{LISTING_DESCRIPTION_MIN_LENGTH}} caratteri</div>
                                    </div>
                                </tab>
                            </tabset>
                            <a tabindex="-1" rel="tooltip" class="info infoLanguage hidden-xs hidden-sm" href="#" popover-trigger="focus" popover-placement="top" popover="{{ 'Descrivi il tuo immobile(numero locali, condizioni, arredamento) e aggiungi notizie utili sullo stabile e i servizi in zona. Inserisci almeno '  + LISTING_DESCRIPTION_MIN_LENGTH + ' caratteri.'}}"><i class="icon-info icon-xsmall"></i></a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <!-- energetic class here -->
    <section id="energy_efficiency_section">
        <div id="energy_efficiency_section_container" class="row">
            <fieldset>
                <legend>Classe Energetica</legend>
                <div class="col-md-3 hidden-xs hidden-sm hidden-md text-justify hidden-description">
                    <p><span>Inserisci i valori relativi alla classe energetica per fornire informazioni utili ai potenziali acquirenti.</span></p>
                    <p><a href="" data-target="#infoEnergyRating" data-toggle="modal" class="text-black" title="Informazioni sulla classe energetica">Informazioni classe energetica</a></p>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-9 no-gutter col-xl-12">
                    <div class="row">
                        <div ng-show="EnergyValidationError" class="error-message" ng-class="{'rui-message': EnergyValidationError, 'rui-error': EnergyValidationError}">
                            <ul>
                                <li ng-repeat="alert in Alerts">
                                    {{alert.msg}}
                                </li>
                                <li ng-show="(ListingEditForm.EnergyEfficiencyRating.$error.required && ListingEditForm.EnergyEfficiencyRating.$dirty) || (ListingEditForm.EnergyEfficiencyRating.$error.required && ListingEditForm.EnergyEfficiencyRating.$pristine && EnergyValidationError)">Compila correttamente tutti i campi obbligatori</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-class="{'rui-input-error': (ListingEditForm.EnergyEfficiencyRating.$error.required && ListingEditForm.EnergyEfficiencyRating.$dirty) || (ListingEditForm.EnergyEfficiencyRating.$error.required && ListingEditForm.EnergyEfficiencyRating.$pristine && (showValidationErrors || EnergyValidationError))  }">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Classe Energetica*</span>
                                <select class="rui-input ie-rui-select" data-key-event="true" required id="EnergyEfficiencyRating" name="EnergyEfficiencyRating" ng-options="eer.id as eer.energyEfficiencyRatingDesc group by eer.classificationLabel for eer in Lookup.EnergyEfficiencyRatings" ng-model="Listing.energyEfficiency.ratingId">
                                    <option value="" style="display:none;">Seleziona</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-if="statusEER > 0">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Unità di misura</span>
                                <select select-rui class="rui-input" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" ng-model="Listing.energyEfficiency.isCubeMeters" name="EEIUnitOfMeasure" id="EEIUnitOfMeasure" data-key-event="true">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in EnergyEfficiencyUoM" value="{{item.value}}" ng-selected="Listing.energyEfficiency.isCubeMeters==item.value">{{item.name}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-show="statusEER == 1" ng-class="{'rui-input-error':  ListingEditForm.EnergyEfficencyIndex.$error.pattern && showValidationErrors}">
                            <label>
                                <span>IPE</span>
                                <input class="rui-input" name="EnergyEfficencyIndex" type="text" maxlength="7" id="EnergyEfficencyIndex" ng-model="Listing.energyEfficiency.value" is-number="true" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 no-input" ng-show="statusEER > 1">
                            <input type="checkbox" id="EnergyEfficencyConsumptionAlmostZero" name="EnergyEfficencyConsumptionAlmostZero" ng-model="Listing.energyEfficiency.consumptionAlmostZero" />
                            <label for="EnergyEfficencyConsumptionAlmostZero"><span tabindex="0"></span>Edificio a energia quasi zero</label>
                        </div>
                    </div>

                    <div class="row" ng-if="statusEER > 1">
                        <div class="col-xs-12 col-sm-6 innerSection">
                            <span>Prestazione energetica globale</span>
                        </div>
                        <div class="hidden-xs col-sm-6 innerSection">
                            <span>Prestazione energetica fabbricato</span>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-class="{'rui-input-error':  ListingEditForm.EnergyEfficiencyValue.$error.pattern}">
                            <label>
                                <span>Non rinnovabile <br class="hidden-xs" />(EP gl,nren)</span>
                                <input class="rui-input" name="EnergyEfficiencyValue" type="text" maxlength="7" id="" ng-model="Listing.energyEfficiency.value" is-number="true" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-class="{'rui-input-error':  ListingEditForm.EnergyEfficiencyValueRenew.$error.pattern}">
                            <label>
                                <span>Rinnovabile <br class="hidden-xs" />(EP gl,ren)</span>
                                <input class="rui-input" name="EnergyEfficiencyValueRenew" type="text" maxlength="7" id="" ng-model="Listing.energyEfficiency.valueRenew" is-number="true" />
                            </label>
                        </div>
                        <div class="visible-xs col-xs-12 innerSection">
                            <span>Prestazione energetica fabbricato</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3" ng-class="{'rui-input-error':  ListingEditForm.EnergyEfficiencyIndexWinter.$error.pattern}">
                            <label>
                                <span><br class="row hidden-xs" />Inverno</span>
                                <label class="innerFakeLabel">
                                    <input class="rui-input" name="EnergyEfficiencyIndexWinterHappy" type="radio" ng-model="Listing.energyEfficiency.indexWinter" value="1" />
                                    <i class="radioIcon icon-smiley icon-medium"></i>
                                </label>
                                <label class="innerFakeLabel">
                                    <input class="rui-input" name="EnergyEfficiencyIndexWinterNeutral" type="radio" ng-model="Listing.energyEfficiency.indexWinter" value="2" />
                                    <i class="radioIcon icon-neutral icon-medium"></i>
                                </label>
                                <label class="innerFakeLabel">
                                    <input class="rui-input" name="EnergyEfficiencyIndexWinterSad" type="radio" ng-model="Listing.energyEfficiency.indexWinter" value="3" />
                                    <i class="radioIcon icon-sad icon-medium"></i>
                                </label>
                            </label>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3" ng-class="{'rui-input-error':  ListingEditForm.EnergyEfficiencyIndexSummer.$error.pattern}">
                            <label>
                                <span><br class="row hidden-xs" />Estate</span>
                                <label class="innerFakeLabel">
                                    <input class="rui-input" name="EnergyEfficiencyIndexSummerHappy" type="radio" ng-model="Listing.energyEfficiency.indexSummer" value="1" />
                                    <i class="radioIcon icon-smiley icon-medium"></i>
                                </label>
                                <label class="innerFakeLabel">
                                    <input class="rui-input" name="EnergyEfficiencyIndexSummerNeutral" type="radio" ng-model="Listing.energyEfficiency.indexSummer" value="2" />
                                    <i class="radioIcon icon-neutral icon-medium"></i>
                                </label>
                                <label class="innerFakeLabel">
                                    <input class="rui-input" name="EnergyEfficiencyIndexSummerSad" type="radio" ng-model="Listing.energyEfficiency.indexSummer" value="3" />
                                    <i class="radioIcon icon-sad icon-medium"></i>
                                </label>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="infoEnergyRating" tabindex="-1" role="dialog" aria-labelledby="infoEnergyRating">
                    <div class="modal-dialog mobile-modal" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Classe Energetica</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Gentile Cliente, <br />
                                    a partire dal 1° Ottobre 2015, gli annunci immobiliari diffusi su internet devono indicare necessariamente: <br />
                                    1) gli indici di prestazione energetica dell’involucro, <br />
                                    2) l’indice di prestazione energetica globale dell’edificio o dell’unità immobiliare e <br />
                                    3) la relativa classe energetica (previsto dal D.M. del 26/6/15, pubblicato sulla Gazzetta Ufficiale del 15/7/15).
                                </p>
                                <p>
                                    Sono state introdotte, inoltre, 4 nuove classi energetiche: A1, A2, A3 e A4 ma rimane ferma, ove non sia sopraggiunta la scadenza ivi prevista, la validità degli attestati di certificazione energetica redatti ai sensi delle Linee guida di cui al decreto del ministro dello sviluppo economico 26 giugno 2009. <br />
                                    Tutte le indicazioni relative ai suddetti dati sono contenute all’interno dell’ Attestato di prestazione energetica (APE).
                                </p>
                                <p>Per maggiori informazioni in merito: <a href="http://www.gazzettaufficiale.it/eli/id/2015/07/15/15A05199/sg" class="text-black" target="_blank">http://www.gazzettaufficiale.it/eli/id/2015/07/15/15A05199/sg</a></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-light pull-left" data-dismiss="modal" ng-click="cancel()">Torna alla Pagina</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <section id="estate_context">
        <div id="estate_context_container" class="row" ng-hide="IsRentalForVacation()">
            <fieldset>
                <legend>Caratteristiche Interne</legend>
                <div class="col-md-3 hidden-xs hidden-sm hidden-md text-justify hidden-description">
                    <span>Inserisci le informazioni sulla costruzione, il tipo di riscaldamento e le eventuali spese condominiali.</span>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-9 no-gutter col-xl-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Piano</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="Floor" name="Floor" ng-model="Listing.floor">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="floor in Lookup.Floors" value="{{floor.id}}" ng-selected="Listing.floor==floor.id">{{floor.floorDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label>
                                <span for="TotalFloors_EstateContext">Di</span>
                                <input class="rui-input" id="TotalFloors_EstateContext" name="TotalFloors" maxlength="4" ng-model="Listing.totalFloors" is-number placeholder="Totale piani" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label for="ConstructionYear" ng-hide="IsRentalForVacation()">
                                <span>Edificio del</span>
                                <input class="rui-input" id="ConstructionYear" name="ConstructionYear" maxlength="4" ng-model="Listing.constructionYear" ng-hide="IsRentalForVacation()" placeholder="Anno" is-number />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Stato al rogito</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="OccupationState" name="OccupationState" ng-hide="IsRentalForVacation()" ng-model="Listing.occupationState">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.OccupationStates" value="{{item.id}}" ng-selected="Listing.occupationState==item.id">{{item.description}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Riscaldamento</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="HeatingType" name="HeatingType" ng-model="Listing.heatingType">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.HeatingTypes" value="{{item.id}}" ng-selected="Listing.heatingType==item.id">{{item.heatingTypeDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label for="MonthlyExpenses" ng-hide="IsRentalForVacation()">
                                <span ng-hide="IsRentalForVacation()">Spese Condominiali</span>
                                <input class="rui-input" id="MonthlyExpenses" name="Expenses" maxlength="4" ng-hide="Listing.ContractType==2 && Listing.Category.id==2" ng-model="Listing.monthlyExpenses" placeholder="Al mese" is-number />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label for="Units" ng-hide="IsRentalForVacation()">
                                <span ng-hide="IsRentalForVacation()">Unità immobiliari</span>
                                <input class="rui-input" id="Units" name="Units" maxlength="4" ng-hide="IsRentalForVacation()" ng-model="Listing.units" is-number placeholder="Numero" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 no-input">
                            <input type="checkbox" id="HasElevator" name="HasElevator" ng-model="Listing.hasElevator" />
                            <label for="HasElevator"><span tabindex="0"></span>Ascensore</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>

    <section id="estate_characteristics">
        <div id="estate_characteristics_container" class="row" ng-show="IsRentalForVacation()">
            <fieldset>
                <legend>Caratteristiche Immobile</legend>
                <div class="col-md-3 hidden-xs hidden-sm hidden-md text-justify hidden-description">
                    <span>Completa il tuo annuncio con le informazioni sulle parti annesse.</span>
                </div>
                <div class="col-md-12 col-lg-9 no-gutter col-xl-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Piano</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="Floor_EstateCharacteristics" name="Floor_EstateCharacteristics" ng-model="Listing.floor">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.Floors" value="{{item.id}}" ng-selected="Listing.floor==item.id">{{item.floorDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label>
                                <span for="TotalFloors_EstateCharacteristics">Di</span>
                                <input class="rui-input" id="TotalFloors_EstateCharacteristics" name="TotalFloors" maxlength="4" ng-model="Listing.totalFloors" is-number placeholder="Totale piani" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Riscaldamento</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="HeatingType_EstateCharacteristics" name="HeatingType" ng-model="Listing.heatingType">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.HeatingTypes" value="{{item.id}}" ng-selected="Listing.heatingType==item.id">{{item.heatingTypeDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 no-input">
                            <input type="checkbox" id="HasElevator_EstateCharacteristics" name="HasElevator" ng-model="Listing.hasElevator" />
                            <label for="HasElevator_EstateCharacteristics"><span></span>Ascensore</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Box / Posto Auto</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="ParkingType_EstateCharacteristics" name="ParkingType" ng-model="Listing.parking.type">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.ParkingTypes" value="{{item.id}}" ng-selected="Listing.parking.type==item.id">{{item.boxTypeDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Giardino</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="GardenType_EstateCharacteristics" name="GardenType" ng-model="Listing.garden.type">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.GardenTypes" value="{{item.id}}" ng-selected="Listing.garden.type==item.id">{{item.gardenTypeDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 no-input">
                            <input type="checkbox" id="HasBalcony_EstateCharacteristics" name="HasBalcony_EstateCharacteristics" ng-model="Listing.hasBalcony" />
                            <label for="HasBalcony_EstateCharacteristics"><span tabindex="0"></span>Balcone</label>
                        </div>
                        <div class="col-xs-8 col-sm-3 col-md-3 no-input">
                            <input type="checkbox" id="HasTerrace_EstateCharacteristics" name="HasTerrace_EstateCharacteristics" ng-model="Listing.hasTerrace" />
                            <label for="HasTerrace_EstateCharacteristics"><span tabindex="0"></span>Terrazzo</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>


    <section id="external_characteristics">
        <div id="external_characteristics_container" class="row" ng-hide="IsRentalForVacation()">
            <fieldset>
                <legend>Caratteristiche Esterne</legend>
                <div class="col-md-3 hidden-xs hidden-sm hidden-md text-justify hidden-description">
                    <span>Le caratteristiche esterne aiutano gli altri utenti a farsi un idea più precisa sulla tua offerta.</span>
                </div>
                <div class="col-md-12 col-lg-9 no-gutter col-xl-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Box / Posto Auto</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="ParkingType_ExternalCharacteristics" name="ParkingType" ng-model="Listing.parking.type">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.ParkingTypes" value="{{item.id}}" ng-selected="Listing.parking.type==item.id">{{item.boxTypeDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label>
                                <span for="ParkingSurface_ExternalCharacteristics">Mq</span>
                                <input class="rui-input" id="ParkingSurface_ExternalCharacteristics" name="ParkingSurface" maxlength="4" ng-model="Listing.parking.surface" is-number placeholder="MQ box auto" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label ng-class="{'ie-select': isIE9}">
                                <span>Giardino</span>
                                <select select-rui class="rui-input select-show-placeholder" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" id="GardenType_ExternalCharacteristics" name="GardenType" ng-model="Listing.garden.type">
                                    <option value="">Seleziona</option>
                                    <option ng-repeat="item in Lookup.GardenTypes" value="{{item.id}}" ng-selected="Listing.garden.type==item.id">{{item.gardenTypeDesc}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <label>
                                <span for="GardenSurface_ExternalCharacteristics">Mq</span>
                                <input class="rui-input" id="GardenSurface_ExternalCharacteristics" name="GardenSurface" maxlength="4" ng-model="Listing.garden.surface" is-number placeholder="MQ giardino" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 no-input">
                            <input type="checkbox" id="HasBalcony_ExternalCharacteristics" name="HasBalcony_ExternalCharacteristics" ng-model="Listing.hasBalcony" />
                            <label for="HasBalcony_ExternalCharacteristics"><span tabindex="0"></span>Balcone</label>
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-3 no-input">
                            <input type="checkbox" id="HasTerrace_ExternalCharacteristics" name="HasTerrace_ExternalCharacteristics" ng-model="Listing.hasTerrace" />
                            <label for="HasTerrace_ExternalCharacteristics"><span tabindex="0"></span>Terrazzo</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>

    <section id="rental_availability_section">
        <div id="rental_availability_section_container" class="row" ng-controller="AvailabilityEditorController" ng-show="IsRentalForVacation()">
            <fieldset>
                <legend>Disponibilità e Prezzi</legend>
                <div class="col-md-3 hidden-xs hidden-sm hidden-md text-justify hidden-description">
                    <span>Inserisci i periodi di disponibilità del immobile.</span>
                    <span>E' sempre consigliabile tenere aggiornate le date.</span>
                </div>
                <div class="col-md-12 col-lg-9 no-gutter col-xl-12">
                    <div class="row">
                        <div>
                            <ul class="availability">
                                <li ng-hide="availability.isDeleted" ng-repeat="availability in AvailabilityTimeTable track by availability.uuid | filter:{isDeleted:'false'} | orderBy : '+startDate'">
                                    <div class="row" ng-show="availability.edit === undefined">
                                        <div class="col-md-12">
                                            <p>
                                                <span>Dal {{availability.startDate | date : 'dd/MM/yyyy'}}</span> <span>Al {{availability.endDate | date : 'dd/MM/yyyy'}}</span> <span>{{availability.price}}€ al {{ Lookup.LookupFee(availability.feeType).description }}</span> <span class="note hidden-xs">Note: {{availability.notes}}</span>
                                                <span class="availability_input">
                                                    <a rel="tooltip" class="btn-actions" ng-click="EditAvailability($index)" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Modifica"><i class="icon-edit icon-medium"></i></a>
                                                    <a rel="tooltip" class="btn-actions" ng-click="RemoveAvailability($index)" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Elimina"><i class="icon-trash icon-medium"></i></a>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- inline editor -->
                                    <div id="availability_inline_editor" class="availability_editor" ng-controller="InlineAvailabilityEditorController" ng-if="availability.edit != undefined">
                                        <ng-form name="inline_editor">
                                            <div class="row">
                                                <div class="col-md-3" ng-class="{'rui-input-error': inline_editor.startdate.$error.required && AvailabilityDataRequired }">
                                                    <label>
                                                        <span>Dal</span>
                                                        <input type="text" ng-click="openStartDate($event)" class="rui-input datepicker" datepicker-popup="dd/MM/yyyy" id="inlineStartdate" name="inlineStartdate" ng-model="InlineAvailability.startDate" is-open="startDateEditOpened" datepicker-options="dateOptions" ng-required="AvailabilityDataRequired" close-text="Close" show-button-bar="False" />
                                                        <button class="calendar" type="button" ng-click="openStartDate($event)"><i class="icon-calendar icon-small"></i></button>
                                                    </label>
                                                </div>
                                                <div class="col-md-3" ng-class="{'rui-input-error': inline_editor.enddate.$error.required && AvailabilityDataRequired }">
                                                    <label>
                                                        <span>Al</span>
                                                        <input type="text" ng-click="openEndDate($event)" class="rui-input datepicker" datepicker-popup="dd/MM/yyyy" id="inlineEndDate" name="inlineEndDate" ng-model="InlineAvailability.endDate" is-open="endDateEditOpened" datepicker-options="dateOptions" ng-required="AvailabilityDataRequired" close-text="Close" ng-class="{requiredfield: availability_form.endDate.$error.required}" show-button-bar="False" />
                                                        <button class="calendar" type="button" ng-click="openEndDate($event)"><i class="icon-calendar icon-small"></i></button>
                                                    </label>
                                                </div>
                                                <div class="col-md-6 no-input">
                                                    <input type="checkbox" id="isNotAvailable{{$index}}" name="isNotAvailable{{$index}}" ng-model="InlineAvailability.isNotAvailable" />
                                                    <label for="isNotAvailable{{$index}}">
                                                        <span></span>Non disponibile
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3" ng-class="{'rui-input-error': inline_editor.price.$error.required && AvailabilityDataRequired }">
                                                    <label>
                                                        <span for="availability_inline_editor_price">Prezzo</span>
                                                        <input type="text" class="rui-input" id="Period{{$index}}Price" name="Period{{$index}}Price" ng-model="InlineAvailability.price" ng-required="AvailabilityDataRequired" is-number>
                                                    </label>
                                                </div>
                                                <div class="col-xs-12 col-md-3" ng-class="{'rui-input-error': inline_editor.feetype.$error.required }">
                                                    <label ng-class="{'ie-select': isIE9}">
                                                        <span>Canone</span>
                                                        <select select-rui id="FeeType" name="feetype" class="rui-input" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" data-key-event="true" ng-model="InlineAvailability.feeType" ng-required="AvailabilityDataRequired">
                                                            <option selected="selected" value="">Seleziona</option>
                                                            <option ng-repeat="item in Lookup.FeeTypes" value="{{item.code}}" ng-selected="InlineAvailability.feeType==item.code">{{item.description}}</option>
                                                        </select>
                                                    </label>
                                                </div>
                                                <div class="col-xs-12 col-md-6 no-gutter">
                                                    <label>
                                                        <span>Note</span>
                                                        <textarea class="rui-input" id="inlineRentalForVacationNotes" name="inlineRentalForVacationNotes" maxlength="4000" ng-model="InlineAvailability.notes" ng-attr-placeholder="{{'Scrivi qui'}}"></textarea>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <span class="pull-right">
                                                    <button rel="tooltip" class="btn-actions" ng-click="Save()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Salva"><i class="icon-save icon-medium"></i></button>
                                                    <button rel="tooltip" class="btn-actions" ng-click="Cancel()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Annulla"><i class="icon-cross icon-medium"></i></button>
                                                </span>
                                            </div>
                                        </ng-form>
                                    </div>
                                    <!-- /inline editor -->
                                </li>
                            </ul>
                        </div>

                        <div id="availability_editor" class="availability_editor" ng-show="AvailabilityTimeTable.length==0 || showEditor == true">
                            <ng-form name="availability_form">
                                <div class="row">
                                    <div class="col-xs-12 col-md-3" ng-class="{'rui-input-error': availability_form.startDate.$error.required }">
                                        <label>
                                            <span for="AvailabilityStartDate">Dal*</span>
                                            <input type="text" ng-click="openStartDate($event)" class="rui-input datepicker" datepicker-popup="dd/MM/yyyy" id="startDate" name="startDate" ng-model="Availability.startDate" is-open="startDateOpened" datepicker-options="dateOptions" ng-required="AvailabilityDataRequired" close-text="Close" show-button-bar="False" />
                                            <button class="calendar" type="button" ng-click="openStartDate($event)"><i class="icon-calendar icon-small"></i></button>
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-md-3" ng-class="{'rui-input-error': availability_form.endDate.$error.required }">
                                        <label>
                                            <span for="AvailabilityEndDate">Al*</span>
                                            <input type="text" ng-click="openEndDate($event)" class="rui-input datepicker" min-date="Availability.startDate" datepicker-popup="dd/MM/yyyy" id="endDate" name="endDate" ng-model="Availability.endDate" is-open="endDateOpened" datepicker-options="dateOptions" ng-required="AvailabilityDataRequired" close-text="Close" show-button-bar="False" />
                                            <button class="calendar" type="button" ng-click="openEndDate($event)"><i class="icon-calendar icon-small"></i></button>
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-md-6 no-input">
                                        <input type="checkbox" id="isNotAvailableNew" name="isNotAvailableNew" ng-model="Availability.isNotAvailable" />
                                        <label for="isNotAvailableNew">
                                            <span></span>Non disponibile
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-3" ng-class="{'rui-input-error': availability_form.NewPeriodPrice.$error.required}">
                                        <label>
                                            <span for="RentalForVacationPrice">Prezzo*</span>
                                            <input type="text" class="rui-input" id="NewPeriodPrice" name="NewPeriodPrice" ng-model="Availability.price" ng-required="AvailabilityDataRequired" is-number />
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-md-3" ng-class="{'rui-input-error': availability_form.FeeType.$error.required }">
                                        <label ng-class="{'ie-select': isIE9}">
                                            <span>Canone*</span>
                                            <select select-rui id="FeeType2" name="FeeType" class="rui-input" data-key-event="true" ng-class="{'rui-select': !userAgentIsIE,'ie-rui-select': userAgentIsIE}" ng-model="Availability.feeType" ng-required="AvailabilityDataRequired">
                                                <option selected="selected" value="">Seleziona</option>
                                                <option ng-repeat="item in Lookup.FeeTypes" value="{{item.code}}" ng-selected="InlineAvailability.feeType==item.code">{{item.description}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-md-6 no-gutter">
                                        <label>
                                            <span>Note</span>
                                            <textarea class="rui-input" id="RentalForVacationNotes" name="RentalForVacationNotes" maxlength="4000" ng-model="Availability.notes" ng-attr-placeholder="{{'Scrivi qui'}}"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="pull-right">
                                        <button rel="tooltip" class="btn-actions" type="submit" id="addAvailabilityButton" ng-click="AddAvailability()" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Salva"><i class="icon-save icon-medium"></i></button>
                                    </span>
                                </div>
                            </ng-form>
                        </div>
                        <div class="col-md-12" ng-hide="AvailabilityTimeTable.length==0 || showEditor == true">
                            <a class="text-btn pull-left" ng-click="AddNewAvailability()"><span>Aggiungi Date</span><i class="icon-plus btn pull-left"></i></a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
</div>