﻿
<section id="geo_section">
    <div id="geo_section_container" class="row">
        <fieldset>
            <legend>Città, Zona e Indirizzo <span class="hidden-xs">* Campi Obbligatori</span></legend>
            <div class="col-lg-3 hidden-xs hidden-sm hidden-md text-justify">
                <div class="row">
                    <div class="col-md-12">
                        <img class="info-img" src="content/img/icons/ico-indir.png" data-holder-rendered="false">
                        <p>Inserisci l'indirizzo preciso dell'immobile.</p>
                        <p>Con la geolocalizzazione il tuo immobile sarà visualizzato nei risultati di tutte le ricerche in zona e su mappa.</p>
                    </div>
                </div>
            </div>
            <div ui-view="geodata" class="col-sm-12 col-md-12 col-lg-9 top-buffer no-gutter"></div>
        </fieldset>
    </div>
</section>

<section id="images_section">
    <div id="images_section_container" class="row">
        <fieldset>
            <legend>Carica le tue foto</legend>
            <div class="col-lg-3 hidden-xs hidden-sm hidden-md text-justify">
                <div class="row">
                    <div class="col-md-12">
                        <img class="info-img" src="Content/img/icons/ico-foto.png" data-holder-rendered="false" />
                        <p>Inserisci almeno una fotografia per ambiente e una dell'esterno.</p>
                        <p>Il numero e la qualità delle fotografie sono elementi molto importanti per gli utenti che cercano casa.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 top-buffer no-gutter">
                <div class="row">
                    <div ng-show="uploaderAlert" class="error-message" ng-class="{'rui-message': uploaderAlert, 'rui-error': uploaderAlert }">
                        <ul>
                            <li>
                                {{uploaderAlert}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 image-box no-gutter">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="box-upload-images">
                        <div id="photoUpd" class="photoUploaderZone" ng-class="{ 'photoUpd': (GetPictures().length==0), 'photoUpd_notEmpty': (GetPictures().length>0) }" nv-file-drop uploader="uploaderPhoto" filters="queueLimit,imageFilter,sizeFilter">
                            <div class="img-princ"> <img src="Content/img/listings/star-preferiti.png" />immagine principale</div>
                            <input type="file" id="phtUpd" uploader="uploaderPhoto" nv-file-select filters="queueLimit,imageFilter,sizeFilter" class="btnUpload" multiple ng-disabled="GetPictures().length >= 10" />
                            <p id="messageClickPhoto" ng-show="GetPictures().length == 0">
                                Clicca qui o trascina per

                                caricare fino a <span id="spPhotoCount" class="text-green">{{10 - GetPictures().length }} </span> foto
                            </p>

                            <p id="messageClickPhoto1" ng-show="GetPictures().length > 0  && GetPictures().length < uploaderPhoto.queueLimit  ">
                                Puoi caricare ancora <span id="spPhotoCount1" class="text-green">{{10 - GetPictures().length }} </span> foto
                            </p>

                            <p id="messageClickPhoto2" ng-show="GetPictures().length == uploaderPhoto.queueLimit">
                                Hai caricato tutte le foto
                            </p>
                            <!--<ul ui:sortable ng-model="pictures">-->
                            <ul class="hidden-xs hidden-sm">
                                <li ng-repeat="image in GetPictures() track by image.uuid | orderBy : '+orderIndex'" ng-class="{'fav-img':image.isFavourite}">
                                    <img class="star" ng-show="image.isFavourite" src="/Content/img/listings/star-preferiti.png" />
                                    <div class="fav-container">
                                        <img id="img-{{image.guid}}" ng-src="{{appHelper.getImageUrl(image, Listing.sites[0].listingExternalId, 90, 67)}}" />
                                    </div>
                                    <div id="btnPanelPhoto" class="hideBtnPanel">
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="SetPhotoAsFavourite(image)">
                                            <span class="ico-pref"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="DeleteImage(image)">
                                            <span class="ico-trash"></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <!-- mobile delete panel loader -->
                            <ul class="hidden-lg hidden-md">
                                <li ng-repeat="image in GetPictures() track by image.uuid | orderBy : '+orderIndex'" ng-class="{'fav-img':image.isFavourite}">
                                    <img class="star" ng-show="image.isFavourite" src="/Content/img/listings/star-preferiti.png" />
                                    <div class="fav-container">
                                        <img id="img-{{image.guid}}" ng-src="{{appHelper.getImageUrl(image, Listing.sites[0].listingExternalId, 90, 67)}}" />
                                    </div>
                                    <div id="btnPanelPhoto" class="showBtnPanel">
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="SetPhotoAsFavourite(image)">
                                            <span class="ico-pref"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="DeleteImage(image)">
                                            <span class="ico-trash"></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <!-- Uploader loader -->
                            <div loading-spinner ng-show="uploaderPhoto.isUploading" class="generic-loader"></div>
                            <!-- end loader -->
                        </div>
                    </div>
                    <p>
                        Che tipo di immagini posso caricare?<br />
                        Peso massimo: 3 MB per ciascuna foto<br />
                        Dimensione minima: 800x600 pixel<br />
                        Formati supportati: JPG,GIF,TIFF,PNG
                    </p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 no-gutter">
                    <div class="box-upload-images">
                        <div id="planUpd" class="photoUploaderZone" ng-class="{ 'planUpd': (GetPlanimetries().length==0), 'planUpd_notEmpty': (GetPlanimetries().length>0) }" nv-file-drop uploader="uploaderPlan" filters="queueLimit,imageFilter,sizeFilter">
                            <input id="planUpd" type="file" nv-file-select filters="queueLimit,imageFilter,sizeFilter" uploader="uploaderPlan" class="btnUpload" multiple ng-disabled="GetPlanimetries().length >= 4" />
                            <p id="messageClickPlan" ng-show="GetPlanimetries().length == 0">
                                Clicca qui o trascina per

                                caricare fino a <span id="btnPanelPlan" class="text-green">{{4 - GetPlanimetries().length }} </span> planimetrie
                            </p>

                            <p id="messageClickPlan1" ng-show="GetPlanimetries().length > 0 && GetPlanimetries().length < uploaderPlan.queueLimit  ">
                                Puoi caricare ancora <span id="btnPanelPlan1" class="text-green">{{4 - GetPlanimetries().length }} </span> planimetrie
                            </p>

                            <p id="messageClickPlan2" ng-show="GetPlanimetries().length == uploaderPlan.queueLimit">
                                Hai caricato<br /> tutte le planimetrie
                            </p>

                            <ul ui:sortable ng-model="uploaderPlan.queue" class="hidden-xs hidden-sm">
                                <li ng-repeat="image in GetPlanimetries() track by image.uuid | orderBy : '+orderIndex'">
                                    <img ng-src="{{appHelper.getImageUrl(image, Listing.sites[0].listingExternalId, 90, 67)}}" />
                                    <div id="btnPanelPlan" class="hideBtnPanel">
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="DeleteImage(image)">
                                            <span class="ico-trash"></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <!-- mobile delete panel loader -->
                            <ul ui:sortable ng-model="uploaderPlan.queue" class="hidden-lg hidden-md">
                                <li ng-repeat="image in GetPlanimetries() track by image.uuid | orderBy : '+orderIndex'">
                                    <img ng-src="{{appHelper.getImageUrl(image, Listing.sites[0].listingExternalId, 90, 67)}}" />
                                    <div id="btnPanelPlan" class="showBtnPanel">
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="DeleteImage(image)">
                                            <span class="ico-trash"></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <!-- Uploader loader -->
                            <div loading-spinner ng-show="uploaderPlan.isUploading" class="generic-loader"></div>
                            <!-- end loader -->
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</section>
