﻿<div>
    <ng-form name="catalogForm">
        <div class="clear"></div>
        <section id="products_section" ng-show="productCatalog.availableProductsCount > 0 && !Listing.isInCart">
            <div id="products_section_container" class="row">
                <fieldset>
                    <legend>Scegli la tipologia di annuncio</legend>
                    <div class="clear"></div>
                    <div id="subscriptions_container">
                        <div class="row">
                            <!-- subscriptions -->
                            <div class="col-sm-4 col-md-4 box selectPrd top-buffer" ng-repeat="product in productCatalog.subscriptionProducts" ng-class="{'unavailable': !product.isAvailable}">
                                <input type="radio" id="subscription_{{product.type}}_{{$index}}" name="Subscription" ng-model="$parent.SelectedSubscription" ng-value="product" ng-disabled="!product.isAvailable" ng-click="setShowProd($index)" />
                                <div class="abb_box" id="{{'subscription_box'+product.type+'_'+$index}}">
                                    <label for="{{ 'subscription_'+product.type + '_' + $index }}">
                                        <h3><span class="abb_name" ng-bind="product.name"></span><span ng-bind="product.duration"></span></h3>
                                        <img class="abb_img" ng-show="product.mostSold" src="/Content/img/products/decorations/best-selling.svg" />
                                        <img class="img-circle pull-left" ng-src="/Content/img/products/normal/{{product.image}}" data-holder-rendered="false">
                                        <p class="abb_descr">
                                            <span ng-bind="product.description"></span>
                                        </p>
                                        <div class="clear"></div>
                                        <div ng-if="product.priceInclVAT != null" class="dailyprice">
                                            <span class="lead">€ {{product.priceInclVAT}}</span>
                                        </div>
                                    </label>
                                </div>
                                <!-- depths mobile -->
                                <div id="depth_container_mobile" ng-show="applicationGlobals.xsScreenMode && SelectedSubscriptionIndex==$index" class="choose_product hidden-sm hidden-md hidden-lg">
                                    <div class="gratis" ng-show="SelectedSubscription.productSiteId==504 && SelectedSubscriptionIndex==$index">
                                        <div class="col-sm-3 col-md-12 col-lg-3">
                                            <h2>Associa un Prodotto</h2>
                                            <p class="hidden-xs">
                                                Vuoi vendere o affittare prima?<br />
                                                Aumenta l'efficacia del tuo annuncio Gratis acquistando un prodotto di visibilità.
                                            </p>
                                        </div>
                                        <div class="col-sm-9 col-md-12 col-lg-9 no-gutter">
                                            <div class="col-xs-12 col-md-4 selectPrd no-gutter" ng-repeat="dproduct in productCatalog.depthProducts" ng-class="{'unavailable': dproduct.isAvailable==false}">
                                                <input ng-disabled="dproduct.isAvailable==false" type="radio" id="depth_{{dproduct.type}}" name="DepthMobile" ng-model="$parent.$parent.SelectedDepth" ng-value="(dproduct.options.length > 1)? dproduct._childSelected : dproduct.options[0]" />
                                                <div class="abb_box" id="depth_box_mobile{{dproduct.type}}">
                                                    <label for="{{ dproduct.isAvailable==true ? 'depth_'+dproduct.type : ''}}">
                                                        <div class="col-xs-6"><img ng-src="/Content/img/products/big/{{dproduct.image}}" /></div>
                                                        <div class="hidden-xs">
                                                            <p>Il tuo annuncio</p>
                                                            <h3 ng-bind="dproduct.description"></h3>
                                                        </div>
                                                        <div class="clear hidden-xs"></div>
                                                        <div ng-if="dproduct.priceInclVAT != null" class="col-xs-6 dailyprice">
                                                            <span ng-show="dproduct.id != 7"><i class="hidden-xs icon-clock icon-xsmall"></i><label>Durata<span ng-show="dproduct.options == 1">30 giorni</span></label></span>
                                                            <select ng-show="dproduct.options.length > 1" required data-key-event="true" id="{{dproduct.type}}_durations" name="{{dproduct.type}}_durations" ng-init="dproduct._childSelected=dproduct.options[0]" ng-options="bc as bc.duration for bc in dproduct.options | filter: {isAvailable: 'true'}" ng-model="dproduct._childSelected" ng-change="$parent.$parent.SelectedDepth = dproduct._childSelected"></select>
                                                            <span class="priceText" ng-class="{'padT15': dproduct.id == 7}">
                                                                <span ng-show="dproduct.options.length === 1">€ {{dproduct.priceInclVAT}}</span>
                                                                <span ng-show="dproduct.options.length > 1">€ {{dproduct._childSelected.priceInclVAT}}</span>
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="smart" ng-show="SelectedSubscription.productSiteId==502 && SelectedSubscriptionIndex==$index">
                                        <div class="col-md-5 col-lg-6 hidden-xs hidden-sm">
                                            <h2>Annuncio Smart</h2>
                                            <h3>I prodotti di visibilità sono attivabili dalla sezione "Annunci" e utilizzabili entro il periodo di validità dell'annuncio.</h3>
                                            <ul>
                                                <li><i class="icon-ceck icon-small text-green"></i>3 mesi di validità.</li>
                                                <li><i class="icon-ceck icon-small text-green"></i>1 Annuncio SuperTOP 30 giorni.</li>
                                                <li><i class="icon-ceck icon-small text-green"></i>1 Annuncio Flash.</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-7 col-lg-6 no-gutter">
                                            <h2>SMART</h2>
                                            <h3>Porta in alto il tuo annuncio!</h3>
                                            <h4>Con l'annuncio Smart hai a disposizione:</h4>
                                            <div class="col-xs-6 col-md-6 top-buffer">
                                                <img src="/Content/img/products/big/supertop.png" />
                                                <p>
                                                    Annuncio SuperTop
                                                    <span class="lead">30 giorni</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-6 col-md-6 top-buffer no-gutter">
                                                <img src="/Content/img/products/big/flash.png" />
                                                <p>
                                                    Annuncio Flash
                                                    <span class="lead">Subito in cima!</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gold" ng-show="SelectedSubscription.productSiteId==503 && SelectedSubscriptionIndex==$index">
                                        <div class="col-md-5 col-lg-6 hidden-xs hidden-sm">
                                            <h2>Annuncio Gold</h2>
                                            <h3>I prodotti di visibilità sono attivabili dalla sezione "Annunci" e utilizzabili entro il periodo di validità dell'annuncio.</h3>
                                            <ul>
                                                <li><i class="icon-ceck icon-small text-green"></i>2 Annunci SuperTOP.</li>
                                                <li><i class="icon-ceck icon-small text-green"></i>1 Annuncio Flash.</li>
                                                <li><i class="icon-ceck icon-small text-green"></i>1 Guida “Vendi e affitta prima”.</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-7 col-lg-6 no-gutter">
                                            <h2>GOLD</h2>
                                            <h3>Il tuo annuncio sempre in prima fila!</h3>
                                            <h4>Con l'annuncio Gold hai a disposizione:</h4>
                                            <div class="col-xs-6 col-md-6 top-buffer">
                                                <img src="/Content/img/products/big/supertop.png" />
                                                <p>
                                                    2 Annunci SuperTop
                                                    <span class="lead">30 giorni</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-6 col-md-6 top-buffer">
                                                <img src="/Content/img/products/big/flash.png" />
                                                <p>
                                                    Annuncio Flash
                                                    <span class="lead">Subito in cima!</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /depths mobile -->
                            </div>
                            <!-- /subscriptions -->
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- depths desktop -->
            <div id="depths_container" class="row hidden-xs" ng-show="SelectedSubscription.productSiteId!=0">
                <div class="choose_product" ng-show="SelectedSubscription.productSiteId!=null">
                    <div class="gratis" ng-show="SelectedSubscription.productSiteId==504">
                        <div class="col-sm-3 col-md-12 col-lg-3">
                            <h2>Associa un Prodotto</h2>
                            <p class="hidden-xs">
                                Vuoi vendere o affittare prima? <br />
                                Aumenta l'efficacia del tuo annuncio Gratis acquistando un prodotto di visibilità.
                            </p>
                        </div>

                        <div class="col-sm-9 col-md-12 col-lg-9 no-gutter">
                            <div class="col-xs-12 col-sm-12 col-md-12 selectPrd no-gutter" ng-repeat="product in productCatalog.depthProducts" ng-class="{'unavailable': product.isAvailable==false}">
                                <input ng-disabled="product.isAvailable==false" type="radio" id="depth_{{product.type}}_{{$index}}" name="Depth" ng-model="$parent.SelectedDepth" ng-value="(product.options.length > 1)? product._childSelected : product.options[0]" />
                                <div class="abb_box" id="{{'depth_box_desktop'+product.type+'_'+$index}}">
                                    <label for="{{ product.isAvailable==true ? 'depth_'+product.type+'_'+$index : ''}}">
                                        <div class="col-xs-6 col-sm-4 col-md-4 text-center"><img ng-src="/Content/img/products/big/{{product.image}}" /></div>
                                        <div class="col-sm-4 col-md-4 abb_claim hidden-xs">
                                            <h3 ng-bind="product.name"></h3>
                                            <p ng-bind="product.description"></p>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-4 dailyprice">
                                            <span ng-show="product.id != 7"><i class="hidden-xs icon-clock icon-xsmall"></i><label>Durata <span ng-show="product.options.length == 1">{{product.options[0].duration}}</span></label></span>
                                            <select required ng-show="product.options.length > 1" data-key-event="true" id="{{product.type}}_durations" name="{{product.type}}_durations" ng-init="product._childSelected=product.options[0]" ng-options="bc as bc.duration for bc in product.options | filter: {isAvailable: 'true'}" ng-model="product._childSelected" ng-change="$parent.SelectedDepth = product._childSelected"></select>
                                            <span class="priceText" ng-class="{'padT15': product.id == 7}">
                                                <span ng-show="product.options.length === 1">€ {{product.priceInclVAT}}</span>
                                                <span ng-show="product.options.length > 1">€ {{product._childSelected.priceInclVAT}}</span>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="smart" ng-show="SelectedSubscription.productSiteId==502">
                        <div class="col-md-5 col-lg-6 hidden-xs hidden-sm">
                            <h2>Annuncio Smart</h2>
                            <ul>
                                <li><i class="icon-ceck icon-small text-green"></i>3 mesi di validità.</li>
                                <li><i class="icon-ceck icon-small text-green"></i>1 Annuncio SuperTOP 30 giorni.</li>
                                <li><i class="icon-ceck icon-small text-green"></i>1 Annuncio Flash.</li>
                            </ul>
                            <p>I prodotti di visibilità sono attivabili dalla sezione "Annunci" e utilizzabili entro il periodo di validità dell'annuncio.</p>
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-6 no-gutter">
                            <h2>SMART</h2>
                            <h3>Porta in alto il tuo annuncio!</h3>
                            <h4>Con l'annuncio Smart hai a disposizione:</h4>
                            <div class="col-xs-6 col-md-6 top-buffer">
                                <img src="/Content/img/products/big/supertop.png" />
                                <p>
                                    Annuncio SuperTop
                                    <span class="lead">30 giorni</span>
                                </p>
                            </div>
                            <div class="col-xs-6 col-md-6 top-buffer no-gutter">
                                <img src="/Content/img/products/big/flash.png" />
                                <p>
                                    Annuncio Flash
                                    <span class="lead">Subito in cima!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="gold" ng-show="SelectedSubscription.productSiteId==503">
                        <div class="col-md-5 col-lg-6 hidden-xs hidden-sm">
                            <h2>Annuncio Gold</h2>
                            <ul>
                                <li><i class="icon-ceck icon-small text-green"></i>2 Annunci SuperTOP.</li>
                                <li><i class="icon-ceck icon-small text-green"></i>1 Annuncio Flash.</li>
                                <li><i class="icon-ceck icon-small text-green"></i>1 Guida “Vendi e affitta prima”.</li>
                            </ul>
                            <p>I prodotti di visibilità sono attivabili dalla sezione "Annunci" e utilizzabili entro il periodo di validità dell'annuncio.</p>
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-6 no-gutter">
                            <h2>GOLD</h2>
                            <h3>Il tuo annuncio sempre in prima fila!</h3>
                            <h4>Con l'annuncio Gold hai a disposizione:</h4>
                            <div class="col-xs-6 col-md-6 top-buffer">
                                <img src="/Content/img/products/big/supertop.png" />
                                <p>
                                    2 Annunci SuperTop
                                    <span class="lead">30 giorni</span>
                                </p>
                            </div>
                            <div class="col-xs-6 col-md-6 top-buffer">
                                <img src="/Content/img/products/big/flash.png" />
                                <p>
                                    Annuncio Flash
                                    <span class="lead">Subito in cima!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /depths desktop -->
        </section>
        <section id="publish_changes_section" ng-show="productCatalog.availableProductsCount == 0 && !Listing.isInCart">
            <div id="products_section_container" class="row">
                <fieldset>
                    <legend>Pubblica le tue modifiche</legend>
                    <div class="clear"></div>
                    <div id="message_container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 box selectPrd top-buffer">
                                Al momento non puoi acquistare nessun prodotto. Clicca su Prosegui per pubblicare le tue modifiche.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
        <section id="publish_changes_section" ng-show="Listing.isInCart">
            <div id="products_section_container" class="row">
                <fieldset>
                    <legend>Pubblica le tue modifiche</legend>
                    <div class="clear"></div>
                    <div id="message_container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 box selectPrd top-buffer">
                                L'annuncio è già presente nel carrello.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </ng-form>
</div>