﻿<div>
    <section class="content">
        <!-- center content -->
        <div class="general-content">
            <form name="ListingEditForm" novalidate class="rui-form">
                <div class="panel panel-default panel-pad">
                    <div class="step_tab">
                        <ul class="nav nav-tabs">
                            <li ng-repeat="item in tabs | filter:{ tabVisible: true }" ng-class="{'active': $state.current.name === item.stateName, 'link-tab-active': !item.linkDisable()}">
                                <a ng-click="item.linkDisable() || GoTo(item.stateName)" tabindex="-1">
                                    <span class="step">{{item.id}}</span>
                                    <span class="step-name">{{item.title}}</span>
                                </a>
                            </li>
                            <!--
                            <li ng-class="{'active': $state.current.name === 'Root.ListingEdit.EstateData', 'link-tab-active': Step1IsComplete() == true && $state.current.name != 'Root.ListingEdit.EstateData'}">
                                <a href="" ng-click="GoTo('Root.ListingEdit.EstateData')" tabindex="-1">
                                    <span class="step">{{tabs['Root.ListingEdit.EstateData'].id}}</span>
                                    <span class="step-name">{{tabs['Root.ListingEdit.EstateData'].title}}</span>
                                </a>
                            </li>
                            <li ng-class="{'active': $state.current.name === 'Root.ListingEdit.GeoAndPicture', 'link-tab-active': Step2IsComplete() == true && $state.current.name != 'Root.ListingEdit.GeoAndPicture'}">
                                <a href="" ng-click="!Step1IsComplete() || GoTo('Root.ListingEdit.GeoAndPicture')" ng-disabled="!Step1IsComplete()" tabindex="-1">
                                    <span class="step">{{tabs['Root.ListingEdit.GeoAndPicture'].id}}</span>
                                    <span class="step-name">{{tabs['Root.ListingEdit.GeoAndPicture'].title}}</span>
                                </a>
                            </li>
                            <li ng-class="{'active': $state.current.name === 'Root.ListingEdit.ProductsCatalog', 'link-tab-active': Step2IsComplete() == true && $state.current.name != 'Root.ListingEdit.ProductsCatalog'}">
                                <a href="" ng-click="!Step2IsComplete() || GoTo('Root.ListingEdit.ProductsCatalog')" ng-disabled="!Step2IsComplete()" tabindex="-1">
                                    <span class="step">{{tabs['Root.ListingEdit.ProductsCatalog'].id}}</span>
                                    <span class="step-name">{{tabs['Root.ListingEdit.ProductsCatalog'].title}}</span>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="steps" ui-view="steps"></div>
                    <div class="panel-footer bg-white no-border clearfix">
                        <a type="submit" class="btn-light pull-left" id="" ng-show="$state.current.data.prevState!=null" ng-click="GoToPrevState()">Indietro</a>
                        <a type="submit" class="btn pull-right" ng-if="$state.current.data.nextState!=null && ($state.current.data.nextState!='Root.Cart' || !Listing.isInCart)" ng-click="GoToNextState()" ng-bind="(!Listing.status || Listing.status == 0 || $state.current.data.nextState != 'Root.ListingEdit.ProductsCatalog')? 'Prosegui':'Pubblica'"></a>
                        <a type="submit" class="btn pull-right" ng-if="$state.current.data.nextState!=null && $state.current.data.nextState=='Root.Cart' && Listing.isInCart" ng-click="GoToNextState()">Vai al carrello</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol">

        </div>
    </section>
</div>
