<section class="box box-default box-inline">
  <div class="box-header bg-color-info">Classe Energetica
    <span>Vecchia regolamentazione</span>
  </div>
  <div class="box-body">
    <div class="form-group row">
      <div class="col-12 col-md-4">
        <md-select name="classe-energetica" placeholder="Classe Energetica" [(ngModel)]="energyClass">
          <md-option [value]="1">Non Specificato</md-option>
          <md-option [value]="10">Non Determinabile</md-option>
          <md-option [value]="2">A+</md-option>
          <md-option [value]="3">A</md-option>
          <md-option [value]="4">B</md-option>
          <md-option [value]="5">C</md-option>
          <md-option [value]="6">D</md-option>
          <md-option [value]="7">E</md-option>
          <md-option [value]="8">F</md-option>
          <md-option [value]="9">G</md-option>
        </md-select>
      </div>
      <div class="col-12 col-md-4">
        <md-input-container class="full-width">
          <input mdInput name="IPE" placeholder="IPE" [(ngModel)]="energyPerformanceIndex">
        </md-input-container>
      </div>
      <div class="col-12 col-md-4">
        <md-select name="unita-di-misura-ipe" placeholder="Unità di Misura IPE" [(ngModel)]="energyPerformanceIndexUnitOfMeasure">
          <md-option [value]="0">kWh/m2anno</md-option>
          <md-option [value]="1">kWh/m3anno</md-option>
        </md-select>
      </div>
    </div>
  </div>
</section>