<section class="container-fluid with-maxwidth no-breadcrumbs chapter lista real-estate">

  <real-estate-search [(ContractTypeParam)]="contractType" (search)="search($event)"></real-estate-search>

  <button [routerLink]="['/app/real-estates/new']" md-raised-button color="accent" class="btn-lg btn-save-xs new">Nuovo Immobile</button>
  <div class="row" *ngIf="hasCustomFilters">
    <div class="col-12">
      <button md-button class="btn-w-md reset-search"(click)="resetSearch()"><i class="material-icons">cached</i>Rimuovi filtri</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-6" *ngFor="let realEstate of realEstates">
      <a class="item-card" [routerLink]="contractType == 'sell' ? ['/app/real-estates/lista-vendita/', realEstate.ID] : ['/app/real-estates/lista-affitto/', realEstate.ID]">
        <div class="card__image__wrapper">
          <div class="card__image" [ngStyle]="{ 'background-image': 'url(' + realEstate.MainImage + ')'}">
            <i *ngIf="!realEstate.MainImage" class="nav-icon material-icons placeholder">domain</i>
          </div>
          <span *ngIf="realEstate.ImagesCount > 0">
            <i class="nav-icon material-icons">camera_alt</i>{{realEstate.ImagesCount}}</span>
        </div>
        <div class="card__body card-white">
          <div class="card__title">
            <h4>{{realEstate.Typology}}
              <span *ngIf="realEstate.SubTypology != realEstate.Typology"> - {{realEstate.SubTypology}}</span>
            </h4>
            <h6>{{realEstate.IntendedUsesDescriptions}}</h6>
            <span class="address">
              <i class="nav-icon material-icons">room</i>{{realEstate.Address.Description}}, {{realEstate.Address.CivicNumber}} - {{realEstate.Address.Municipality.Name}}</span>
            <div class="row">
              <span class="mq col-4">
                <i class="nav-icon material-icons">border_style</i>{{realEstate.Area}} m²
                <span>Superficie</span>
              </span>
              <span class="rooms col-4">
                <i class="nav-icon material-icons">layers</i>{{realEstate.RoomNumbers}}
                <span>Locali</span>
              </span>
              <span class="baths col-4">
                <i class="fa fa-shower" aria-hidden="true"></i>{{realEstate.BathroomNumbers}}
                <span>Bagni</span>
              </span>
            </div>
          </div>

          <div class="card__price" *ngIf="contractType=='sell'">
            <span>{{realEstate.SellInformation.Price | currencyFormatPipe}}</span>
          </div>
          <div class="card__price" *ngIf="contractType=='rent'">
            <span>{{realEstate.RentInformation.Price | currencyFormatPipe}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>