<!-- <div *ngIf="childData">
  <section class="box box-default">
    <div class="box-body">
      <div class="form-group row">
        <div class="col-12 toolbox-inline">
          <button md-button class="btn-w-md">Chiudi Incarico</button>
          <button md-button class="btn-w-md">Chiudi Incarico per Penale</button>
        </div>
        <div class="col-12 ">
          <md-checkbox [(ngModel)]="childData.AutoRenew">Rinnovo automatico</md-checkbox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <input mdInput disabled placeholder="Codice Incarico" [(ngModel)]="childData.AssignmentCode">
          </md-input-container>
        </div>
        <div class="col-12 col-md-6">
          <md-select name="stato-incarico" disabled placeholder="Stato Incarico" [(ngModel)]="childData.Status">
            <md-option [value]="1">In Essere</md-option>
            <md-option [value]="2">Venduto</md-option>
            <md-option [value]="3">Chiuso</md-option>
            <md-option [value]="4">Causa Penale</md-option>
            <md-option [value]="5">Sospeso</md-option>
            <md-option [value]="6">Scaduto</md-option>
            <md-option [value]="7">Cancellato</md-option>
          </md-select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <md-select name="tipo-incarico" placeholder="Tipo Incarico" [(ngModel)]="childData.Type">
            <md-option [value]="0">Non specificato</md-option>
            <md-option [value]="1">Esclusivo</md-option>
            <md-option [value]="2">Senza esclusiva</md-option>
            <md-option [value]="3">Verbale</md-option>
            <md-option [value]="4">Ad personam</md-option>
            <md-option [value]="5">Valutazione</md-option>
            <md-option [value]="6">Ricerca</md-option>
            <md-option [value]="7">Accordo quadro</md-option>
            <md-option [value]="8">Lettera di attivazione</md-option>
            <md-option [value]="9">Sub incarico</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-6">
          <md-select name="primo-contatto" placeholder="Primo Contatto" [(ngModel)]="childData.StatoPrimoContatto">
            <md-option [value]="1">Non specificato</md-option>
            <md-option [value]="2">Attivo</md-option>
            <md-option [value]="3">Passivo</md-option>
          </md-select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <textarea mdInput name="description" #description placeholder="Descrizione" maxlength="150" rows="3"></textarea>
            <md-hint align="end">{{Description?.length || 0}} / 150</md-hint>
          </md-input-container>
        </div>
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <textarea mdInput name="note" #note placeholder="Note" maxlength="150" rows="3"></textarea>
            <md-hint align="end">{{Notes?.length || 0}} / 150</md-hint>
          </md-input-container>
        </div>
      </div>
    </div>
  </section>
  <section class="box box-inline">
    <div class="box-header bg-color-info">Date Incarico</div>
    <div class="box-body bg-color-white">
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker" mdInput name="inizio" placeholder="Inizio" [(ngModel)]="childData.StartDate">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker></md-datepicker>
        </div>
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker2" mdInput name="chiusura" placeholder="Chiusura">
            <button mdSuffix [mdDatepickerToggle]="picker2"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker2></md-datepicker>
        </div>
      </div>
    </div>
  </section>
  <section class="box box-inline">
    <div class="box-header bg-color-info">Scadenze Incarico</div>
    <div class="box-body bg-color-white">
      <div class="form-group row">
        <div class="col-12 col-md-3">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker3" mdInput name="prima" placeholder="Prima" [(ngModel)]="childData.FirstExpirationDate">
            <button mdSuffix [mdDatepickerToggle]="picker3"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker3></md-datepicker>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker4" mdInput name="seconda" placeholder="Seconda" [(ngModel)]="childData.SecondExpirationDate">
            <button mdSuffix [mdDatepickerToggle]="picker4"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker4></md-datepicker>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker5" mdInput name="terza" placeholder="Terza" [(ngModel)]="childData.ThirdExpirationDate">
            <button mdSuffix [mdDatepickerToggle]="picker5"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker5></md-datepicker>
        </div>
      </div>
    </div>
  </section>
</div> -->

<div *ngIf="!isNew">
  <section class="box box-default">
    <div class="box-body">
      <div class="form-group row">
        <div class="col-12 toolbox-inline">
          <button type="button" md-button class="btn-w-md">Chiudi Incarico</button>
          <button type="button" md-button class="btn-w-md">Chiudi Incarico per Penale</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <md-select name="stato-incarico" placeholder="Stato Incarico" disabled>
            <md-option [value]="1">In Essere</md-option>
            <md-option [value]="2">Venduto</md-option>
            <md-option [value]="3">Chiuso</md-option>
            <md-option [value]="4">Causa Penale</md-option>
            <md-option [value]="5">Sospeso</md-option>
            <md-option [value]="6">Scaduto</md-option>
            <md-option [value]="7">Cancellato</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-6">
          <md-select name="tipo-incarico" placeholder="Tipo Incarico">
            <md-option [value]="1">Non specificato</md-option>
            <md-option [value]="2">Esclusivo</md-option>
            <md-option [value]="3">Senza esclusiva</md-option>
            <md-option [value]="4">Verbale</md-option>
          </md-select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <md-input-container>
            <input mdInput name="prezzo" placeholder="Prezzo Vendita" disabled>
          </md-input-container>
          <div class="toolbox-inline">
            <button (click)="showNewPrice = !showNewPrice" md-button class="btn-w-md">Effettua Ribasso</button>
            <button (click)="showPriceHistory = !showPriceHistory" md-button class="btn-w-md">Storico Prezzi</button>
          </div>
          <md-input-container *ngIf="showNewPrice">
            <input mdInput name="nuovo-prezzo" placeholder="Nuovo prezzo vendita">
          </md-input-container>
          <ul class="price-history" *ngIf="showPriceHistory">
            <li>
              <span class="date"><i class="nav-icon material-icons">event_note</i>20/02/2018</span>
              <span class="price"><span>€330.000</span><i class="nav-icon material-icons">keyboard_backspace</i>€290.000</span>
            </li>
            <li>
              <span class="date"><i class="nav-icon material-icons">event_note</i>16/10/2017</span>
              <span class="price"><span>€350.000</span><i class="nav-icon material-icons">keyboard_backspace</i>€330.000</span>
            </li>
          </ul>
        </div>
        <div class="col-12">
          <md-input-container class="md-icon-left">
            <md-icon class="material-icons">person_add</md-icon>
            <input mdInput placeholder="Aggiungi nuovo cliente">
          </md-input-container>
          <!-- <md-autocomplete #customersAutocomplete="mdAutocomplete" [displayWith]="displayCustomerFn">
            <md-option *ngFor="let customer of filteredCustomers" [value]="customer">{{ customer.Description }}</md-option>
          </md-autocomplete> -->
          <div class="table-box table-flip-scroll">
            <table class="mdl-data-table table-bordered table-striped cf no-margin full-width">
              <thead class="cf">
                <tr>
                  <th class="numeric">Codice</th>
                  <th>Descrizione</th>
                  <th class="numeric">Telefono</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="numeric">
                    <a href="#">32</a>
                  </td>
                  <td>Gianni Rossi / Venditore</td>
                  <td class="numeric">
                    <ul>
                      <li><a href="#">3871238572</a></li>
                      <li><a href="#">3401279323</a></li>
                    </ul>
                  </td>
                  <td><a href="#">gianni.rossi@gmail.com</a></td>
                  <td>
                    <a class="delete" (click)="onDeleteCustomer(customer.ID)">
                      <i class="nav-icon material-icons">delete_forever</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="numeric">
                    <a href="#">16</a>
                  </td>
                  <td>Luca Giacomelli</td>
                  <td class="numeric">
                    <ul>
                      <li><a href="#">3871238572</a></li>
                      <li><a href="#">3401279323</a></li>
                    </ul>
                  </td>
                  <td><a href="#">luca.giacomelli@gmail.com</a></td>
                  <td>
                    <a class="delete" (click)="onDeleteCustomer(customer.ID)">
                      <i class="nav-icon material-icons">delete_forever</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <md-input-container class="full-width">
            <textarea mdInput name="note" #note placeholder="Note" maxlength="150" rows="3"></textarea>
            <md-hint align="end">{{Notes?.length || 0}} / 150</md-hint>
          </md-input-container>
        </div>
      </div>
    </div>
  </section>
  <section class="box box-inline">
    <div class="box-header bg-color-info">Date Incarico</div>
    <div class="box-body bg-color-white">
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker" mdInput name="inizio" placeholder="Inizio" [(ngModel)]="startDate">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker></md-datepicker>
        </div>
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker3" mdInput name="chiusura" placeholder="Chiusura">
            <button mdSuffix [mdDatepickerToggle]="picker3"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker3></md-datepicker>
        </div>
      </div>
    </div>
  </section>
  <section class="box box-inline">
    <div class="box-header bg-color-info">Incarichi passati</div>
    <div class="box-body">
      <div class="text-small text-muted">
        <span>Qui troverai gli incarichi chiusi, chiusi per penale o scaduti</span>
      </div>
      <ul class="assignment-timeline">
        <li>
          <span class="date"><i class="nav-icon material-icons">event_note</i>10/01/2018 - 20/02/2018</span>
          <span class="customer"><a href="#">Armando Maradona</a>, €270.000</span>
          <span>Chiuso per penale - In Esclusiva</span>
          <span class="notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </li>
        <li>
          <span class="date"><i class="nav-icon material-icons">event_note</i>16/10/2016 - 16/10/2017</span>
          <span class="customer"><a href="#">Pippo Baudo</a>, €910.000</span>
          <span>Scaduto - Senza Esclusiva</span>
        </li>
      </ul>
    </div>
  </section>
</div>

<div *ngIf="isNew">
  <section class="box box-default" style="width:100%">
    <div class="box-body">
      <div class="form-group row">
        <div class="col-12 text-small text-muted">
          <span>Compila tutti i campi correttamente per poter inserire un nuovo incarico in questo immobile</span>
        </div>
        <div class="col-12 col-md-6">
          <md-select name="tipo-incarico" placeholder="Tipo Incarico">
            <md-option [value]="1">Non specificato</md-option>
            <md-option [value]="2">Esclusivo</md-option>
            <md-option [value]="3">Senza esclusiva</md-option>
            <md-option [value]="4">Verbale</md-option>
          </md-select>
        </div>
        <div class="col-12  col-md-6">
          <md-input-container>
            <input mdInput name="prezzo" placeholder="Prezzo" disabled>
          </md-input-container>
        </div>
        <div class="col-12 associate-customer">
          <label>Clienti associati</label>
          <div class="text-small text-muted">
            <span>Seleziona i veditori/locatori tra i clienti</span>
          </div>
          <ul>
            <li><md-checkbox checked>Gianni Rossi</md-checkbox></li>
            <li><md-checkbox>Luca Giacomelli</md-checkbox></li>
          </ul>
        </div>
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker" mdInput name="inizio" placeholder="Inizio" [(ngModel)]="startDate">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker></md-datepicker>
        </div>
        <div class="col-12 col-md-6">
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker2" mdInput name="scadenza" placeholder="Scadenza" [(ngModel)]="endDate">
            <button mdSuffix [mdDatepickerToggle]="picker2"></button>
          </md-input-container>
          <md-datepicker touchUi="true" #picker2></md-datepicker>
        </div>
        <div class="col-12">
          <md-input-container class="full-width">
            <textarea mdInput name="note" #note placeholder="Note" maxlength="150" rows="3"></textarea>
            <md-hint align="end">{{Notes?.length || 0}} / 150</md-hint>
          </md-input-container>
        </div>
      </div>
    </div>
  </section>
</div>