<form #customerForm="ngForm" (ngSubmit)="onSave(customerForm)" novalidate>
  <section class="container-fluid with-maxwidth no-breadcrumbs chapter detail">
    <article class="article">
      <div class="toolbox">
        <!-- <button mat-icon-button (click)="goback()">
          <mat-icon class="material-icons">arrow_back</mat-icon>
        </button> -->
        <a mat-icon-button (click)="goback()">
          <mat-icon class="material-icons">arrow_back</mat-icon>
        </a>
        <!-- <button md-raised-button (click)="onSave(); isClicked=true" [class.disabled]="isClicked" color="accent" class="btn-save-lg">Salva</button> -->
        <button type="submit" md-raised-button [class.disabled]="isClicked" color="accent" class="btn-save-lg">Salva</button>
      </div>
      <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" (selectChange)="tabChanged($event)" [selectedIndex]="selectedTab">
        <mat-tab label="Generali">
          <section class="box box-default">
            <div class="box-body">
              <div *ngIf="customer">
                <div class="form-group row">
                  <div class="col-12 col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Codice Virtual Desk" disabled value="{{customer.ID}}">
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6">
                    <mat-error *ngIf="(customerForm.submitted) && (!customer.TipoCliente)">Specificare tipo cliente</mat-error>
                    <mat-radio-group #customerType="ngModel" [(ngModel)]="customer.TipoCliente" name="TipoCliente" class="mat-radio-group-spacing"
                      required>
                      <mat-radio-button [value]="1" md-radio-checked [ngClass]="{'has-danger': true}">Persona Fisica</mat-radio-button>
                      <mat-radio-button [value]="2">Società</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="form-group row" *ngIf="customer.TipoCliente == 2">
                  <div class="col-12 col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput [(ngModel)]="customer.CompanyName" name="CompanyName" required="customer.TipoCliente==2" placeholder="Ragione Sociale">
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput [(ngModel)]="customer.PIva" name="PIva" required="customer.TipoCliente==2" placeholder="Partita IVA">
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group row" *ngIf="customer.TipoCliente == 1">
                  <div class="col-12 col-md-3">
                    <mat-form-field class="full-width mat-icon-left">
                      <mat-icon class="material-icons">perm_identity</mat-icon>
                      <input matInput [(ngModel)]="customer.Nome" id="Name" name="Name" #Name="ngModel" required="customer.TipoCliente==1" placeholder="Nome">
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput [(ngModel)]="customer.Cognome" name="Cognome" required="customer.TipoCliente==1" placeholder="Cognome">
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-2">
                    <mat-select [(ngModel)]="customer.TipoTitolo" name="Titolo" placeholder="Titolo">
                      <mat-option [value]="1">Non Specificato</mat-option>
                      <mat-option [value]="2">Sig.</mat-option>
                      <mat-option [value]="3">Sig.ra</mat-option>
                      <mat-option [value]="4">Dr.</mat-option>
                      <mat-option [value]="5">Dr.ssa</mat-option>
                      <mat-option [value]="6">Prof.</mat-option>
                      <mat-option [value]="7">Prof.ssa</mat-option>
                      <mat-option [value]="8">Avv.</mat-option>
                      <mat-option [value]="9">Cav.</mat-option>
                      <mat-option [value]="10">Ing.</mat-option>
                      <mat-option [value]="11">Rag.</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-12 col-md-3">
                    <mat-radio-group [(ngModel)]="customer.TipoSesso" name="TipoSesso" class="mat-radio-group-spacing">
                      <mat-radio-button [value]="2">Maschio</mat-radio-button>
                      <mat-radio-button [value]="3">Femmina</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-12 col-md-4">
                    <mat-error *ngIf="(customerForm.submitted) && addressFieldsRequired()">Specificare tutti i campi indirizzo</mat-error>
                  </div>

                  <mat-form-field class="col-12 col-md-4">

                    <input matInput [(ngModel)]="customer.Address && customer.Address.Description" name="Address" placeholder="Indirizzo" [required]="addressFieldsRequired()">
                  </mat-form-field>

                  <mat-form-field class="col-6 col-md-1">
                    <input matInput [(ngModel)]="customer.Address && customer.Address.CivicNumber" name="CivicNumber" placeholder="Civico" [required]="addressFieldsRequired()">
                  </mat-form-field>

                  <mat-form-field class="col-6 col-md-2">
                    <input matInput type="text" name="PostalCode" #PostalCode number-only [allowNegative]="false" [allowDecimals]="false" [(ngModel)]="customer.Address && customer.Address.PostalCode"
                      maxlength="5" placeholder="CAP" [required]="addressFieldsRequired()">
                    <mat-hint align="end">{{(PostalCode.value) ? PostalCode.value.toString().length : 0}} / 5</mat-hint>
                  </mat-form-field>

                  <mat-form-field class="col-8 col-md-4">
                    <input matInput 
                    name="Comune" 
                    placeholder="Comune" 
                    [matAutocomplete]="cityAuto" 
                    [formControl]="citiesCtrl" 
                    [ngModel]="customer.Address.Municipality"
                    (ngModelChange)="customer.Address.Municipality = $event" 
                    [required]="addressFieldsRequired()">
                  </mat-form-field>
                  <mat-autocomplete #cityAuto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                      <span>{{ option.Name }}</span>
                    </mat-option>
                  </mat-autocomplete>

                  <!-- <mat-form-field class="col-12 col-md-4">
                    <input matInput [(ngModel)]="customer.Indirizzo && customer.Indirizzo.IdComune" name="Comune" placeholder="Comune">
                  </mat-form-field> -->
                  <div class="col-1">
                    <span mdTooltip="Localizza" mdTooltipPosition="above">
                      <button md-fab mat-primary (click)="goToLocalizeTab()">
                        <mat-icon class="material-icons">location_on</mat-icon>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="form-group row">
                  <mat-form-field class="col-6 col-md-3">
                    <input matInput [(ngModel)]="phone1" name="PhoneNumbers0" placeholder="Telefono">
                  </mat-form-field>
                  <mat-form-field class="col-6 col-md-3">
                    <input matInput [(ngModel)]="phone2" name="PhoneNumbers1" placeholder="Telefono Secondario">
                  </mat-form-field>
                  <mat-form-field class="col-6 col-md-3">
                    <input matInput [(ngModel)]="mobilePhone" name="Cellulare" placeholder="Cellulare">
                  </mat-form-field>
                  <mat-form-field class="col-6 col-md-3">
                    <input matInput [(ngModel)]="fax" name="Fax" placeholder="Fax">
                  </mat-form-field>
                </div>

                <div class="form-group row">
                  <mat-form-field class="col-12 col-md-3">
                    <input matInput [(ngModel)]="customer.EMail" #email="ngModel" name="Email" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <mat-error *ngIf="email.hasError('pattern')">Email non valida.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-12 col-md-3">
                    <input matInput [(ngModel)]="customer.EMail2" name="Email2" placeholder="Email Secondaria">
                  </mat-form-field>
                  <mat-form-field class="col-12 col-md-3">
                    <input matInput [(ngModel)]="customer.SkypeID" name="SkypeID" placeholder="Skype">
                  </mat-form-field>
                  <mat-form-field class="col-12 col-md-3">
                    <input matInput [(ngModel)]="customer.SitoInternet" name="SitoInternet" placeholder="Sito Internet">
                  </mat-form-field>
                </div>

                <div class="form-group row">
                  <mat-form-field class="col-12 col-md-3">
                    <input matInput [(ngModel)]="customer.AltriRecapiti" name="AltriRecapiti" placeholder="Altri Recapiti">
                  </mat-form-field>
                  <div class="col-12 col-md-3">
                    <mat-select mat-option-empty [(ngModel)]="customer.TipoCanalePreferito" name="TipoCanalePreferito" placeholder="Canale Preferito">
                      <mat-option [value]="1">Non specificato</mat-option>
                      <mat-option [value]="3">Email</mat-option>
                      <mat-option [value]="5">Telefono</mat-option>
                      <mat-option [value]="2">Cellulare</mat-option>
                      <mat-option [value]="4">Fax</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-12 col-md-3">
                    <mat-select mat-option-empty [(ngModel)]="customer.StatoCivile" name="StatoCivile" placeholder="Stato Civile">
                      <mat-option [value]="1">Non specificato</mat-option>
                      <mat-option [value]="2">Nubile/Celibe</mat-option>
                      <mat-option [value]="3">Coniugato/a</mat-option>
                    </mat-select>
                  </div>
                  <mat-form-field class="col-12 col-md-3">
                    <input matInput placeholder="Attività">
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-form-field class="full-width">
                    <textarea matInput [(ngModel)]="customer.Note" name="Note" #note placeholder="Note" maxlength="150" rows="3"></textarea>
                    <mat-hint align="end">{{note.value.length}} / 150</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </section>

          <section class="box box-transparent box-inline">
            <div class="box-header bg-color-info" *ngIf="customer">{{customer.TipoCliente == 2 ? 'Legale Rappresentante' : 'Dati Anagrafici'}}</div>
            <div class="box-body">
              <div *ngIf="customer">
                <form>
                  <div class="form-group row" *ngIf="customer.TipoCliente == 2">
                    <div class="col-12 col-md-4">
                      <mat-form-field class="full-width mat-icon-left">
                        <mat-icon class="material-icons">perm_identity</mat-icon>
                        <input matInput [(ngModel)]="customer.Nome" name="Nome" placeholder="Nome">
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                      <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="customer.Cognome" name="Cognome" placeholder="Cognome">
                      </mat-form-field>
                    </div>
                    <div class="col-6 col-md-2">
                      <mat-select [(ngModel)]="customer.TipoTitolo" name="Titolo" placeholder="Titolo">
                        <mat-option [value]="1">Non Specificato</mat-option>
                        <mat-option [value]="2">Sig.</mat-option>
                        <mat-option [value]="3">Sig.ra</mat-option>
                        <mat-option [value]="4">Dr.</mat-option>
                        <mat-option [value]="5">Dr.ssa</mat-option>
                        <mat-option [value]="6">Prof.</mat-option>
                        <mat-option [value]="7">Prof.ssa</mat-option>
                        <mat-option [value]="8">Avv.</mat-option>
                        <mat-option [value]="9">Cav.</mat-option>
                        <mat-option [value]="10">Ing.</mat-option>
                        <mat-option [value]="11">Rag.</mat-option>
                      </mat-select>
                    </div>
                    <div class="col-6 col-md-2">
                      <mat-select [(ngModel)]="customer.TipoSesso" name="TipoSesso" ng-model-options="{trackBy: '$value'}" placeholder="Sesso">
                        <mat-option [value]="2">Maschio</mat-option>
                        <mat-option [value]="3">Femmina</mat-option>
                      </mat-select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <mat-form-field class="col-12 col-md-4">
                      <input matInput [(ngModel)]="customer.CodiceFiscale" name="CodiceFiscale" placeholder="Codice Fiscale">
                    </mat-form-field>
                    <div class="col-12 col-md-4">
                        <mat-error *ngIf="(customerForm.submitted) && papersFieldRequired()">Specificare tutti i campi documento</mat-error>
                      </div>
                    <div class="col-12 col-md-2">
                      <mat-select [(ngModel)]="customer.TipoDocumentoPresentato" name="TipoDocumentoPresentato" #TipoDocumentoPresentato="ngModel"
                        [required]="papersFieldRequired()" placeholder="Tipo Documento">
                        <mat-option [value]="0">Non specificato</mat-option>
                        <mat-option [value]="1">Carta di Identità</mat-option>
                        <mat-option [value]="2">Patente</mat-option>
                        <mat-option [value]="3">Passaporto</mat-option>
                        <mat-option [value]="4">Porto d'armi</mat-option>
                        <mat-option [value]="5">Tessera postale</mat-option>
                        <mat-option [value]="6">Altro</mat-option>
                      </mat-select>
                    </div>
                    <mat-form-field class="col-12 col-md-3">
                      <input matInput [(ngModel)]="customer.NumeroDocumentoPresentato" name="NumeroDocumentoPresentato" [required]="papersFieldRequired()"
                        placeholder="Numero Documento">
                      <!--<mat-hint align="end">{{postalCode.value.length}} / 7</mat-hint>--></mat-form-field>
                    <mat-form-field class="col-12 col-md-3">
                      <input matInput [(ngModel)]="customer.AutoritaLuogoRilascio" [required]="papersFieldRequired()" name="AutoritaLuogoRilascio"
                        placeholder="Autorità/Luogo di Rilascio">
                    </mat-form-field>
                  </div>

                  <div class="form-group row">
                    <mat-form-field class="col-6 col-md-3">
                      <input matInput [matDatepicker]="dataRilascioPicker" [(ngModel)]="customer.DataRilascioDocumento" [required]="papersFieldRequired()" name="DataRilascioDocumento"
                        placeholder="Data Rilascio">
                      <!-- <button matSuffix [matDatepickerToggle]="picker"></button> -->
                      <mat-datepicker-toggle [for]="dataRilascioPicker"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                    <mat-form-field class="col-6 col-md-3">
                      <input matInput [matDatepicker]="dataScadenzaPicker" [(ngModel)]="customer.DataScadenzaDocumento" [required]="papersFieldRequired()" name="DataScadenzaDocumento"
                        placeholder="Data Scadenza">
                      <!-- <button matSuffix [matDatepickerToggle]="picker2"></button> -->
                      <mat-datepicker-toggle [for]="dataScadenzaPicker"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </mat-tab>

        <mat-tab label="Localizzazione">
          <div *ngIf="customer">
            <geolocalization [description]="customer.Address.Description" [municipality]="customer.Address.Municipality?.Name" [civicNumber]="customer.Address.CivicNumber"
              [postalCode]="customer.Address.PostalCode" [latitude]="customer.Address.Latitude" [longitude]="customer.Address.Longitude"
              (coordinatesChange)="onCoordinatesChange($event)">
            </geolocalization>
          </div>
        </mat-tab>

        <mat-tab label="Privacy">
          <div *ngIf="customer">
            <section class="box box-default">
              <div class="box-body with-maxwidth-sm">
                <p>
                  <b>Il cliente ricevuta l'informativa ai sensi dell'art.13, D.Lgs. 196/03, ha rilasciato i seguenti consensi:</b>
                </p>
                <mat-checkbox name="advertisementPrivacy" [checked]="true" [(ngModel)]="customer.PrivacySettings.Pubblicitario">Al trattamento dei suoi dati personali per l’invio di materiale promozionale e pubblicitario inerente i servizi
                  erogati dall’affiliante nonché da società affiliate a, controllanti di, controllate da, soggette a comune
                  controllo con, collegate a, o convenzionate con l’affiliante.</mat-checkbox>
                <mat-checkbox name="marketingPrivacy" [checked]="false" [(ngModel)]="customer.PrivacySettings.RicercheMercato">Alla comunicazione dei suoi dati personali all’affiliante nonché a società affiliate a, controllanti di,
                  controllate da, soggette a comune controllo con, collegate a, o convenzionate con l’affiliante per usufruire
                  dei servizi dalle stesse offerti nonché per l’invio diretto di materiale promozionale, di comunicazioni
                  commerciali o per il compimento di ricerche di mercato.</mat-checkbox>
              </div>
            </section>
          </div>
        </mat-tab>
      </mat-tab-group>
      <button md-raised-button type="submit" color="accent" class="btn-lg btn-save-xs">Salva</button>
      <!-- <ng-template #loading>Loading User Data...</ng-template> -->
    </article>
  </section>
</form>