<section class="box box-transparent">
  <div class="box-body">
    <div class="form-group row">
      <div class="col-12 col-md-6">
        <md-select name="Tipo" placeholder="Tipo" [(ngModel)]="imageType">
          <md-option [value]="1">Non specificato</md-option>
          <md-option [value]="2">Interni</md-option>
          <md-option [value]="3">Esterni</md-option>
          <md-option [value]="4">Planimetria</md-option>
          <md-option [value]="5">Immagine principale</md-option>
          <md-option [value]="6">Altro</md-option>
        </md-select>
      </div>
      <div class="col-12 col-md-6">
        <md-input-container class="full-width">
          <input mdInput placeholder="Descrizione" [(ngModel)]="imageDescription">
        </md-input-container>
      </div>
    </div>
    <div class="form-group row img-upload">
      <div class="col-12 col-md-6">
        <label for="file-upload" class="custom-file-upload">
          <i class="material-icons">camera_alt</i>
          <span>Scatta foto</span>
        </label>
        <input type="file" accept="image/*" capture="camera" />
      </div>
      <div class="col-12 col-md-6">
        <label for="file-upload" class="custom-file-upload no-margin">
          <i class="material-icons">file_upload</i>
          <span>Carica immagine</span>
        </label>
        <input id="file-upload" type="file" name="pic" accept="image/*" ng2FileSelect [uploader]="uploader" multiple />
      </div>
    </div>
    <div class="form-group row">
      <!-- <button md-raised-button class="btn btn-success btn-xs btn-upload" [ngClass]="{'hidden': !uploader.getNotUploadedItems().length }" (click)="uploader.uploadAll()">
        <div class="progress" [ngClass]="{'hidden': uploader.progress === 0 }">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
            <div class="progress-number">{{ uploader.progress }}%</div>
          </div>
        </div>
        Upload all
      </button> -->
      <button md-raised-button class="btn btn-success btn-xs btn-upload" [ngClass]="{'hidden': !uploader.getNotUploadedItems().length }"
        (click)="saveImages()">
        <div class="progress" [ngClass]="{'hidden': uploader.progress === 0 }">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
            <div class="progress-number">{{ uploader.progress }}%</div>
          </div>
        </div>
        Upload all
      </button>
      <div class="img-upload-wrapper col-6 col-md-3" *ngFor="let item of uploader.queue">
        <img src="" UploaderImagePreview [image]="item?._file" />
        <span *ngIf="item.isSuccess">
          <i class="material-icons">done</i>
        </span>
        <button md-icon-button (click)="onRemove(item)">
          <md-icon class="material-icons">delete</md-icon>
        </button>
      </div>
    </div>
  </div>
</section>