<div *ngIf="childData">
  <section class="box box-default box-inline">
    <div class="box-header bg-color-info">Dettaglio</div>
    <div class="box-body">
      <div class="form-group row">
        <div class="col-12 col-md-3">
          <md-select name="condizioni" placeholder="Condizioni" [(ngModel)]="childData.ApartmentCard.InternalStatus">
            <md-option [value]="1">Non specificato</md-option>
            <md-option [value]="2">Buono</md-option>
            <md-option [value]="4">Nuovo</md-option>
            <md-option [value]="6">Ristrutturato</md-option>
            <md-option [value]="7">Da ristrutturare</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-2">
          <md-input-container>
            <input mdInput type="number" name="NumeroLivelli" placeholder="Numero Livelli" [(ngModel)]="childData.ApartmentCard.LevelsCount">
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-select name="piano" placeholder="Piano" [(ngModel)]="childData.ApartmentCard.Floor">
            <md-option [value]="1">Non Specificato</md-option>
            <md-option [value]="2">Terra</md-option>
            <md-option [value]="3">Rialzato</md-option>
            <md-option [value]="4">Primo</md-option>
            <md-option [value]="5">Secondo</md-option>
            <md-option [value]="6">Terzo</md-option>
            <md-option [value]="7">Quarto</md-option>
            <md-option [value]="8">Quinto</md-option>
            <md-option [value]="9">Sesto</md-option>
            <md-option [value]="10">Settimo</md-option>
            <md-option [value]="11">Ottavo</md-option>
            <md-option [value]="12">Nono</md-option>
            <md-option [value]="13">Decimo</md-option>
            <md-option [value]="14">Undicesimo</md-option>
            <md-option [value]="15">Dodicesimo</md-option>
            <md-option [value]="16">Tredicesimo</md-option>
            <md-option [value]="17">Quattordicesimo</md-option>
            <md-option [value]="18">Quindicesimo</md-option>
            <md-option [value]="19">Sedicesimo</md-option>
            <md-option [value]="20">Diciassettesimo</md-option>
            <md-option [value]="21">Diciottesimo</md-option>
            <md-option [value]="22">Diciannovesimo</md-option>
            <md-option [value]="23">Ventesimo</md-option>
            <md-option [value]="24">&gt; Ventesimo</md-option>

          </md-select>
        </div>
        <div class="col-12 col-md-2">
          <md-input-container>
            <input mdInput type="number" name="FloorsCount" placeholder="Numero Piani" [(ngModel)]="childData.ApartmentCard.FloorsCount">
          </md-input-container>
        </div>
        <div class="col-12 col-md-2">
          Ultimo
          <md-radio-group [(ngModel)]="childData.ApartmentCard.IsLastFloor" name="IsLastFloor" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-3">
          <md-input-container>
            <input mdInput type="number" name="RoomsCount" placeholder="Numero Locali" [(ngModel)]="childData.ApartmentCard.RoomsCount">
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container>
            <input mdInput type="number" name="BedroomsCount" placeholder="Numero Camera da Letto" [(ngModel)]="childData.ApartmentCard.BedroomsCount">
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container>
            <input mdInput type="number" name="BathroomsCount" placeholder="Numero Bagni" [(ngModel)]="childData.ApartmentCard.BathroomsCount">
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-select name="KitchenType" placeholder="Tipo Cucina" [(ngModel)]="childData.ApartmentCard.KitchenType">
            <md-option [value]="1">Non Specificato</md-option>
            <md-option [value]="2">Angolo Cottura</md-option>
            <md-option [value]="4">Cucina a vista</md-option>
            <md-option [value]="5">Cucina Abitabile</md-option>
            <md-option [value]="6">Cucinino</md-option>
            <md-option [value]="9">Tinello</md-option>
          </md-select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6 col-md-3">
          <md-input-container>
            <input mdInput type="number" name="BalconyCount" placeholder="Numero Balconi" [(ngModel)]="childData.ApartmentCard.BalconyCount">
          </md-input-container>
        </div>
        <div class="col-6 col-md-3">
          <md-input-container>
            <input mdInput type="number" name="TerraceCount" placeholder="Numero Terrazzi" [(ngModel)]="childData.ApartmentCard.TerraceCount">
          </md-input-container>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="box box-default box-inline">
    <div class="box-header bg-color-info">Classe Energetica
      <span>Nuova regolamentazione Ottobre 2015</span>
    </div>
    <div class="box-body">
      <div class="form-group row">
        <div class="col-12 col-md-2" style="padding-top: 15px">
          <md-checkbox name="EnergiaZero" [(ngModel)]="childData.EnergyPerformanceCertificate.EnergiaZero">Energia quasi zero</md-checkbox>
        </div>
        <div class="col-12 col-md-3">
          <md-select placeholder="Classe Energetica" name="classe-energetica" [(ngModel)]="childData.EnergyPerformanceCertificate.ClasseEnergetica">
            <md-option [value]="1">A4</md-option>
            <md-option [value]="2">A3</md-option>
            <md-option [value]="3">A2</md-option>
            <md-option [value]="4">A1</md-option>
            <md-option [value]="5">B</md-option>
            <md-option [value]="6">C</md-option>
            <md-option [value]="7">D</md-option>
            <md-option [value]="8">E</md-option>
            <md-option [value]="9">F</md-option>
            <md-option [value]="10">G</md-option>
            <md-option [value]="11">ND</md-option>
            <md-option [value]="12">NS</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container class="full-width">
            <input mdInput placeholder="EP Globale (kWh/m2anno)" name="EPGlobale" [(ngModel)]="childData.EnergyPerformanceCertificate.EPGlobale">
          </md-input-container>
        </div>
        <div class="col-12 col-md-4">
          <md-input-container class="full-width">
            <input mdInput name="IndiceRinnovabile" [(ngModel)]="childData.EnergyPerformanceCertificate.IndiceRinnovabile" placeholder="Indice prestazione energetica rinnovabile (kWh/m2anno)">
          </md-input-container>
        </div>
        <div class="col-12">
          <p>
            <strong style="display: inline-block; width: 100px;">Inverno</strong>
            <md-radio-group name="WinterSatisfaction" [(ngModel)]="childData.EnergyPerformanceCertificate.Inverno" class="md-radio-group-spacing">
              <md-radio-button value="1">
                <i class="nav-icon material-icons">sentiment_very_satisfied</i>
              </md-radio-button>
              <md-radio-button value="2">
                <i class="nav-icon material-icons">sentiment_neutral</i>
              </md-radio-button>
              <md-radio-button value="3">
                <i class="nav-icon material-icons">sentiment_very_dissatisfied</i>
              </md-radio-button>
            </md-radio-group>
          </p>
        </div>
        <div class="col-12">
          <p>
            <strong style="display: inline-block; width: 100px;">Estate</strong>
            <md-radio-group name="SummerSatisfaction" [(ngModel)]="childData.EnergyPerformanceCertificate.Estate" class="md-radio-group-spacing">
              <md-radio-button value="1">
                <i class="nav-icon material-icons">sentiment_very_satisfied</i>
              </md-radio-button>
              <md-radio-button value="2">
                <i class="nav-icon material-icons">sentiment_neutral</i>
              </md-radio-button>
              <md-radio-button value="3">
                <i class="nav-icon material-icons">sentiment_very_dissatisfied</i>
              </md-radio-button>
            </md-radio-group>
          </p>
        </div>
      </div>
    </div>
  </section> -->
  <energy-performance-certificate required="required" name="EnergyPerformanceCertificate" [(ngModel)]="childData.EnergyPerformanceCertificate"></energy-performance-certificate>

  <!-- <section class="box box-default box-inline">
    <div class="box-header bg-color-info">Classe Energetica
      <span>Vecchia regolamentazione</span>
    </div>
    <div class="box-body">
      <div class="form-group row">
        <div class="col-12 col-md-4">
          <md-select name="classe-energetica" placeholder="Classe Energetica" [(ngModel)]="childData.ApartmentCard.EnergyClass">
            <md-option [value]="1">Non Specificato</md-option>
            <md-option [value]="10">Non Determinabile</md-option>
            <md-option [value]="2">A+</md-option>
            <md-option [value]="3">A</md-option>
            <md-option [value]="4">B</md-option>
            <md-option [value]="5">C</md-option>
            <md-option [value]="6">D</md-option>
            <md-option [value]="7">E</md-option>
            <md-option [value]="8">F</md-option>
            <md-option [value]="9">G</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-4">
          <md-input-container class="full-width">
            <input mdInput name="IPE" placeholder="IPE" [(ngModel)]="childData.ApartmentCard.IPE">
          </md-input-container>
        </div>
        <div class="col-12 col-md-4">
          <md-select name="unita-di-misura-ipe" placeholder="Unità di Misura IPE" [(ngModel)]="childData.ApartmentCard.IPEUnit">
            <md-option [value]="0">kWh/m2anno</md-option>
            <md-option [value]="1">kWh/m3anno</md-option>
          </md-select>
        </div>
      </div>
    </div>
  </section> -->
  <energetic-certification name="EnergeticCertification" [(ngModel)]="childData.ApartmentCard.EnergeticCertification"></energetic-certification>

  <section class="box box-default box-inline">
    <div class="box-header bg-color-info">Impianti</div>
    <div class="box-body">
      <div class="form-group row">
        <div class="col-12 col-md-3 spaced">
          Antifurto
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasAlarm" name="HasAlarm" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-12 col-md-3 spaced">
          Riscaldamento
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasHeatingSystem" name="HasHeatingSystem" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-3">
          <md-select name="TipoCondizionamento" placeholder="Condizionamento" [(ngModel)]="childData.ApartmentCard.TipoCondizionamento">
            <md-option [value]="1">Presente</md-option>
            <md-option [value]="2">Assente</md-option>
            <md-option [value]="3">Predisposto</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-3">
          <md-select name="tipo-riscaldamento" placeholder="Tipo" [(ngModel)]="childData.ApartmentCard.TipoRiscaldamentoImpianto">
            <md-option [value]="1">Presente</md-option>
            <md-option [value]="2">Assente</md-option>
            <md-option [value]="3">Predisposto</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-3">
          <md-select name="fonte-riscaldamento" placeholder="Fonte" [(ngModel)]="childData.ApartmentCard.TipoRiscaldamentoFonte">
            <md-option [value]="1">Presente</md-option>
            <md-option [value]="2">Assente</md-option>
            <md-option [value]="3">Predisposto</md-option>
          </md-select>
        </div>
        <div class="col-12 col-md-3">
          <md-select name="apparecchi-riscaldamento" placeholder="Apparecchi" [(ngModel)]="childData.ApartmentCard.TipoRiscaldamentoApparecchi">
            <md-option [value]="1">Presente</md-option>
            <md-option [value]="2">Assente</md-option>
            <md-option [value]="3">Predisposto</md-option>
          </md-select>
        </div>
      </div>
    </div>
  </section>
  <section class="box box-default box-inline">
    <div class="box-header bg-color-info">Pertinenze</div>
    <div class="box-body">
      <div class="form-group row">
        <div class="col-12">
          <md-input-container class="full-width">
            <input mdInput name="SpeseCondominialiMensili" placeholder="Spese condominiali mensili" [(ngModel)]="childData.ApartmentCard.SpeseCondominialiMensili">
          </md-input-container>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-3 spaced">
          Cantina
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasCellar" name="HasCellar" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-12 col-md-3 spaced">
          Giardino
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasPrivateGarden" name="HasPrivateGarden" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-12 col-md-3 spaced">
          Piscina
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasPrivateSwimmingPool" name="HasPrivateSwimmingPool" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-12 col-md-3 spaced">
          Ascensore
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasElevator" name="HasElevator" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-3 spaced">
          Citofono
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasIntercom" name="HasIntercom" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-12 col-md-3 spaced">
          Videocitofono
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasVideoIntercom" name="HasVideoIntercom" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-12 col-md-3 spaced">
          Portineria
          <md-radio-group [(ngModel)]="childData.ApartmentCard.HasReception" name="HasReception" class="md-radio-group-tristate">
            <md-radio-button [value]=true>SI</md-radio-button>
            <md-radio-button [value]=false>NO</md-radio-button>
            <md-radio-button [value]="">N.D.</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-12 col-md-3 spaced">
          <md-input-container class="full-width">
            <input mdInput placeholder="Anno di costruzione" [(ngModel)]="childData.ApartmentCard.ConstructionYear" name="ConstructionYear">
          </md-input-container>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-3">
          <md-input-container>
            <input mdInput type="number" placeholder="Numero Box" [(ngModel)]="childData.ApartmentCard.GaragesCount" name="GaragesCount">
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container>
            <input mdInput type="number" placeholder="Numero posti auto cop." [(ngModel)]="childData.ApartmentCard.NumeroPostiAutoCoperti" name="NumeroPostiAutoCoperti">
          </md-input-container>
        </div>
        <div class="col-12 col-md-3">
          <md-input-container>
            <input mdInput type="number" placeholder="Numero posti auto scop." [(ngModel)]="childData.ApartmentCard.NumeroPostiAutoScoperti" name="NumeroPostiAutoScoperti">
          </md-input-container>
        </div>
      </div>
    </div>
  </section>
</div>