﻿<section class="content">
    <!-- center content -->
    <div class="general-content userProfile">
        <div class="panel panel-default panel-pad">
            <div>
                <form name="userProfileForm" class="rui-form" novalidate>
                    <fieldset class="row">
                        <legend>I tuoi dati<span class="hidden-xs">Campi Obbligatori</span></legend>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="error-message" ng-class="{'rui-message': userProfileFormMessage,'rui-error': userProfileFormMessage,'rui-success': userProfileSucceed}" ng-show="userProfileFormMessage" ng-bind="userProfileFormMessage">
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <label class="form-group rui-form-element col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-class="{'rui-input-error': (userProfileForm.firstname.$error.required && userProfileForm.firstname.$dirty || userProfileForm.firstname.$error.required && userProfileForm.firstname.$pristine && userProfileFormMessage)}">
                            <span>Nome</span>
                            <input class="form-control rui-input" id="name" name="firstname" type="text" ng-model="userProfile.name" required placeholder="Nome" ng-disabled="editNameLastName" />
                        </label>
                        <label class="form-group rui-form-element col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-class="{'rui-input-error': (userProfileForm.lastname.$error.required && userProfileForm.lastname.$dirty || userProfileForm.lastname.$error.required && userProfileForm.lastname.$pristine && userProfileFormMessage)}">
                            <span>Cognome</span>
                            <input class="form-control rui-input" id="lastname" name="lastname" type="text" ng-model="userProfile.lastName" required placeholder="Cognome" ng-disabled="editNameLastName" />
                        </label>
                        <button class="no-input" ng-class="{'btn-dark': editNameLastName,'btn': !editNameLastName}" type="submit" ng-click="update();">{{editNameLastName ? "Modifica" : "Salva"}}</button>
                    </fieldset>
                </form>
                <form name="emailForm" class="rui-form" novalidate>
                    <fieldset class="row">
                        <legend>I tuoi recapiti<span class="hidden-xs">Campi Obbligatori</span></legend>
                        <p>
                            Per poter verificare prima un annuncio dobbiamo verificare che l'Email ed il Telefono indicati ti appartengano<br />
                            Puoi avviare il processo di verifica in ogni momento cliccando sul pulsante verifica.
                        </p>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="error-message" ng-class="{'rui-message': Message,'rui-error': Message, 'rui-success': editPhoneNumberSucceed}" ng-show="Message" ng-bind="Message">
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="form-group rui-form-element" ng-class="{'rui-input-error': (emailForm.emailField.$error.required && emailForm.emailField.$dirty || emailForm.emailField.$error.pattern && emailForm.emailField.$dirty || emailForm.emailField.$error.required && emailForm.emailField.$pristine && Message)}">
                                <span>Email</span>
                                <input class="form-control rui-input" id="email" type="text" name="emailField" ng-model="userProfile.emailField" ng-pattern="email_validator" required placeholder="Email" ng-disabled="!editEmail" />
                                <button ng-class="{'btn-dark': !editEmail,'btn': editEmail}" id="modifybutton" ng-click="verifyMail()">{{editEmail == false && userProfile.tempNewEmailToReplace == null? "Modifica" : "Verifica"}}</button>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-input">
                            <label class="form-group rui-form-element" ng-show="userProfile.isEmailVerified && userProfile.tempNewEmailToReplace == null">
                                <span class="emailVerified"><i class="icon-ceck icon-small text-green"></i>Indirizzo email verificato</span>
                            </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-input marB15" ng-show="userProfile.tempNewEmailToReplace != null">
                            <label class="form-group rui-form-element">
                                <span>Finchè non verificherai la mail continuerai a ricevere comunicazioni all'indirizzo <strong>{{userProfile.eMail}}</strong> <br /></span>
                                <a ng-click="cancelVerifyMail()">Annulla la modifica dell'email</a>
                            </label>
                        </div>
                        <div class="clearfix margin"></div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-show="MessageTel">
                            <div class="error-message" ng-class="{'rui-message': MessageTel,'rui-error': MessageTel}" ng-bind="MessageTel">
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 rui-form-icon">
                            <label class="form-group rui-form-element" ng-class="{'rui-input-error': (emailForm.phoneMainNr.$error.required && emailForm.phoneMainNr.$dirty || emailForm.phoneMainNr.$error.required && emailForm.phoneMainNr.$pristine && Message)}">
                                <span>Numero di cellulare</span>
                                <i class="rui-icon bg-gray-dark">+39</i>
                                <input class="form-control rui-input" name="phoneMainNr" type="text" ng-model="userProfile.phoneMainNr" required placeholder="Telefono" ng-disabled="editPhoneNumber" maxlength="10" ng-pattern="/^3\d{2}\d{6,7}$/" is-number />             
                                <button ng-show="PhoneValStatus == 1" class="btn-dark" ng-click="updatePhoneNumber()">Modifica</button>
                                <button ng-show="PhoneValStatus == 0" ng-click="VerifyPhone()" class="btn">Verifica</button>
                            </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" ng-class="{'marT22' : PhoneValStatus > 1}">
                            <label class="form-group rui-form-element" ng-show="PhoneValStatus == 1">
                                <span class="phoneVerified"><i class="icon-ceck icon-small text-green"></i>Numero di telefono verificato</span>
                            </label>
                            <span class="alertPhone" ng-show="PhoneValStatus == 0">Per pubblicare un annuncio è necessario verificare il numero di telefono</span>
                            <div>
                                <input type="checkbox" ng-model="HideCustomerPhone" ng-disabled="editPhoneNumber" id="showHideTel" />
                                <label for="showHideTel" class="showHideTel"><span></span><small>Non mostrare il numero di telefono nell'annuncio</small></label>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="marB15 col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-class="{'captchaHeight' : PhoneValStatus == 2}" ng-show="PhoneValStatus > 1">
                            <phone-validator data-site="admin" data-callback="callbackPhoneValidatorCompact" data-mode="compact" style="position: relative;" class="phone-validator"></phone-validator>
                            <a ng-show="PhoneValStatus > 1" ng-click="cancelModifyPhone()" class="text-black annulla" title="Annulla">Annulla</a>
                        </div>
                    </fieldset>
                </form>
                <div ng-init="casaPhoneValidator.init()"></div>
                <script type="text/ng-template" id="modalTemplate.html">
                    <div class="userModal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Ti abbiamo inviato una mail</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                <i class="icon-mail"></i>
                                <span>
                                    Abbiamo inviato un'email di verifica all'indirizzo <strong>{{email}}</strong></br>
                                    Clicca sul link contenuto nell'email per effettuare la verifica.
                                </span>
                            </p>
                        </div>
                    </div>
                </script>

                <form name="changePasswordForm" class="rui-form" novalidate>
                    <fieldset class="row">
                        <legend>Modifica password</legend>
                        <p>
                            Codice cliente: <strong>{{userProfile.internalId}}</strong><br />
                            Inserisci una password di almeno <strong>8 caratteri</strong> contenente sia <strong>numeri</strong> che <strong>lettere</strong>.
                        </p>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="error-message" ng-class="{'rui-message': changePasswordFormMessage, 'rui-error': changePasswordFormMessage, 'rui-success': changePasswordSucceed}" ng-show="changePasswordFormMessage" ng-bind="changePasswordFormMessage">
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="rui-form-element" ng-class="{'rui-input-error': (changePasswordForm.password.$error.required && changePasswordForm.password.$dirty && !changePasswordSucceed || changePasswordForm.password.$pristine && changePasswordFormMessage && !changePasswordSucceed) || changePasswordFormErrorCode == 100}">
                                <span>Password attuale</span>
                                <input class="form-control rui-input" id="password" name="password" type="password" ng-model="Password" required placeholder="Password attuale" ng-disabled="editPassword" maxlength="12" />
                                <!--<button class="btn-light" type="submit" ng-click="changePassword(false);">{{editPassword ? "Modifica" : "Salva"}}</button>
        <button class="btn-light" type="submit" ng-hide="editPassword" ng-click="changePassword(true);">Annulla</button>-->
                            </label>
                            <label class="rui-form-element" ng-hide="editPassword" ng-class="{'rui-input-error': (changePasswordForm.newpassword.$error.pattern || changePasswordForm.newpassword.$pristine && changePasswordFormMessage && !changePasswordSucceed)}">
                                <span>Nuova password</span>
                                <input class="form-control rui-input" id="newpassword" name="newpassword" type="password" ng-model="NewPassword" required placeholder="Nuova password" ng-pattern="password_validator" maxlength="12" />
                            </label>
                            <label class="rui-form-element" ng-hide="editPassword" ng-class="{'rui-input-error': (changePasswordForm.passwordconfirm.$error.passwordConfirm && changePasswordForm.passwordconfirm.$dirty || changePasswordForm.passwordconfirm.$pristine && changePasswordFormMessage && !changePasswordSucceed)}">
                                <span>Ripeti password</span>
                                <input class="form-control rui-input" id="passwordconfirm" name="passwordconfirm" type="password" ng-model="PasswordConfirm" required placeholder="Ripeti password" ng-pattern="password_validator" data-password-confirm="NewPassword" maxlength="12" />
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-input">
                            <button class="no-input" ng-class="{'btn-dark': editPassword,'btn': !editPassword}" type="submit" ng-click="changePassword();">{{editPassword ? "Modifica" : "Salva"}}</button>
                            <a ng-hide="editPassword" ng-click="cancelchangePassword();">Annulla</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- end center content -->
    <!-- adv and widget column -->
    <div class="widget-space hidden-sm hidden-md hidden-xs" ui-view="rightCol">

    </div>
    <!-- end adv and widget column -->
</section>



