﻿<div style="width: 100%;padding: 40px 20px;">
    <div class="error-page">
        <h2 class="headline text-info"> 404</h2>
        <div class="error-content">
            <h3><i class="icon-warning text-yellow"></i>Pagina non trovata!</h3>
            <img ng-src="{{resourceMapper.getImageSrc('immagine2')}}" alt="" />
            <p>
                Il server non riesce a trovare il file o lo script che hai cercato. Controlla la URL e assicurati che il percorso inserito sia corretto.

            </p>
        </div>
    </div>
</div>
